# 将 RewriteEngine 模式打开
RewriteEngine On
# 安装目录路径
RewriteBase /
# Rewrite 系统规则请勿修改
#RewriteRule ^vod-(.*)$ index.php\?s=/home-vod-$1 [QSA,PT,L]
#RewriteRule ^news-(.*)$ index.php\?s=/home-news-$1 [QSA,PT,L]
#RewriteRule ^special-(.*)$ index.php\?s=/home-special-$1 [QSA,PT,L]
#RewriteRule ^tag-(.*)$ index.php\?s=/home-tag-$1 [QSA,PT,L]
#RewriteRule ^gb-(.*)$ index.php\?s=/home-gb-$1 [QSA,PT,L]
#RewriteRule ^cm-(.*)$ index.php\?s=/home-cm-$1 [QSA,PT,L]
#RewriteRule ^map-(.*)$ index.php\?s=/home-map-$1 [QSA,PT,L]
#RewriteRule ^my-(.*)$ index.php\?s=/home-my-$1 [QSA,PT,L]
RewriteRule ^(\w+)/?$ index.php\?s=/vod-show-list_dir-$1 [QSA,PT,L]
RewriteRule ^(\w+)/(\d+).html$ index.php\?s=/vod-detail-list_dir-$1-id-$2 [QSA,PT,L]
RewriteRule ^(\w+)/(\d+)-(\d+)-(\d+).html$ index.php\?s=/vod-type-list_dir-$1-class_id-$2-area-$3-year-$4 [QSA,PT,L]
RewriteRule ^test/(.*)$ index.php\?s=/home-test-index-page-$1 [QSA,PT,L]