<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>2015最新日本动漫-好看的动漫大全-动漫排行榜-动画片大全-{$sitename}</title>
<link rel="icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
<meta name="keywords" content="最新日本动漫，好看的动漫大全，动漫排行榜，动画片大全" />
<meta name="description" content="影视导航为您提供2015最新日本动漫，好看的动漫，动漫大全，动漫排行榜，动画片大全等免费动漫、动画片高清在线观看。" />
<link href="{$tpl}css/style.css?v2013" rel="stylesheet" />
</head>
<body>
<php>
    $vod_dm_re_riben = js_mysql_vod('cid:3;area:22;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_dm_top_riben = js_mysql_vod('cid:3;area:22;limit:10;order:vod_uptime DESC, vod_hits DESC');

    $vod_dm_re_yizhi = js_mysql_vod('cid:3;class_id:66;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_dm_top_yizhi = js_mysql_vod('cid:3;class_id:66;limit:10;order:vod_uptime DESC, vod_hits DESC');

    $vod_dm_re_gaoxiao = js_mysql_vod('cid:3;class_id:56;limit:6;order:vod_uptime DESC, sort DESC');

    $vod_dm_re_guochan = js_mysql_vod('cid:3;area:24;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_dm_top_guochan = js_mysql_vod('cid:3;area:24;limit:10;order:vod_uptime DESC, vod_hits DESC');

    $vod_dm_re_meiguo = js_mysql_vod('cid:3;area:23;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_dm_top_meiguo = js_mysql_vod('cid:3;area:23;limit:10;order:vod_uptime DESC, vod_hits DESC');

    $vod_dm_re_xinfan = js_mysql_vod('cid:3;class_id:83;limit:12;vod_uptime DESC, sort DESC');

</php>
<include file="home:pp_header" />
<include file="home:pp_nav" />
<include file="home:pp_dm_slider" />

<div class="wrapper" id="balance">
  <dl class="subCateOli">
    <dt>筛选列表</dt>
    <dd>
      <ul class="clearfix">
        <li> <a href="{$siteurl}dongman/0-0-0.html" class="current">全部</a> <a href="{$siteurl}dongman/51-0-0.html" >热血</a> <a href="{$siteurl}dongman/52-0-0.html" >恋爱</a> <a href="{$siteurl}dongman/53-0-0.html" >美少女</a> <a href="{$siteurl}dongman/54-0-0.html" >运动</a> <a href="{$siteurl}dongman/56-0-0.html" >搞笑</a> <a href="{$siteurl}dongman/55-0-0.html" >校园</a> <a href="{$siteurl}dongman/57-0-0.html" >幻想</a> <a href="{$siteurl}dongman/58-0-0.html" >冒险</a> <a href="{$siteurl}dongman/60-0-0.html" >魔幻</a> </li>
        <li> <a href="{$siteurl}dongman/0-0-0.html" class="current">全部</a> <a href="{$siteurl}dongman/0-23-0.html" >美国</a> <a href="{$siteurl}dongman/0-24-0.html" >大陆</a> <a href="{$siteurl}dongman/0-22-0.html" >日本</a> <a href="{$siteurl}dongman/0-25-0.html" >其它</a> </li>
        <li class="mo"> <a href="{$siteurl}dongman/0-0-0.html" class="current">全部</a> <a href="{$siteurl}dongman/0-0-2015.html" >2015</a> <a href="{$siteurl}dongman/0-0-2014.html" >2014</a> <a href="{$siteurl}dongman/0-0-2013.html" >2013</a> <a href="{$siteurl}dongman/0-0-2012.html" >2012</a> <a href="{$siteurl}dongman/0-0-2011.html" >2011</a> <a href="{$siteurl}dongman/0-0-2010.html" >2010</a> <a href="{$siteurl}dongman/0-0-2009.html" >2009</a> <a href="{$siteurl}dongman/0-0-2008.html" >2008</a> <a href="{$siteurl}dongman/0-0-2007.html" >2007</a> </li>
      </ul>
    </dd>
  </dl>
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="日本动漫" pos="p01"><a href="{$siteurl}dongman/0-22-0.html" title="日本动漫" target="_blank">日本动漫</a></h2>
        <a href="{$siteurl}dongman/0-22-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
          <volist name="vod_dm_re_riben" id="vod">
        <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
          <p>主演：{$vod['vod_actor']|msubstr=0,12,'utf-8',true}</p>
        </li>
          </volist>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="日本动漫排行榜"><a href="{$siteurl}top/dongman-riben.html" title="日本动漫排行榜" target="_blank">日本动漫排行榜</a></h3>
        <a href="{$siteurl}top/dongman-riben.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
          <volist name="vod_dm_top_riben" id="vod" key="i">
        <li class="<if condition='$i eq 1'>hover</if>">
          <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank" title="{$vod['vod_name']}"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" title="{$vod['vod_name']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
            <div class="imr">
              <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
              <p>类型：{$vod['vod_class_name']}</p>
              <p>主演：{$vod['vod_actor']}</p>
              <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
        </li>
          </volist>
      </ul>
    </div>
  </div>
    <div id="bdes">
        <img src="{$tpl}images/a/i_ls4.png" />
    </div>
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="益智动漫" pos="p02"><a href="{$siteurl}dongman/66-0-0.html" title="益智动漫" target="_blank">益智动漫</a></h2>
        <a href="{$siteurl}dongman/66-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
          <volist name="vod_dm_re_yizhi" id="vod" key="i">
              <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                  <p>主演：{$vod['vod_actor']}</p>
              </li>
          </volist>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="益智动漫排行榜"><a href="{$siteurl}top/dongman-yizhi.html" title="益智动漫排行榜" target="_blank">益智动漫排行榜</a></h3>
        <a href="{$siteurl}top/dongman-yizhi.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
          <volist name="vod_dm_top_yizhi" id="vod" key="i">
              <li class="<if condition='$i eq 1'>hover</if>">
                  <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank" title="{$vod['vod_name']}"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" title="{$vod['vod_name']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                      <div class="imr">
                          <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                          <p>类型：{$vod['vod_class_name']}</p>
                          <p>主演：{$vod['vod_actor']}</p>
                          <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                  </div>
                  <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
              </li>
          </volist>
      </ul>
    </div>
  </div>
  <div id="bde">
    <img src="{$tpl}images/a/i_ls4.png" />
  </div>
  <div class="banComlist clearfix">
    <div class="inTitle">
      <h2 title="搞笑专区" pos="p03"><a href="{$siteurl}dongman/56-0-0.html" title="搞笑专区" target="_blank">搞笑专区</a></h2>
      <a href="{$siteurl}dongman/56-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
    <ul class="sumgroup oneRow clearfix">
        <volist name="vod_dm_re_gaoxiao" id="vod" key="i">
            <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
        </volist>
    </ul>
  </div>
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="国产动漫" pos="p04"><a href="{$siteurl}dongman/0-24-0.html" title="国产动漫" target="_blank">国产动漫</a></h2>
        <a href="{$siteurl}dongman/0-0-98.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
          <volist name="vod_dm_re_guochan" id="vod" key="i">
              <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                  <p>主演：{$vod['vod_actor']}</p>
              </li>
          </volist>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="国产动漫排行榜"><a href="{$siteurl}top/dongman-guochan.html" title="国产动漫排行榜" target="_blank">国产动漫排行榜</a></h3>
        <a href="{$siteurl}top/dongman-guochan.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
          <volist name="vod_dm_top_guochan" id="vod" key="i">
              <li class="<if condition='$i eq 1'>hover</if>">
                  <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank" title="{$vod['vod_name']}"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" title="{$vod['vod_name']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                      <div class="imr">
                          <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                          <p>类型：{$vod['vod_class_name']}</p>
                          <p>主演：{$vod['vod_actor']}</p>
                          <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                  </div>
                  <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
              </li>
          </volist>
      </ul>
    </div>
  </div>
  <!-- 广告位：影视首页文字链 -->
  <div id="bad">
    <div class="linead">
            <img src="{$tpl}images/a/i_ls4.png" />
    </div>
  </div>
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="美国动漫" pos="p05"><a href="{$siteurl}dongman/0-23-0.html" title="美国动漫" target="_blank">美国动漫</a></h2>
        <a href="{$siteurl}dongman/0-23-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
          <volist name="vod_dm_re_meiguo" id="vod" key="i">
        <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
          <p>主演：{$vod['vod_actor']}</p>
        </li>
          </volist>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="美国动漫排行榜"><a href="{$siteurl}top/dongman-meiguo.html" title="美国动漫排行榜" target="_blank">美国动漫排行榜</a></h3>
        <a href="{$siteurl}top/dongman-meiguo.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
          <volist name="vod_dm_top_meiguo" id="vod" key="i">
              <li class="<if condition='$i eq 1'>hover</if>">
                  <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank" title="{$vod['vod_name']}"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" title="{$vod['vod_name']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                      <div class="imr">
                          <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                          <p>类型：{$vod['vod_class_name']}</p>
                          <p>主演：{$vod['vod_actor']}</p>
                          <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                  </div>
                  <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
              </li>
          </volist>
      </ul>
    </div>
  </div>
  <div class="banComlist clearfix">
    <div class="inTitle">
      <h2 title="新番动漫排行榜"><a href="{$siteurl}top/dongman-xinfan.html" title="新番动漫排行榜" target="_blank">新番动漫排行榜</a></h2>
      <a href="{$siteurl}dongman/83-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
    <ul class="sumgroup autoRow clearfix">
        <volist name="vod_dm_re_xinfan" id="vod" key="i">
            <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$siteurl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
        </volist>

    </ul>
  </div>
  <include file="home:pp_footer_nav" />
</div>

<include file="home:pp_footer" />
</body>
</html>
