<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>2015最新日本动漫-好看的动漫大全-动漫排行榜-动画片大全-{$sitename}</title>
<link rel="icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
<meta name="keywords" content="最新日本动漫，好看的动漫大全，动漫排行榜，动画片大全" />
<meta name="description" content="影视导航为您提供2015最新日本动漫，好看的动漫，动漫大全，动漫排行榜，动画片大全等免费动漫、动画片高清在线观看。" />
<link href="{$tpl}css/style.css?v2013" rel="stylesheet" />
</head>
<body>
<php>
    //同步热播
    $vod_dm_re_news = js_mysql_vod('cid:3;isfilm:3;limit:8;order:vod_year desc, vod_addtime desc');
    $vod_dm_re_guonei = js_mysql_vod('cid:3;area:1;limit:8;order:re_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_top_guonei = js_mysql_vod('cid:3;area:1;limit:10;order:top_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_re_gangju = js_mysql_vod('cid:3;area:3;limit:4;order:re_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_re_taiju = js_mysql_vod('cid:3;area:4;limit:8;order:re_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_top_taiju = js_mysql_vod('cid:3;area:4;limit:10;order:top_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_re_meiju = js_mysql_vod('cid:3;area:8;limit:8;order:re_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_top_meiju = js_mysql_vod('cid:3;area:8;limit:10;order:top_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_re_hanju = js_mysql_vod('cid:3;area:5;limit:8;order:re_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_top_hanju = js_mysql_vod('cid:3;area:5;limit:10;order:top_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_re_riju = js_mysql_vod('cid:3;area:7;limit:8;order:re_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_top_riju = js_mysql_vod('cid:3;area:7;limit:10;order:top_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_re_taiguoju = js_mysql_vod('cid:3;area:6;limit:8;order:re_sort desc,vod_year desc, vod_addtime desc');
    $vod_dm_top_taiguoju = js_mysql_vod('cid:3;area:6;limit:10;order:top_sort desc,vod_year desc, vod_addtime desc');
</php>
<include file="home:pp_header" />
<include file="home:pp_dm_slider" />
<include file="home:pp_nav" />
<div class="wrapper" id="balance">
  <dl class="subCateOli">
    <dt>筛选列表</dt>
    <dd>
      <ul class="clearfix">
        <li> <a href="{$siteurl}dongman/0-0-0.html" class="current">全部</a> <a href="{$siteurl}dongman/85-0-0.html" >热血</a> <a href="{$siteurl}dongman/288-0-0.html" >恋爱</a> <a href="{$siteurl}dongman/289-0-0.html" >美少女</a> <a href="{$siteurl}dongman/91-0-0.html" >运动</a> <a href="{$siteurl}dongman/88-0-0.html" >搞笑</a> <a href="{$siteurl}dongman/290-0-0.html" >校园</a> <a href="{$siteurl}dongman/291-0-0.html" >幻想</a> <a href="{$siteurl}dongman/244-0-0.html" >冒险</a> <a href="{$siteurl}dongman/90-0-0.html" >魔幻</a> </li>
        <li> <a href="{$siteurl}dongman/0-0-0.html" class="current">全部</a> <a href="{$siteurl}dongman/0-0-103.html" >美国</a> <a href="{$siteurl}dongman/0-0-98.html" >大陆</a> <a href="{$siteurl}dongman/0-0-99.html" >日本</a> <a href="{$siteurl}dongman/0-0-302.html" >其它</a> </li>
        <li class="mo"> <a href="{$siteurl}dongman/0-0-0.html" class="current">全部</a> <a href="{$siteurl}dongman/0-331-0.html" >2015</a> <a href="{$siteurl}dongman/0-330-0.html" >2014</a> <a href="{$siteurl}dongman/0-200-0.html" >2013</a> <a href="{$siteurl}dongman/0-118-0.html" >2012</a> <a href="{$siteurl}dongman/0-25-0.html" >2011</a> <a href="{$siteurl}dongman/0-26-0.html" >2010</a> <a href="{$siteurl}dongman/0-27-0.html" >2009</a> <a href="{$siteurl}dongman/0-28-0.html" >2008</a> <a href="{$siteurl}dongman/0-29-0.html" >2007</a> </li>
      </ul>
    </dd>
  </dl>
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="日本动漫" pos="p01"><a href="{$siteurl}dongman/0-0-99.html" title="日本动漫" target="_blank">日本动漫</a></h2>
        <a href="{$siteurl}dongman/0-0-99.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
        <li> <a href="{$siteurl}dongman/847399.html" title="可塑性记忆" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143271416269351.jpg" alt="可塑性记忆" /> <cite>可塑性记忆</cite> <em></em> </a>
          <p>主演：水柿司,艾拉,...</p>
        </li>
        <li> <a href="{$siteurl}dongman/845989.html" title="摇滚都市" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143107428924983.jpg" alt="摇滚都市" /> <cite>摇滚都市</cite> <em></em> </a>
          <p>主演：希安,秋秋,莱...</p>
        </li>
        <li> <a href="{$siteurl}dongman/823863.html" title="宝石宠物Magical Change" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143079677347821.jpg" alt="宝石宠物Magical Change" /> <cite>宝石宠物Magical Change</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/598913.html" title="高达创斗者第2季" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201504/142865295529215.jpg" alt="高达创斗者第2季" /> <cite>高达创斗者第2季</cite> <em></em> </a>
          <p>主演：神木世海,高坂...</p>
        </li>
        <li> <a href="{$siteurl}dongman/280767.html" title="龙收藏" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142718947573030.jpg" alt="龙收藏" /> <cite>龙收藏</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/702873.html" title="大家集合吧！Falcom学园 第二季" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142545911271398.jpg" alt="大家集合吧！Falcom学园 第二季" /> <cite>大家集合吧！Falcom学园 第二季</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/291765.html" title="JOJO奇妙冒险 第3季" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201502/142355569949479.jpg" alt="JOJO奇妙冒险 第3季" /> <cite>JOJO奇妙冒险 第3季</cite> <em></em> </a>
          <p>主演：迪奥·布朗度,...</p>
        </li>
        <li> <a href="{$siteurl}dongman/27914.html" title="神不在的星期天" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201309/138001206412540.jpg" alt="神不在的星期天" /> <cite>神不在的星期天</cite> <em></em> </a>
          <p>主演：丰崎爱生,浪川...</p>
        </li>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="日本动漫排行榜"><a href="{$siteurl}top/anime-japen.html" title="日本动漫排行榜" target="_blank">日本动漫排行榜</a></h3>
        <a href="{$siteurl}top/anime-japen.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
        <li class="hover">
          <div class="hisus"> <a href="{$siteurl}dongman/32827.html" class="img" target="_blank" title="奥特曼大电影"> <img src="{$siteurl}static/images/loading.gif" data-original="http://pic5.qiyipic.com/thumb/20121009/a238981.jpg" title="奥特曼大电影" alt="奥特曼大电影" /> <b>1</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/32827.html" title="奥特曼大电影" target="_blank">奥特曼大电影</a></h4>
              <p>类型：动漫,动作,科幻,...</p>
              <p>主演：南翔太,上良早紀,八戸亮,俊藤光利,小西博之</p>
              <a href="{$siteurl}dongman/32827.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>1</em><a href="{$siteurl}dongman/32827.html" target="_blank">奥特曼大电影</a><span>11306</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/708829.html" class="img" target="_blank" title="黑子的篮球"> <img src="{$siteurl}static/images/loading.gif" data-original="http://img.movie.kankan.kanimg.com/100x140/1253/fef1867dc7a589f12a4f09e4177d7547.jpg" title="黑子的篮球" alt="黑子的篮球" /> <b>2</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/708829.html" title="黑子的篮球" target="_blank">黑子的篮球</a></h4>
              <p>类型：热血</p>
              <p>主演：小野贤章,小野友树,木村良平,小野大辅,斋藤千和,细谷佳正,铃木达央,诹访部顺一,铃村健一,神谷浩史</p>
              <a href="{$siteurl}dongman/708829.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>2</em><a href="{$siteurl}dongman/708829.html" target="_blank">黑子的篮球</a><span>9391</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/701613.html" class="img" target="_blank" title="元气少女缘结神"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/05/23/youku/comic/3/V7982M39tnl.jpg" title="元气少女缘结神" alt="元气少女缘结神" /> <b>3</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/701613.html" title="元气少女缘结神" target="_blank">元气少女缘结神</a></h4>
              <p>类型：动漫,青春,搞笑...</p>
              <p>主演：三森铃子,立花慎之介,石田彰,佐藤聪美,冈本信彦</p>
              <a href="{$siteurl}dongman/701613.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>3</em><a href="{$siteurl}dongman/701613.html" target="_blank">元气少女缘结神</a><span>5810</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/30778.html" class="img" target="_blank" title="魂狩"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/12/17/funshion/comic/6/43q1539BXP1.jpg" title="魂狩" alt="魂狩" /> <b>4</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/30778.html" title="魂狩" target="_blank">魂狩</a></h4>
              <p>类型：战斗,科幻,惊悚...</p>
              <p>主演：斋贺弥月,大谷育江,平松晶子,小野坂昌也,高山南,关俊彦,伊藤美纪,江原正士</p>
              <a href="{$siteurl}dongman/30778.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>4</em><a href="{$siteurl}dongman/30778.html" target="_blank">魂狩</a><span>4701</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/25491.html" class="img" target="_blank" title="邻座的怪同学"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/07/03/youku/comic/2/2ZZ08I5F24K.jpg" title="邻座的怪同学" alt="邻座的怪同学" /> <b>5</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/25491.html" title="邻座的怪同学" target="_blank">邻座的怪同学</a></h4>
              <p>类型：动漫,言情,校园,...</p>
              <p>主演：水谷雫,吉田春</p>
              <a href="{$siteurl}dongman/25491.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>5</em><a href="{$siteurl}dongman/25491.html" target="_blank">邻座的怪同学</a><span>4453</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/36739.html" class="img" target="_blank" title="蔷薇少女"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/12/17/funshion/comic/3/P6304rBt94V.jpg" title="蔷薇少女" alt="蔷薇少女" /> <b>6</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/36739.html" title="蔷薇少女" target="_blank">蔷薇少女</a></h4>
              <p>类型：魔幻,冒险...</p>
              <p>主演：泽城美雪,千叶千惠巳,田中理惠,桑谷夏子,森永理科</p>
              <a href="{$siteurl}dongman/36739.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>6</em><a href="{$siteurl}dongman/36739.html" target="_blank">蔷薇少女</a><span>3910</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/396935.html" class="img" target="_blank" title="网球王子"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/06/25/qy/comic/3/0CT19N8Q765.jpg" title="网球王子" alt="网球王子" /> <b>7</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/396935.html" title="网球王子" target="_blank">网球王子</a></h4>
              <p>类型：动漫,青春,竞技,...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/396935.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>7</em><a href="{$siteurl}dongman/396935.html" target="_blank">网球王子</a><span>3776</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/422477.html" class="img" target="_blank" title="黑执事"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/07/11/qy/comic/5/U47Zlp71V85.jpg" title="黑执事" alt="黑执事" /> <b>8</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/422477.html" title="黑执事" target="_blank">黑执事</a></h4>
              <p>类型：动漫,魔幻...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/422477.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>8</em><a href="{$siteurl}dongman/422477.html" target="_blank">黑执事</a><span>3584</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/275935.html" class="img" target="_blank" title="金色琴弦"> <img src="{$siteurl}static/images/loading.gif" data-original="http://images.movie.xunlei.com/100x140/1115/1a36a0fbc5e0691bc3d142474437f312.jpg" title="金色琴弦" alt="金色琴弦" /> <b>9</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/275935.html" title="金色琴弦" target="_blank">金色琴弦</a></h4>
              <p>类型：其他</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/275935.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>9</em><a href="{$siteurl}dongman/275935.html" target="_blank">金色琴弦</a><span>3435</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/107441.html" class="img" target="_blank" title="亚尔斯兰战记"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/04/13/tudou/comic/9/32K0f92p8nI.jpg" title="亚尔斯兰战记" alt="亚尔斯兰战记" /> <b>10</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/107441.html" title="亚尔斯兰战记" target="_blank">亚尔斯兰战记</a></h4>
              <p>类型：冒险,热血...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/107441.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>10</em><a href="{$siteurl}dongman/107441.html" target="_blank">亚尔斯兰战记</a><span>3415</span></p>
        </li>
      </ul>
    </div>
  </div>
  广告位：热门推广 
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="益智动漫" pos="p02"><a href="{$siteurl}dongman/243-0-0.html" title="益智动漫" target="_blank">益智动漫</a></h2>
        <a href="{$siteurl}dongman/243-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
        <li> <a href="{$siteurl}dongman/876923.html" title="狗狗巡逻队" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143271419111324.jpg" alt="狗狗巡逻队" /> <cite>狗狗巡逻队</cite> <em></em> </a>
          <p>主演：Ryder</p>
        </li>
        <li> <a href="{$siteurl}dongman/857709.html" title="爱探险的朵拉 第8部" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143107430762633.jpg" alt="爱探险的朵拉 第8部" /> <cite>爱探险的朵拉 第8部</cite> <em></em> </a>
          <p>主演：朵拉,布茨...</p>
        </li>
        <li> <a href="{$siteurl}dongman/835103.html" title="少年师爷 合集版" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143079680364690.jpg" alt="少年师爷 合集版" /> <cite>少年师爷 合集版</cite> <em></em> </a>
          <p>主演：小师爷,小越,...</p>
        </li>
        <li> <a href="{$siteurl}dongman/819865.html" title="中国好绘本动画" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201504/142865300987113.jpg" alt="中国好绘本动画" /> <cite>中国好绘本动画</cite> <em></em> </a>
          <p>主演：曹冲,司马光,...</p>
        </li>
        <li> <a href="{$siteurl}dongman/747057.html" title="花园宝宝 第1部" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201502/142312030451048.jpg" alt="花园宝宝 第1部" /> <cite>花园宝宝 第1部</cite> <em></em> </a>
          <p>主演：依古比古,唔西...</p>
        </li>
        <li> <a href="{$siteurl}dongman/799627.html" title="大耳朵图图 合集版" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142718954790161.jpg" alt="大耳朵图图 合集版" /> <cite>大耳朵图图 合集版</cite> <em></em> </a>
          <p>主演：图图,图图爸爸...</p>
        </li>
        <li> <a href="{$siteurl}dongman/783419.html" title="宝宝巴士系列儿歌动画" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142622891726226.jpg" alt="宝宝巴士系列儿歌动画" /> <cite>宝宝巴士系列儿歌动画</cite> <em></em> </a>
          <p>主演：奇奇,妙妙...</p>
        </li>
        <li> <a href="{$siteurl}dongman/762915.html" title="彩色童话故事" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142545920296029.jpg" alt="彩色童话故事" /> <cite>彩色童话故事</cite> <em></em> </a>
          <p>主演：豌豆公主,丑小...</p>
        </li>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="益智动漫排行榜"><a href="{$siteurl}top/anime-yizhi.html" title="益智动漫排行榜" target="_blank">益智动漫排行榜</a></h3>
        <a href="{$siteurl}top/anime-yizhi.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
        <li class="hover">
          <div class="hisus"> <a href="{$siteurl}dongman/295195.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/04/21/qy/comic/4/T5103Px7520.jpg" alt="爱探险的朵拉" /> <b>1</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/295195.html" title="爱探险的朵拉" target="_blank">爱探险的朵拉</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/295195.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>1</em><a href="{$siteurl}dongman/295195.html" target="_blank">爱探险的朵拉</a><span>11059</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/2692.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/12/25/youku/comic/3/80B6DJ0X04I.jpg" alt="米奇与米妮" /> <b>2</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/2692.html" title="米奇与米妮" target="_blank">米奇与米妮</a></h4>
              <p>类型：搞笑,益智,亲子...</p>
              <p>主演：米奇,米妮</p>
              <a href="{$siteurl}dongman/2692.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>2</em><a href="{$siteurl}dongman/2692.html" target="_blank">米奇与米妮</a><span>7375</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/783399.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/03/06/qy/comic/4/5914zdJ685k.jpg" alt="贝瓦儿歌" /> <b>3</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/783399.html" title="贝瓦儿歌" target="_blank">贝瓦儿歌</a></h4>
              <p>类型：少儿,早教益智...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/783399.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>3</em><a href="{$siteurl}dongman/783399.html" target="_blank">贝瓦儿歌</a><span>6271</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/295203.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/04/21/qy/comic/5/K60J1d49q6Y.jpg" alt="天线宝宝" /> <b>4</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/295203.html" title="天线宝宝" target="_blank">天线宝宝</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/295203.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>4</em><a href="{$siteurl}dongman/295203.html" target="_blank">天线宝宝</a><span>3834</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/555929.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="http://img.movie.kankan.kanimg.com/100x140/1185/2b8ff158e8f3eaeaf330712975310da3.jpg" alt="大头儿子小头爸爸" /> <b>5</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/555929.html" title="大头儿子小头爸爸" target="_blank">大头儿子小头爸爸</a></h4>
              <p>类型：励志,搞笑,亲子...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/555929.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>5</em><a href="{$siteurl}dongman/555929.html" target="_blank">大头儿子小头爸爸</a><span>2359</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/741039.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="http://img.movie.kankan.kanimg.com/100x140/1185/e79b0a7832bd355afc1e43b476bab6a6.jpg" alt="大耳朵图图" /> <b>6</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/741039.html" title="大耳朵图图" target="_blank">大耳朵图图</a></h4>
              <p>类型：励志,搞笑,亲子...</p>
              <p>主演：豆豆,范楚绒,胡谦,吴磊,王肖兵,周南飞</p>
              <a href="{$siteurl}dongman/741039.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>6</em><a href="{$siteurl}dongman/741039.html" target="_blank">大耳朵图图</a><span>1997</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/295165.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/04/21/qy/comic/7/0Qi20830S9a.jpg" alt="米奇妙妙屋" /> <b>7</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/295165.html" title="米奇妙妙屋" target="_blank">米奇妙妙屋</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/295165.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>7</em><a href="{$siteurl}dongman/295165.html" target="_blank">米奇妙妙屋</a><span>1748</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/37979.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="http://pic2.qiyipic.com/thumb/20130823/a601681.jpg" alt="睡美人" /> <b>8</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/37979.html" title="睡美人" target="_blank">睡美人</a></h4>
              <p>类型：动漫,原创,电影学...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/37979.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>8</em><a href="{$siteurl}dongman/37979.html" target="_blank">睡美人</a><span>1667</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/743479.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/02/01/qy/comic/8/b6k4768TQ13.jpg" alt="托马斯和他的朋友们" /> <b>9</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/743479.html" title="托马斯和他的朋友们" target="_blank">托马斯和他的朋友们</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/743479.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>9</em><a href="{$siteurl}dongman/743479.html" target="_blank">托马斯和他的朋友们</a><span>1265</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/10529.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/11/27/huashu/comic/9/b212V5R626I.jpg" alt="神奇的游戏" /> <b>10</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/10529.html" title="神奇的游戏" target="_blank">神奇的游戏</a></h4>
              <p>类型：冒险,青春...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/10529.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>10</em><a href="{$siteurl}dongman/10529.html" target="_blank">神奇的游戏</a><span>1012</span></p>
        </li>
      </ul>
    </div>
  </div>
  <div id="bde">
    广告位：动漫横幅*2*960
  </div>
  <div class="banComlist clearfix">
    <div class="inTitle">
      <h2 title="搞笑专区" pos="p03"><a href="{$siteurl}dongman/88-0-0.html" title="搞笑专区" target="_blank">搞笑专区</a></h2>
      <a href="{$siteurl}dongman/88-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
    <ul class="sumgroup oneRow clearfix">
      <li> <a href="{$siteurl}dongman/213961.html" title="反斗家族" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201504/142865299599811.jpg" alt="反斗家族" /> <cite>反斗家族</cite> <em></em> </a>
        <p>主演：刘红韵,李旭乔...</p>
      </li>
      <li> <a href="{$siteurl}dongman/780463.html" title="那年那兔那些事儿" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143079682398097.jpg" alt="那年那兔那些事儿" /> <cite>那年那兔那些事儿</cite> <em></em> </a>
        <p>主演：未知</p>
      </li>
      <li> <a href="{$siteurl}dongman/761749.html" title="飞碟宝贝计划" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143107432961128.jpg" alt="飞碟宝贝计划" /> <cite>飞碟宝贝计划</cite> <em></em> </a>
        <p>主演：赵路,杨欧...</p>
      </li>
      <li> <a href="{$siteurl}dongman/737269.html" title="大力金刚" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142545923883836.jpg" alt="大力金刚" /> <cite>大力金刚</cite> <em></em> </a>
        <p>主演：未知</p>
      </li>
      <li> <a href="{$siteurl}dongman/725855.html" title="每日一暴合集版" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201502/142355583473835.jpg" alt="每日一暴合集版" /> <cite>每日一暴合集版</cite> <em></em> </a>
        <p>主演：王尼玛,王尼美...</p>
      </li>
      <li> <a href="{$siteurl}dongman/493145.html" title="编辑部的故事" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142173710515927.jpg" alt="编辑部的故事" /> <cite>编辑部的故事</cite> <em></em> </a>
        <p>主演：王尼玛</p>
      </li>
    </ul>
  </div>
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="国产动漫" pos="p04"><a href="{$siteurl}dongman/0-0-98.html" title="国产动漫" target="_blank">国产动漫</a></h2>
        <a href="{$siteurl}dongman/0-0-98.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
        <li> <a href="{$siteurl}dongman/144738.html" title="西游记2010版" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143271428614510.jpg" alt="西游记2010版" /> <cite>西游记2010版</cite> <em></em> </a>
          <p>主演：费振翔,陈司翰...</p>
        </li>
        <li> <a href="{$siteurl}dongman/740137.html" title="暴走撸啊撸" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143079685234135.jpg" alt="暴走撸啊撸" /> <cite>暴走撸啊撸</cite> <em></em> </a>
          <p>主演：伊泽瑞尔,塔里...</p>
        </li>
        <li> <a href="{$siteurl}dongman/652731.html" title="快乐小郑星" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142173712452301.jpg" alt="快乐小郑星" /> <cite>快乐小郑星</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/792761.html" title="云彩面包第二季" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142718957414332.jpg" alt="云彩面包第二季" /> <cite>云彩面包第二季</cite> <em></em> </a>
          <p>主演：宏贝,宏西...</p>
        </li>
        <li> <a href="{$siteurl}dongman/724077.html" title="哪鹅的奇幻之旅" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142545927632188.jpg" alt="哪鹅的奇幻之旅" /> <cite>哪鹅的奇幻之旅</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/679843.html" title="锦绣神州之奇游迹 第二季" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142657650946173.jpg" alt="锦绣神州之奇游迹 第二季" /> <cite>锦绣神州之奇游迹 第二季</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/451189.html" title="图图的智慧王国之数学系列" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142622918863729.jpg" alt="图图的智慧王国之数学系列" /> <cite>图图的智慧王国之数学系列</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/17566.html" title="巴啦啦小魔仙TV版" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142251321259981.jpg" alt="巴啦啦小魔仙TV版" /> <cite>巴啦啦小魔仙TV版</cite> <em></em> </a>
          <p>主演：魔仙小蓝,凌美...</p>
        </li>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="国产动漫排行榜"><a href="{$siteurl}top/anime-china.html" title="国产动漫排行榜" target="_blank">国产动漫排行榜</a></h3>
        <a href="{$siteurl}top/anime-china.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
        <li class="hover">
          <div class="hisus"> <a href="{$siteurl}dongman/741031.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="http://img.movie.kankan.kanimg.com/100x140/1170/e943969f037fca02b7b2e77d3131d9c5.jpg" alt="尸兄" /> <b>1</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/741031.html" title="尸兄" target="_blank">尸兄</a></h4>
              <p>类型：搞笑,冒险,热血...</p>
              <p>主演：皇贞季,宝木中阳,山新,藤新</p>
              <a href="{$siteurl}dongman/741031.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>1</em><a href="{$siteurl}dongman/741031.html" target="_blank">尸兄</a><span>33578</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/188651.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/01/05/tudou/comic/1/UC22M257yG4.jpg" alt="中国惊奇先生" /> <b>2</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/188651.html" title="中国惊奇先生" target="_blank">中国惊奇先生</a></h4>
              <p>类型：神魔|奇幻|惊悚...</p>
              <p>主演：谢添天 / 冯骏骅 / 夏磊 / 沈达威 / 杨欧</p>
              <a href="{$siteurl}dongman/188651.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>2</em><a href="{$siteurl}dongman/188651.html" target="_blank">中国惊奇先生</a><span>26981</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/783399.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/03/06/qy/comic/4/5914zdJ685k.jpg" alt="贝瓦儿歌" /> <b>3</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/783399.html" title="贝瓦儿歌" target="_blank">贝瓦儿歌</a></h4>
              <p>类型：少儿,早教益智...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/783399.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>3</em><a href="{$siteurl}dongman/783399.html" target="_blank">贝瓦儿歌</a><span>6271</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/443507.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/07/25/qy/comic/3/N41o6w1558R.jpg" alt="王牌御史" /> <b>4</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/443507.html" title="王牌御史" target="_blank">王牌御史</a></h4>
              <p>类型：动漫,冒险,搞笑,...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/443507.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>4</em><a href="{$siteurl}dongman/443507.html" target="_blank">王牌御史</a><span>6053</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/664637.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/12/12/qy/comic/10/y70v555pN4C.jpg" alt="妖怪名单" /> <b>5</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/664637.html" title="妖怪名单" target="_blank">妖怪名单</a></h4>
              <p>类型：动漫,都市,魔幻,...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/664637.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>5</em><a href="{$siteurl}dongman/664637.html" target="_blank">妖怪名单</a><span>5792</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/2584.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/12/25/youku/comic/6/O289L22E0jk.jpg" alt="小鸡不好惹之咸蛋寺" /> <b>6</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/2584.html" title="小鸡不好惹之咸蛋寺" target="_blank">小鸡不好惹之咸蛋寺</a></h4>
              <p>类型：搞笑,励志,益智,...</p>
              <p>主演：鸡小龙,金刚哥,兔玲珑,胸大鸡</p>
              <a href="{$siteurl}dongman/2584.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>6</em><a href="{$siteurl}dongman/2584.html" target="_blank">小鸡不好惹之咸蛋寺</a><span>5310</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/669097.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="http://img.movie.kankan.kanimg.com/100x140/1247/f64ba1a96a31402e61c1795b63bda4e8.jpg" alt="啦啦啦德玛西亚" /> <b>7</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/669097.html" title="啦啦啦德玛西亚" target="_blank">啦啦啦德玛西亚</a></h4>
              <p>类型：搞笑,冒险,热血...</p>
              <p>主演：音匣,V7,鬼叔,包子</p>
              <a href="{$siteurl}dongman/669097.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>7</em><a href="{$siteurl}dongman/669097.html" target="_blank">啦啦啦德玛西亚</a><span>4255</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/273449.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/04/08/huashu/comic/1/lM7T4947F8j.jpg" alt="超神游戏" /> <b>8</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/273449.html" title="超神游戏" target="_blank">超神游戏</a></h4>
              <p>类型：动漫,热血,搞笑...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/273449.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>8</em><a href="{$siteurl}dongman/273449.html" target="_blank">超神游戏</a><span>3036</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/2585.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/12/25/youku/comic/8/196S469TC22.jpg" alt="熊出没之过年" /> <b>9</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/2585.html" title="熊出没之过年" target="_blank">熊出没之过年</a></h4>
              <p>类型：亲子,益智,搞笑...</p>
              <p>主演：张秉君,张伟,辛媛,万丹青</p>
              <a href="{$siteurl}dongman/2585.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>9</em><a href="{$siteurl}dongman/2585.html" target="_blank">熊出没之过年</a><span>2364</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/555929.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="http://img.movie.kankan.kanimg.com/100x140/1185/2b8ff158e8f3eaeaf330712975310da3.jpg" alt="大头儿子小头爸爸" /> <b>10</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/555929.html" title="大头儿子小头爸爸" target="_blank">大头儿子小头爸爸</a></h4>
              <p>类型：励志,搞笑,亲子...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/555929.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>10</em><a href="{$siteurl}dongman/555929.html" target="_blank">大头儿子小头爸爸</a><span>2359</span></p>
        </li>
      </ul>
    </div>
  </div>
  <!-- 广告位：影视首页文字链 -->
  <div id="bad">
    <div class="linead">
      啦影视首页980*34 彩色标签，创建于2013-9-11
    </div>
  </div>
  <div class="comwrap clearfix">
    <div class="leftSide fl">
      <div class="inTitle">
        <h2 title="欧美动漫" pos="p05"><a href="{$siteurl}dongman/0-0-103.html" title="欧美动漫" target="_blank">欧美动漫</a></h2>
        <a href="{$siteurl}dongman/0-0-103.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
      <ul class="sumgroup entire clearfix">
        <li> <a href="{$siteurl}dongman/733193.html" title="比得兔" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143271432640711.jpg" alt="比得兔" /> <cite>比得兔</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/120465.html" title="芭比电影版合集" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201505/143079687533636.jpg" alt="芭比电影版合集" /> <cite>芭比电影版合集</cite> <em></em> </a>
          <p>主演：芭比,凯丽,爱...</p>
        </li>
        <li> <a href="{$siteurl}dongman/213959.html" title="花园小尖兵" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201504/142865305898829.jpg" alt="花园小尖兵" /> <cite>花园小尖兵</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/744223.html" title="经典大力水手" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201502/142312035352430.jpg" alt="经典大力水手" /> <cite>经典大力水手</cite> <em></em> </a>
          <p>主演：波比,奥莉沃,...</p>
        </li>
        <li> <a href="{$siteurl}dongman/495849.html" title="海底小纵队儿歌" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142234511843571.jpg" alt="海底小纵队儿歌" /> <cite>海底小纵队儿歌</cite> <em></em> </a>
          <p>主演：巴克,呱唧,皮...</p>
        </li>
        <li> <a href="{$siteurl}dongman/617645.html" title="小黄人番外篇" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142113821233481.jpg" alt="小黄人番外篇" /> <cite>小黄人番外篇</cite> <em></em> </a>
          <p>主演：小黄人,格鲁...</p>
        </li>
        <li> <a href="{$siteurl}dongman/107902.html" title="星际恐龙" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142251322832185.jpg" alt="星际恐龙" /> <cite>星际恐龙</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
        <li> <a href="{$siteurl}dongman/789801.html" title="哗哗巴士" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201503/142622921411222.jpg" alt="哗哗巴士" /> <cite>哗哗巴士</cite> <em></em> </a>
          <p>主演：未知</p>
        </li>
      </ul>
    </div>
    <div class="sideCont fr">
      <div class="inTitle">
        <h3 title="欧美动漫排行榜"><a href="{$siteurl}top/anime-oumei.html" title="欧美动漫排行榜" target="_blank">欧美动漫排行榜</a></h3>
        <a href="{$siteurl}top/anime-oumei.html" class="more" target="_blank">完整榜单>></a> </div>
      <ul class="foldlist">
        <li class="hover">
          <div class="hisus"> <a href="{$siteurl}dongman/295195.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/04/21/qy/comic/4/T5103Px7520.jpg" alt="爱探险的朵拉" /> <b>1</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/295195.html" title="爱探险的朵拉" target="_blank">爱探险的朵拉</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/295195.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>1</em><a href="{$siteurl}dongman/295195.html" target="_blank">爱探险的朵拉</a><span>11059</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/2692.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/12/25/youku/comic/3/80B6DJ0X04I.jpg" alt="米奇与米妮" /> <b>2</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/2692.html" title="米奇与米妮" target="_blank">米奇与米妮</a></h4>
              <p>类型：搞笑,益智,亲子...</p>
              <p>主演：米奇,米妮</p>
              <a href="{$siteurl}dongman/2692.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>2</em><a href="{$siteurl}dongman/2692.html" target="_blank">米奇与米妮</a><span>7375</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/295203.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/04/21/qy/comic/5/K60J1d49q6Y.jpg" alt="天线宝宝" /> <b>3</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/295203.html" title="天线宝宝" target="_blank">天线宝宝</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/295203.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>3</em><a href="{$siteurl}dongman/295203.html" target="_blank">天线宝宝</a><span>3834</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/777567.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/03/02/qy/comic/6/H427934Fb2K.jpg" alt="变形金刚" /> <b>4</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/777567.html" title="变形金刚" target="_blank">变形金刚</a></h4>
              <p>类型：动漫,机战,冒险...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/777567.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>4</em><a href="{$siteurl}dongman/777567.html" target="_blank">变形金刚</a><span>2632</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/744225.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/02/02/qy/comic/9/96F2Jc54y9Z.jpg" alt="忍者神龟" /> <b>5</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/744225.html" title="忍者神龟" target="_blank">忍者神龟</a></h4>
              <p>类型：动漫,动作,热血,...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/744225.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>5</em><a href="{$siteurl}dongman/744225.html" target="_blank">忍者神龟</a><span>2413</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/597477.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/10/29/qy/comic/9/50941ZU1s12.jpg" alt="芭比之梦想豪宅" /> <b>6</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/597477.html" title="芭比之梦想豪宅" target="_blank">芭比之梦想豪宅</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/597477.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>6</em><a href="{$siteurl}dongman/597477.html" target="_blank">芭比之梦想豪宅</a><span>1858</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/295165.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/04/21/qy/comic/7/0Qi20830S9a.jpg" alt="米奇妙妙屋" /> <b>7</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/295165.html" title="米奇妙妙屋" target="_blank">米奇妙妙屋</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/295165.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>7</em><a href="{$siteurl}dongman/295165.html" target="_blank">米奇妙妙屋</a><span>1748</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/743479.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2015/02/01/qy/comic/8/b6k4768TQ13.jpg" alt="托马斯和他的朋友们" /> <b>8</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/743479.html" title="托马斯和他的朋友们" target="_blank">托马斯和他的朋友们</a></h4>
              <p>类型：少儿,动画...</p>
              <p>主演：未知</p>
              <a href="{$siteurl}dongman/743479.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>8</em><a href="{$siteurl}dongman/743479.html" target="_blank">托马斯和他的朋友们</a><span>1265</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/17652.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2013/12/17/funshion/comic/9/9g29E41298m.jpg" alt="小羊肖恩" /> <b>9</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/17652.html" title="小羊肖恩" target="_blank">小羊肖恩</a></h4>
              <p>类型：动漫,竞技,童话,...</p>
              <p>主演：Shaun,Timmy</p>
              <a href="{$siteurl}dongman/17652.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>9</em><a href="{$siteurl}dongman/17652.html" target="_blank">小羊肖恩</a><span>897</span></p>
        </li>
        <li >
          <div class="hisus"> <a href="{$siteurl}dongman/36277.html" class="img" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/2014/09/25/huashu/comic/8/Y6058S7I074.jpg" alt="巴巴爸爸" /> <b>10</b> </a>
            <div class="imr">
              <h4><a href="{$siteurl}dongman/36277.html" title="巴巴爸爸" target="_blank">巴巴爸爸</a></h4>
              <p>类型：电视,外语...</p>
              <p>主演：巴巴爸爸,巴巴妈妈,巴巴祖,巴巴拉拉</p>
              <a href="{$siteurl}dongman/36277.html" class="p" target="_blank">立即播放</a> </div>
          </div>
          <p><em>10</em><a href="{$siteurl}dongman/36277.html" target="_blank">巴巴爸爸</a><span>897</span></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="banComlist clearfix">
    <div class="inTitle">
      <h2 title="欧美动漫排行榜"><a href="{$siteurl}top/anime-oumei.html" title="欧美动漫排行榜" target="_blank">欧美动漫排行榜</a></h2>
      <a href="{$siteurl}dongman/244-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
    <ul class="sumgroup autoRow clearfix">
      <li> <a href="{$siteurl}dongman/17537.html" title="芭比之公主学校" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142130349452747.jpg" alt="芭比之公主学校" /> <cite>芭比之公主学校</cite> <em></em> </a>
        <p>主演：Blair,H...</p>
      </li>
      <li> <a href="{$siteurl}dongman/107666.html" title="小淘气翠儿" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142113822977711.jpg" alt="小淘气翠儿" /> <cite>小淘气翠儿</cite> <em></em> </a>
        <p>主演：未知</p>
      </li>
      <li> <a href="{$siteurl}dongman/398293.html" title="泰山" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142051167799400.jpg" alt="泰山" /> <cite>泰山</cite> <em></em> </a>
        <p>主演：未知</p>
      </li>
      <li> <a href="{$siteurl}dongman/107629.html" title="跩鸭子" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201501/142070928072926.jpg" alt="跩鸭子" /> <cite>跩鸭子</cite> <em></em> </a>
        <p>主演：未知</p>
      </li>
      <li> <a href="{$siteurl}dongman/30750.html" title="怪诞小镇" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/141992344023607.jpg" alt="怪诞小镇" /> <cite>怪诞小镇</cite> <em></em> </a>
        <p>主演：杰森·雷特,克...</p>
      </li>
      <li> <a href="{$siteurl}dongman/17549.html" title="小小猫和老鼠" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/142000838436651.jpg" alt="小小猫和老鼠" /> <cite>小小猫和老鼠</cite> <em></em> </a>
        <p>主演：汤姆,杰瑞...</p>
      </li>
      <li> <a href="{$siteurl}dongman/2695.html" title="帅哥米奇" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/141949614280620.jpg" alt="帅哥米奇" /> <cite>帅哥米奇</cite> <em></em> </a>
        <p>主演：米奇,米妮...</p>
      </li>
      <li> <a href="{$siteurl}dongman/362925.html" title="托马斯和他的朋友们国语 合集版" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/141931960486689.jpg" alt="托马斯和他的朋友们国语 合集版" /> <cite>托马斯和他的朋友们国语 合集版</cite> <em></em> </a>
        <p>主演：托马斯</p>
      </li>
      <li> <a href="{$siteurl}dongman/120796.html" title="超级英雄联盟复仇者合集版" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/141897204167925.jpg" alt="超级英雄联盟复仇者合集版" /> <cite>超级英雄联盟复仇者合集版</cite> <em></em> </a>
        <p>主演：美国队长,绿巨...</p>
      </li>
      <li> <a href="{$siteurl}dongman/247011.html" title="海绵宝宝第二季" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/141887511667599.jpg" alt="海绵宝宝第二季" /> <cite>海绵宝宝第二季</cite> <em></em> </a>
        <p>主演：海绵宝宝,派大...</p>
      </li>
      <li> <a href="{$siteurl}dongman/120387.html" title="驯龙记：博克岛的骑手第二季" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/141750632949009.jpg" alt="驯龙记：博克岛的骑手第二季" /> <cite>驯龙记：博克岛的骑手第二季</cite> <em></em> </a>
        <p>主演：希卡普</p>
      </li>
      <li> <a href="{$siteurl}dongman/17605.html" title="芭比时尚达人" target="_blank"> <img src="{$siteurl}static/images/loading.gif" data-original="{$siteurl}img/focus_img/201412/141871156956537.jpg" alt="芭比时尚达人" /> <cite>芭比时尚达人</cite> <em></em> </a>
        <p>主演：SASSY,S...</p>
      </li>
    </ul>
  </div>
  <include file="home:pp_footer_nav" />
</div>

<include file="home:pp_footer" />
</body>
</html>
