<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>{$title}</title>
<meta name="keywords" content="{$keyword}">
<meta name="description" content="{$vod_content|strip_tags}">
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}/css/details.css" rel="stylesheet"/>
</head>
<body channel="movie">
<include file="home:pp_header" /> <include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="moiveDetails">
    <div class="detailsTop">
      <p>您的当前位置：<a href="{$siteurl}">影视频道</a><i>></i><a href="{$siteurl}dongman/">动漫</a><i>></i><em>{$vod_name}</em></p>
    </div>
    <!-- 影片介绍 -->
    <div class="movieDescription clearfix">
      <div class="movieDeLeft"> <img src="{$vod_picurl}" alt="{$vod_name}" title="{$vod_name}"  width="180" height="240" />
        <div class="collection"> <a href="javascript:" class="collect"><i></i><span>收藏</span></a> <a href="javascript:" class="cancel"><i></i><span>取消</span></a> </div>
      </div>
      <div class="movieDeCenter">
        <div class="movieDeCenterTop clearfix">
          <div class="movieTitle">
            <h1 title="{$vod_name}"> {$vod_name}<span>({$vod_year})</span> </h1>
          </div>
          <div class="start">
            <dl>
              <dd class="fullStart"></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dt> <b>9.</b>1 </dt>
            </dl>
          </div>
        </div>
        <div class="movieDeCenterCon">
          <p><span>主演：</span><span class="v_dirRow_Wrap"><notempty name="vod_actor">{$vod_actor|js_search_url}<else />未录入</notempty></span></p>
          <p><span>类型：</span><em class="textRight">{$vod_class_name}</em></p>
          <p><span>地区：</span><em>{$vod_year_name}</em></p>
          <p><span>状态：</span><em class="textBd">{$vod_continu|strip_tags}</em></p>
          <p class="textAbout"> <span class="movieFl">剧情：</span> <em class="movieFr textOmit"> {:js_content_url($vod_content,$Tag)} </em></p>
        </div>
      </div>
      <div class="movieDeRight">
        <div class="evaluation clearfix">
          <ul>
            <li class="good"><a href="javascript:"></a><b>10</b></li>
            <li class="general"><a href="javascript:"></a><b>7</b></li>
            <li class="poor"><a href="javascript:"></a><b>8</b></li>
          </ul>
          <span class="link1">+1</span> </div>
        <div class="shard">
          <p>分享给小伙伴们：</p>
          <div class="bdsharebuttonbox" data-tag="share_1"> <a class="bds_qzone" data-cmd="qzone"></a> <a class="bds_tsina" data-cmd="tsina"></a> <a class="bds_tqq" data-cmd="tqq"></a> <a class="bds_weixin" data-cmd="weixin"></a> <a class="bds_renren" data-cmd="renren"></a> <a class="bds_count" data-cmd="count"></a> </div>
        </div>
      </div>
    </div>
    <div class="detailsCon clearfix">
      <div class="detailsMain">
        <!-- 立即播放 -->
        <div class="playUrl clearfix" id="teleplay">
          <h2> <span class="feedBack"> <a href="javascript:" onClick="divcenter()">意见反馈</a> </span>
            <!-- 广告位：详情页320*30 -->
            <span style="margin-right:83px;">
            BAIDU_CLB_fillSlot("875984")
            </span> <strong><span class="puTitle">《{$vod_name}》完整</span>播放地址</strong> </h2>
          <div class="playItem clearfix">
            <ul>
              <li data-value="1"> <a href="javascript:;" class="plHv cp_0_name" title="华数"> <i><img src="{$siteurl}static/images/i_huashu.png" alt="华数"></i>华数 </a> </li>
              <li data-value="2"> <a href="javascript:;" class=" cp_1_name" title="乐视网"> <i><img src="{$siteurl}static/images/i_ls.png" alt="乐视网"></i>乐视网 </a> </li>
            </ul>
          </div>
          <div class="movieListCon cp_1_content" style="display: "> <span class="triangle"> <b></b> </span>
            <!-- 数字列表 正序-->
            <div  style="display:" class="movieListNum clearfix list_zhengxu">
              <ul class="pages_1">
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F5861136%3Frefer%3D114la.com&code=ab3386c8fa7e0a6bc76af65a0f8abcaf" rel="nofollow" target="_blank"> 1 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F5861137%3Frefer%3D114la.com&code=6ed535da0ec427ac7be968cb5862dacf" rel="nofollow" target="_blank"> 2 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F5861138%3Frefer%3D114la.com&code=e9e1f17e2994b5a47a1a5abb7f4fae95" rel="nofollow" target="_blank"> 3 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F5883381%3Frefer%3D114la.com&code=babaf0520c1e67e23dabce44ead77e62" rel="nofollow" target="_blank"> 4 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F5907692%3Frefer%3D114la.com&code=76738e09057d5f6e12f3335c5940d434" rel="nofollow" target="_blank"> 5 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F5941841%3Frefer%3D114la.com&code=cdffba942b8342203c30de143d91cc1e" rel="nofollow" target="_blank"> 6 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F5971742%3Frefer%3D114la.com&code=e243832d2670f1525df3f3bc8c270ee6" rel="nofollow" target="_blank"> 7 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F6004239%3Frefer%3D114la.com&code=f0e48f19f69aa9d1b23b722d051552f2" rel="nofollow" target="_blank"> 8 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.wasu.cn%2FPlay%2Fshow%2Fid%2F6052198%3Frefer%3D114la.com&code=2387dbfd30f9e4f746ef6b77b68ca26f" rel="nofollow" target="_blank"> 9 </a> </li>
              </ul>
            </div>
          </div>
          <div class="movieListCon cp_2_content" style="display: none"> <span class="triangle"> <b></b> </span>
            <!-- 数字列表 正序-->
            <div  style="display:" class="movieListNum clearfix list_zhengxu">
              <ul class="pages_1">
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22409832.html&code=2c817811a9a4a312c872188b5ada68a6" rel="nofollow" target="_blank"> 1 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22474965.html&code=8737a9f8da66a25f4b4cadff88a549fe" rel="nofollow" target="_blank"> 2 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22550472.html&code=0a3f5d6fda0103ed87e5a19de0e5e268" rel="nofollow" target="_blank"> 3 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22624347.html&code=64e22c18792324ee2f5a0542678f1c11" rel="nofollow" target="_blank"> 4 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22669860.html&code=9c6b6d9d76b85bbd98fe90ba55881935" rel="nofollow" target="_blank"> 5 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22723325.html&code=e1fc79c35b5739297ee4deb926c906b4" rel="nofollow" target="_blank"> 6 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22770760.html&code=923cff9dfd0a80fe635c46f438052ba3" rel="nofollow" target="_blank"> 7 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22821107.html&code=accd7e98d62de0be4b4bd7b7568b4184" rel="nofollow" target="_blank"> 8 </a> </li>
                <li> <a href="{$siteurl}?ac=play&id=847399&url=http%3A%2F%2Fwww.letv.com%2Fptv%2Fvplay%2F22869884.html&code=1b4f97976e92259cc45df50253269ba8" rel="nofollow" target="_blank"> 9 </a> </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- 广告位：详情页640*60*2 -->
       BAIDU_CLB_fillSlot("864456")
        </div>
        <!-- 图片、片花预告、视频资讯、专题detailsType -->
        <!-- 相关影评 -->
        <!-- 猜你喜欢 -->
        <div class="youLike titleH3">
          <h2> <a href="javascript:" class="titleHv"><strong>根据《可塑性记忆》</strong>猜你喜欢</a><i>|</i> </h2>
          <div class="youLikeCon">
            <div class="youLikeItem disPlay">
              <ul>
                <li> <a href="{$siteurl}dongman/135032.html" title="玉响OVA" target="_blank"> <img src="http://i2.letvimg.com/vrs/201306/25/b8e9a14db0fd46d7981612ca664d56ea.jpg" alt="玉响OVA" title="玉响OVA"> <b>玉响OVA</b> </a> <span>美少女|生活|治愈|校园</span> </li>
              </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
              </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div id="pagead">
          -- 广告位：详情页搜狗650*90 --
        </div>
      </div>
      <div class="detailsSidebar">
        <div class="sideCont fr ingrep clearfix">
          <div class="inTitle">
            <h3 title="热门排行榜" style="margin-bottom:0px;"><a href="{$siteurl}top/anime.html" title="热门排行榜" target="_blank">热门排行榜</a></h3>
            <div class="contabs">
              <ul>
                <li class="current"><a href="javascript:;">最新</a></li>
                <li><a href="javascript:;">最热</a></li>
              </ul>
              <a href="{$siteurl}top/anime.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
          </div>
          <div class="ingrep-Cont" style="display:block;">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dongman/909389.html" title="霹雳谜城之九轮异谱" target="_blank">霹雳谜城之九轮</a> </li>
                      </ul>
          </div>
          <div class="ingrep-Cont">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dongman/878269.html" title="名侦探柯南 国语版" target="_blank">名侦探柯南 国</a> </li>
                   </ul>
          </div>
        </div>
        <div class="theStart project clearfix">
          <h3><span><a href="{$siteurl}zt/dm/">更多</a></span>精彩专题</h3>
          <ul>
            <li> <a href="/zt/dm/guoyu.html?0" title="动画片国语专区" target="_blank"> <img src="{$siteurl}img/zt/2015/01/2015011916590011648.jpg" alt="动画片国语专区" title="动画片国语专区"> <span>动画片国语专区</span> </a> </li>
                   </ul>
        </div>
        <div style="width:300px;height:250px;">
          <!-- 广告位：详情页通用300*250 -->
          BAIDU_CLB_fillSlot("1005147")
        </div>
        <div style="width:300px;height:250px;margin-bottom:10px;">
          BAIDU_CLB_fillSlot("850365")
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" class="collectVid" value="847399">
<input type="hidden" class="videoClass" value="3">
<input type="hidden" class="videoUid" value="0">
<include file="home:pp_footer" />
<script type="text/javascript" src="{$tpl}/js/details.js"></script>
</body>
</html>
