<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>{$title}</title>
<meta name="keywords" content="{$keyword}">
<meta name="description" content="{$vod_content|strip_tags}">
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}/css/details.css" rel="stylesheet"/>
</head>
<body channel="movie">
<include file="home:pp_header" /> <include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="moiveDetails">
    <div class="detailsTop">
      <p>您的当前位置：<a href="{$siteurl}">影视频道</a><i>></i><a href="{$siteurl}dongman/">动漫</a><i>></i><em>{$vod_name}</em></p>
    </div>
    <!-- 影片介绍 -->
    <div class="movieDescription clearfix">
      <div class="movieDeLeft"> <img src="{$vod_picurl}" alt="{$vod_name}" title="{$vod_name}"  width="180" height="240" />
        <div class="collection"> <a href="javascript:" class="collect"><i></i><span>收藏</span></a> <a href="javascript:" class="cancel"><i></i><span>取消</span></a> </div>
      </div>
      <div class="movieDeCenter">
        <div class="movieDeCenterTop clearfix">
          <div class="movieTitle">
            <h1 title="{$vod_name}"> {$vod_name}<span>({$vod_year})</span> </h1>
          </div>
          <div class="start">
            <dl>
              <dd class="fullStart"></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dt> <b>9.</b>1 </dt>
            </dl>
          </div>
        </div>
        <div class="movieDeCenterCon">
          <p><span>主演：</span><span class="v_dirRow_Wrap"><notempty name="vod_actor">{$vod_actor|js_search_url}<else />未录入</notempty></span></p>
          <p><span>类型：</span><em class="textRight">{$vod_class_name}</em></p>
          <p><span>地区：</span><em>{$vod_year_name}</em></p>
          <p><span>状态：</span><em class="textBd">{$vod_continu|strip_tags}</em></p>
          <p class="textAbout"> <span class="movieFl">剧情：</span> <em class="movieFr textOmit"> {:js_content_url($vod_content,$Tag)} </em></p>
        </div>
      </div>
      <div class="movieDeRight">
        <div class="evaluation clearfix">
          <ul>
            <li class="good"><a href="javascript:"></a><b>10</b></li>
            <li class="general"><a href="javascript:"></a><b>7</b></li>
            <li class="poor"><a href="javascript:"></a><b>8</b></li>
          </ul>
          <span class="link1">+1</span> </div>
        <div class="shard">
          <p>分享给小伙伴们：</p>
          <div class="bdsharebuttonbox" data-tag="share_1"> <a class="bds_qzone" data-cmd="qzone"></a> <a class="bds_tsina" data-cmd="tsina"></a> <a class="bds_tqq" data-cmd="tqq"></a> <a class="bds_weixin" data-cmd="weixin"></a> <a class="bds_renren" data-cmd="renren"></a> <a class="bds_count" data-cmd="count"></a> </div>
        </div>
      </div>
    </div>
    <div class="detailsCon clearfix">
      <div class="detailsMain">
        <!-- 立即播放 -->
        <div class="playUrl clearfix" id="teleplay">
          <h2> <span class="feedBack"> <a href="javascript:" onClick="divcenter()">意见反馈</a> </span>
            <!-- 广告位：详情页320*30 -->
            <span style="margin-right:83px;">
            BAIDU_CLB_fillSlot("875984")
            </span> <strong><span class="puTitle">《{$vod_name}》完整</span>播放地址</strong> </h2>

            <div class="playItem clearfix">
                <ul>
                    <volist name="vod_playlist" id="pay" key="i">
                        <if condition="$i lt 6">
                            <li data-value="{$i}"> <a href="javascript:;" class="<if condition='$i lt 2'>plHv</if> cp_{$i}_name" title="{$pay['playername']}"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']}</a>  <span class="triangle" style=' <if condition="$i eq 1">display:block</if>'> <b></b> </span></li>
                        </if>
                    </volist>
                </ul>
                <if condition="count($vod_playlist) gt 6">
                    <div class="fishSelect movieLine"> <span data-value='x'></span>
                        <ul>
                            <volist name="vod_playlist" id="pay" key="i">
                                <if condition="$i gt 6">
                                    <li data-value="{$i}"> <a href="javascript:;" class="cp_{$i}_name"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']} </a> </li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </if>
            </div>
            <volist name="vod_playlist" id="pay" key="i">
                <div class="movieListCon cp_{$i}_content" style="<if condition='$i gt 1'>display: none</if>">
                    <!-- 数字列表 正序-->
                    <div class="movieListNum clearfix list_zhengxu" style="display:block">
                        <ul class="pages_1">
                            <volist name="pay['son']" id="ppvodson" key="j">
                                <li> <a href="{$siteurl}?s=vod-play-id-{$vod_id}&url={:urlencode($ppvodson['playpath'])}" rel="nofollow" title="{$ppvodson.playname}" target="_blank">{$ppvodson.playname}</a> </li>
                            </volist>     </ul>
                    </div>
                </div>
            </volist>
        </div>
        <!-- 广告位：详情页640*60*2 -->
       BAIDU_CLB_fillSlot("864456")
        </div>
        <!-- 图片、片花预告、视频资讯、专题detailsType -->
        <!-- 相关影评 -->
        <!-- 猜你喜欢 -->
        <div class="youLike titleH3">
          <h2> <a href="javascript:" class="titleHv"><strong>根据《{$vod_name}》</strong>猜你喜欢</a><i>|</i> </h2>
          <div class="youLikeCon">
            <div class="youLikeItem disPlay">
              <ul>
                <li> <a href="{$siteurl}dongman/135032.html" title="玉响OVA" target="_blank"> <img src="http://i2.letvimg.com/vrs/201306/25/b8e9a14db0fd46d7981612ca664d56ea.jpg" alt="玉响OVA" title="玉响OVA"> <b>玉响OVA</b> </a> <span>美少女|生活|治愈|校园</span> </li>
              </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
              </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div id="pagead">
          -- 广告位：详情页搜狗650*90 --
        </div>
      </div>
      <div class="detailsSidebar">
        <div class="sideCont fr ingrep clearfix">
          <div class="inTitle">
            <h3 title="热门排行榜" style="margin-bottom:0px;"><a href="{$siteurl}top/anime.html" title="热门排行榜" target="_blank">热门排行榜</a></h3>
            <div class="contabs">
              <ul>
                <li class="current"><a href="javascript:;">最新</a></li>
                <li><a href="javascript:;">最热</a></li>
              </ul>
              <a href="{$siteurl}top/anime.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
          </div>
          <div class="ingrep-Cont" style="display:block;">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dongman/909389.html" title="霹雳谜城之九轮异谱" target="_blank">霹雳谜城之九轮</a> </li>
                      </ul>
          </div>
          <div class="ingrep-Cont">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dongman/878269.html" title="名侦探柯南 国语版" target="_blank">名侦探柯南 国</a> </li>
                   </ul>
          </div>
        </div>
        <div class="theStart project clearfix">
          <h3><span><a href="{$siteurl}zt/dm/">更多</a></span>精彩专题</h3>
          <ul>
            <li> <a href="/zt/dm/guoyu.html?0" title="动画片国语专区" target="_blank"> <img src="{$siteurl}img/zt/2015/01/2015011916590011648.jpg" alt="动画片国语专区" title="动画片国语专区"> <span>动画片国语专区</span> </a> </li>
                   </ul>
        </div>
        <div style="width:300px;height:250px;">
          <!-- 广告位：详情页通用300*250 -->
          BAIDU_CLB_fillSlot("1005147")
        </div>
        <div style="width:300px;height:250px;margin-bottom:10px;">
          BAIDU_CLB_fillSlot("850365")
        </div>
      </div>
    </div>
  </div>
</div>
<include file="home:pp_footer" />
<script type="text/javascript" src="{$tpl}/js/details.js"></script>
</body>
</html>
