<if condition="c(url_html) eq 1">
<li class="good Up"  id="Up"><a href="javascript:"></a><b>{$vod_up}</b></li>
<li class="general General" id="General"><a href="javascript:"></a><b>{$vod_general}</b></li>
<li class="poor Down" id="Down"><a href="javascript:"></a><b>{$vod_down}</b></li>
<else/>
<li class="good Up"><a href="javascript:"></a><b>{$vod_up}</b></li>
<li class="general General"><a href="javascript:"></a><b>{$vod_general}</b></li>
<li class="poor Down"><a href="javascript:"></a><b>{$vod_down}</b></li>
 </if>