<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <title>网站地图 - 2015好看的电影排行榜_最新电视剧大全_免费在线观看电影电视剧 - {$sitename}</title>
    <meta name="keywords" content="电影排行榜,最新电视剧,快看影视,2015最新电影,好看的电影,最新电视剧大全,免费在线观看">
    <meta name="description" content="快看影视为您提供2015最新电影排行榜，最新电视剧大全，好看的电影，经典动漫推荐，综艺娱乐，好看的微电影大全等免费高清影视在线观看。我们第一时间每天更新上百部最新电影电视剧，致力打造最全的影视资源网站!">
    <link href="{$tpl}css/style.css" rel="stylesheet"/>
    <link href="{$tpl}css/map.css" rel="stylesheet"/>
</head>
<php>

</php>
<body channel="movie">
<include file="home:pp_header" /> <include file="home:pp_nav" />
<div class="wrap clearfix">
<div id="content" class="layout">
<div class="bread-crumb-nav"><a href="/">首页</a><em>&gt;</em><span>网站地图</span> </div>
<div class="ui-box sitemap-item">
    <h2><a href="/dianshi">电视剧</a></h2>
    <dl class="sitemap-list cf">
        <dt>地区</dt>
        <dd>
            <ul>
             <volist name="list_area" id="arealist">
                        <if condition="$arealist['list_id'] eq 2">
                            <volist name="arealist['son']" id="area">
                                <li><a title="{$area['name']}" href="/dianshi/0-{$area['id']}-0.html">{$area['name']}电视剧</a></li>
                            </volist>
                        </if>
                </volist>
            </ul>
        </dd>
    </dl>
    <dl class="sitemap-list cf">
        <dt>类型</dt>
        <dd>
            <ul>

                <volist name="list_menu" id="list">
                    <if condition="$list['list_id'] eq 2">
                        <volist name="list['son']" id="cat">
                            <li><a href="/{$list['list_dir']}/{$cat['list_id']}-0-0.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                        </volist>
                    </if>
                </volist>

            </ul>
        </dd>
    </dl>
</div>
<div class="ui-box sitemap-item">
    <h2><a href="/dianying">电影</a></h2>
    <dl class="sitemap-list cf">
        <dt>地区</dt>
        <dd>
            <ul>
                <volist name="list_area" id="arealist">
                    <if condition="$arealist['list_id'] eq 1">
                        <volist name="arealist['son']" id="area">
                            <li><a title="{$area['name']}" href="/dianying/0-{$area['id']}-0.html">{$area['name']}</a></li>
                        </volist>
                    </if>
                </volist>
            </ul>
        </dd>
    </dl>
    <dl class="sitemap-list cf">
        <dt>类型</dt>
        <dd>
            <ul>

                <volist name="list_menu" id="list">
                    <if condition="$list['list_id'] eq 1">
                        <volist name="list['son']" id="cat">
                            <li><a href="/{$list['list_dir']}/{$cat['list_id']}-0-0.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                        </volist>
                    </if>
                </volist>

            </ul>
        </dd>
    </dl>
    <dl class="sitemap-list cf">
        <dt>年代</dt>
        <dd>
            <ul>

                <php>for($i=0; $i<10; $i++){</php>
                <li><a  <if condition="$year eq (date('Y')-$i)">class="searListHv"</if> href="/dianying/0-0-{:date('Y')-$i}.html">{:date("Y")-$i}</a> </li>
                <php>}</php>
            </ul>
        </dd>
    </dl>
</div>
<div class="ui-box sitemap-item">
    <h2><a href="/dongman">经典动漫</a></h2>
    <dl class="sitemap-list cf">
        <dt>类型</dt>
        <dd>
            <ul>

                <volist name="list_menu" id="list">
                    <if condition="$list['list_id'] eq 3">
                        <volist name="list['son']" id="cat">
                <li><a href="/{$list['list_dir']}/{$cat['list_id']}-0-0.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                            </volist>
                    </if>
                </volist>

            </ul>
        </dd>
    </dl>
</div>
<div class="ui-box sitemap-item">
    <h2><a href="/zongyi">综艺娱乐</a></h2>
    <dl class="sitemap-list cf">
        <dt>类型</dt>
        <dd>
            <ul>

                <volist name="list_menu" id="list">
                    <if condition="$list['list_id'] eq 4">
                        <volist name="list['son']" id="cat">
                            <li><a href="/{$list['list_dir']}/{$cat['list_id']}-0-0.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                        </volist>
                    </if>
                </volist>


            </ul>
        </dd>
    </dl>
</div>
</div>

<include file="home:pp_footer" />
</div>
</body>
</html>
