<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="description" content="电影大全为您提供好看的动作片,动作电影在线观看及高清下载，在线看动作电影选择114la电影大全。" />
<meta name="keywords" content="动作电影,动作片" />
<title>最新动作电影_经典动作片_好看的动作电影大全-114la电影大全</title>
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet" />
<link href="{$tpl}/css/typeSear.css?v2013" rel="stylesheet" />
</head>
<body>
<include file="home:pp_header" /> 
<include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="wrapper typeSear">
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="typeSearBox">
      <div class="typeSearTitle clearfix">
        <dl class="clearfix">
          <dt><a href="{$siteurl}dianying/0-0-0.html">全部电影</a></dt>
          <dd><a href="{$siteurl}weidianying/1-1-1.html">全部微电影</a></dd>
          <dd>|</dd>
          <dd><a href="{$siteurl}zongyi/0-0-0.html">全部综艺</a></dd>
          <dd>|</dd>
          <dd><a href="{$siteurl}dongman/0-0-0.html">全部动漫</a></dd>
          <dd>|</dd>
          <dd><a href="{$siteurl}dianshi/0-0-0.html">全部电视剧</a></dd>
        </dl>
      </div>
      <div class="typeSearList">
        <dl>
          <dt> <a href="javascript:tiaozhuan('{$siteurl}dianying/0-0-0.html');">全部分类</a> </dt>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/7-0-0.html');">喜剧</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/10-0-0.html');">爱情</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-0.html');" class="searListHv">动作</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/8-0-0.html');">恐怖</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/9-0-0.html');">科幻</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/14-0-0.html');">剧情</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/246-0-0.html');">奇幻</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/16-0-0.html');">战争</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/247-0-0.html');">悬疑</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/13-0-0.html');">动画</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/15-0-0.html');">历史</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/12-0-0.html');">惊悚</a> </dd>
        </dl>
        <dl>
          <dt> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-0.html');" class="searListHv">全部年份</a></dt>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-331-0.html');">2015</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-330-0.html');">2014</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-200-0.html');">2013</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-118-0.html');">2012</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-25-0.html');">2011</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-26-0.html');">2010</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-27-0.html');">2009</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-28-0.html');">2008</a> </dd>
          <dd> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-29-0.html');">2007</a> </dd>
        </dl>
        <dl>
          <dt> <a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-0.html');" class="searListHv">全部地区</a></dt>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-20.html');">美国</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-249.html');">大陆</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-250.html');">香港</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-21.html');">韩国</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-251.html');">法国</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-252.html');">英国</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-22.html');">泰国</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-253.html');">台湾</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}dianying/6-0-19.html');">日本</a></dd>
        </dl>
        <dl class="reStart">
          <dt><strong>推荐明星</strong></dt>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4371.html');">古天乐</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4351.html');">吴彦祖</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4353.html');">周星驰</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4578.html');">姚晨</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4636.html');">姜文</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4274.html');">张柏芝</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4358.html');">成龙</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4605.html');">梁朝伟</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4310.html');">汤唯</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-5656.html');">王宝强</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4628.html');">甄子丹</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4319.html');">舒淇</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4276.html');">范冰冰</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4600.html');">葛优</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-4363.html');">谢霆锋</a></dd>
          <dd><a href="javascript:tiaozhuan('{$siteurl}mingxing-5259.html');">黄渤</a></dd>
        </dl>
      </div>
    </div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="typeMovieContent">
      <ul>
        <li> <a href="{$siteurl}dianying/908321.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/06/05/m1905/dianying/8/41Wm5115eE6.jpg" alt=""> <span title="新年行动">新年行动</span> <b title="沙鲁克·汗,阿布舍克·巴强,迪皮卡·帕度柯妮,博曼·伊拉尼">沙鲁克·汗/阿布舍克·巴强/迪皮卡·帕度柯妮/博曼·伊拉尼</b> </a> </li>
        <li> <a href="{$siteurl}dianying/908319.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/06/04/qy/dianying/1/8Hvv7233Kv7.jpg" alt=""> <span title="末日崩塌强森独秀">末日崩塌强森独秀</span> <b title="道恩·强森">道恩·强森</b> </a> </li>
        <li> <a href="{$siteurl}dianying/906707.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/06/03/qy/dianying/9/6GQt4e11327.jpg" alt=""> <span title="龙斌大话电影：木星上行">龙斌大话电影：木星上行</span> <b title="米拉·库妮丝,龙斌">米拉·库妮丝/龙斌</b> </a> </li>
        <li> <a href="{$siteurl}dianying/906566.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143332329098006.jpg" alt=""> <span title="解救吾先生">解救吾先生</span> <b title="刘德华 / 刘烨 / 王千源 / 吴若甫">刘德华 / 刘烨 / 王千源 / 吴若甫</b> </a> </li>
        <li> <a href="{$siteurl}dianying/906488.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143331696694318.jpg" alt=""> <span title="刺客聂隐娘">刺客聂隐娘</span> <b title="舒淇 / 张震 / 阮经天 / 妻夫木聪 / 周韵 / 谢欣颖 / 许芳宜 / 倪大红 / 石隽 / 高捷 / 戴立忍 / 咏梅 / 张少怀 / 刘澍颖">舒淇 / 张震 / 阮经天 / 妻夫木聪 / 周韵 / 谢欣颖 / 许芳宜 / 倪大红 / 石隽 / 高捷 / 戴立忍 / 咏梅 / 张少怀 / 刘澍颖</b> </a> </li>
        <li> <a href="{$siteurl}dianying/906482.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143331669623171.jpg" alt=""> <span title="战神蚩尤">战神蚩尤</span> <b title="谭凯 / 秦雪 / 韩东 / 张衡平">谭凯 / 秦雪 / 韩东 / 张衡平</b> </a> </li>
        <li> <a href="{$siteurl}dianying/906464.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143331536798207.jpg" alt=""> <span title="西游记之大圣归来">西游记之大圣归来</span> <b title="张磊 / 林子杰 / 吴文伦 / 童自荣 / 刘九容 / 吴迪 / 刘北辰 / 赵乾景 / 周帅">张磊 / 林子杰 / 吴文伦 / 童自荣 / 刘九容 / 吴迪 / 刘北辰 / 赵乾景 / 周帅</b> </a> </li>
        <li> <a href="{$siteurl}dianying/905429.html"> <img src="{$siteurl}static/images/loading.gif" data-original="http://img.movie.kankan.kanimg.com/100x140/1292/a4289a6727ae61ed9f510d0164f69157.jpg" alt=""> <span title="我的第一次任务">我的第一次任务</span> <b title="王艺欢,朱浩,陈亚军,方雪艳,张倩">王艺欢/朱浩/陈亚军/方雪艳/张倩</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904992.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323919821756.jpg" alt=""> <span title="罪恶赎金">罪恶赎金</span> <b title="詹姆斯·弗兰科 / 凯特·哈德森 / 奥玛·赛 / 汤姆·威尔金森 / 安娜·弗莱尔 / 萨姆·斯普卢尔 / 迪尔梅德·默塔 / 迈克尔·福克斯 / 弗朗西斯·麦基 / 马尔滕·丹嫩贝格 / 迈克尔·吉普森 / 瓦·阿里 / 黛安娜·哈卡索">詹姆斯·弗兰科 / 凯特·哈德森 / 奥玛·赛 / 汤姆·威尔金森 / 安娜·弗莱尔 / 萨姆·斯普卢尔 / 迪尔梅德·默塔 / 迈克尔·福克斯 / 弗朗西斯·麦基 / 马尔滕·丹嫩贝格 / 迈克尔·吉普森 / 瓦·阿里 / 黛安娜·哈卡索</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904908.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323845858675.jpg" alt=""> <span title="拳霸风云">拳霸风云</span> <b title="谷尚蔚 / 崔允素 / 杜海涛 / 梁家仁 / 冯馨瑶 / 冯刚">谷尚蔚 / 崔允素 / 杜海涛 / 梁家仁 / 冯馨瑶 / 冯刚</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904904.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323828396771.jpg" alt=""> <span title="横冲直撞好莱坞">横冲直撞好莱坞</span> <b title="赵薇 / 黄晓明 / 佟大为 / 姜成镐 / 瑞斯·考罗 / 米西·派勒 / 西蒙·赫尔伯格 / 布莱恩·史密斯 / 帕维什·齐纳 / 斯蒂芬·托布罗斯基 / 瑞克·福克斯 / Rebecca Olejniczak / 艾丽西娅·维拉-贝利 / Omar J. Dorsey / Bridgett Riley">赵薇 / 黄晓明 / 佟大为 / 姜成镐 / 瑞斯·考罗 / 米西·派勒 / 西蒙·赫尔伯格 / 布莱恩·史密斯 / 帕维什·齐纳 / 斯蒂芬·托布罗斯基 / 瑞克·福克斯 / Rebecca Olejniczak / 艾丽西娅·维拉-贝利 / Omar J. Dorsey / Bridgett Riley</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904898.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323794433386.jpg" alt=""> <span title="致命对决">致命对决</span> <b title="罗伯特·德尼罗 / 约翰·特拉沃尔塔 / 米洛·文堤米利亚 / 伊丽莎白·奥林 / 黛安娜·柳贝诺娃 / 卡林·塞尔梅诺夫 / 斯蒂芬·施特雷夫">罗伯特·德尼罗 / 约翰·特拉沃尔塔 / 米洛·文堤米利亚 / 伊丽莎白·奥林 / 黛安娜·柳贝诺娃 / 卡林·塞尔梅诺夫 / 斯蒂芬·施特雷夫</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904884.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323748537384.jpg" alt=""> <span title="分歧者2：绝地反击">分歧者2：绝地反击</span> <b title="谢琳·伍德蕾 / 提奥·詹姆斯 / 凯特·温丝莱特 / 奥克塔维亚·斯宾瑟 / 杰·科特尼 / 佐伊·克罗维兹 / 迈尔斯·特勒 / 安塞尔·艾尔高特 / 李美琪 / 娜奥米·沃茨 / 梅奇·费法 / 贾斯蒂斯·利克 / 本·劳埃德-休斯 / 托尼·戈德温 / 艾什莉·贾德 / 雷·史蒂文森 / 约翰尼·韦斯顿 / 苏琪·沃特豪斯 / 恩杰伊·安东尼 / 罗莎·萨拉查 / 肯德里克·克罗斯 / 丹">谢琳·伍德蕾 / 提奥·詹姆斯 / 凯特·温丝莱特 / 奥克塔维亚·斯宾瑟 / 杰·科特尼 / 佐伊·克罗维兹 / 迈尔斯·特勒 / 安塞尔·艾尔高特 / 李美琪 / 娜奥米·沃茨 / 梅奇·费法 / 贾斯蒂斯·利克 / 本·劳埃德-休斯 / 托尼·戈德温 / 艾什莉·贾德 / 雷·史蒂文森 / 约翰尼·韦斯顿 / 苏琪·沃特豪斯 / 恩杰伊·安东尼 / 罗莎·萨拉查 / 肯德里克·克罗斯 / 丹</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904882.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323735876025.jpg" alt=""> <span title="杀破狼2">杀破狼2</span> <b title="吴京 / 托尼·贾 / 张晋 / 任达华 / 卢惠光 / 恭硕良 / 林嘉华 / 蔡瀚亿 / 艾威 / 姜皓文 / 张弛 / 寇占文 / 古天乐">吴京 / 托尼·贾 / 张晋 / 任达华 / 卢惠光 / 恭硕良 / 林嘉华 / 蔡瀚亿 / 艾威 / 姜皓文 / 张弛 / 寇占文 / 古天乐</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904880.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323728130707.jpg" alt=""> <span title="我是谁2015">我是谁2015</span> <b title="王海祥 / 姚星彤 / 张蓝心 / 于荣光 / 卢惠光 / 杨政 / 何华超">王海祥 / 姚星彤 / 张蓝心 / 于荣光 / 卢惠光 / 杨政 / 何华超</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904876.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323699559231.jpg" alt=""> <span title="侏罗纪世界">侏罗纪世界</span> <b title=" 克里斯·普拉特 / 布莱丝·达拉斯·霍华德 / 文森特·多诺费奥 / 泰·辛普金斯 / 尼克·罗宾森 / 奥玛·赛 / 黄荣亮 / 伊尔凡·可汗 / 朱迪·格雷尔 / 杰克·约翰逊 / 劳伦·拉普库斯 / 凯蒂·麦克格拉思 / 布莱恩·泰 / 埃迪·J.费尔南德斯 / 因德尔·库马尔 / 安迪·巴克利"> 克里斯·普拉特 / 布莱丝·达拉斯·霍华德 / 文森特·多诺费奥 / 泰·辛普金斯 / 尼克·罗宾森 / 奥玛·赛 / 黄荣亮 / 伊尔凡·可汗 / 朱迪·格雷尔 / 杰克·约翰逊 / 劳伦·拉普库斯 / 凯蒂·麦克格拉思 / 布莱恩·泰 / 埃迪·J.费尔南德斯 / 因德尔·库马尔 / 安迪·巴克利</b> </a> </li>
        <li> <a href="{$siteurl}dianying/904874.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/up_img/201506/143323657441333.jpg" alt=""> <span title="搏击迷城">搏击迷城</span> <b title=" 陈伟霆 / 赵柯 / 李菲儿 / 渡边奈绪子 / 斯琴高娃 / 郑佩佩 / 李依馨 / 刘兆铭 / 刘丹"> 陈伟霆 / 赵柯 / 李菲儿 / 渡边奈绪子 / 斯琴高娃 / 郑佩佩 / 李依馨 / 刘兆铭 / 刘丹</b> </a> </li>
        <li> <a href="{$siteurl}dianying/903791.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/06/02/funshion/dianying/10/b08d9d25704.jpg" alt=""> <span title="罗斯福：美国混蛋">罗斯福：美国混蛋</span> <b title="巴瑞·波斯威克,林·沙烨,布鲁斯·麦克吉尔">巴瑞·波斯威克/林·沙烨/布鲁斯·麦克吉尔</b> </a> </li>
        <li> <a href="{$siteurl}dianying/901975.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/06/01/m1905/dianying/3/VpX564Z02r2.jpg" alt=""> <span title="一代宗师终极版">一代宗师终极版</span> <b title="梁朝伟,章子怡,宋慧乔,赵本山">梁朝伟/章子怡/宋慧乔/赵本山</b> </a> </li>
        <li> <a href="{$siteurl}dianying/899319.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/30/m1905/dianying/10/2l9I38RD25y.jpg" alt=""> <span title="剑河">剑河</span> <b title="梁小龙,陈市,李炳渊,陈之辉">梁小龙/陈市/李炳渊/陈之辉</b> </a> </li>
        <li> <a href="{$siteurl}dianying/895061.html"> <img src="{$siteurl}static/images/loading.gif" data-original="http://i0.letvimg.com/lc02_isvrs/201505/22/14/22/71c919c5-9403-4b2d-9f07-48fc4e699984.jpg" alt=""> <span title="《战狼》超长特辑">《战狼》超长特辑</span> <b title="吴京,余男">吴京/余男</b> </a> </li>
        <li> <a href="{$siteurl}dianying/893959.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/26/funshion/dianying/4/26Z9yW0o542.jpg" alt=""> <span title="兄弟之北漂歌手">兄弟之北漂歌手</span> <b title="石昊正,刘佳兰,廖望">石昊正/刘佳兰/廖望</b> </a> </li>
        <li> <a href="{$siteurl}dianying/891097.html"> <img src="{$siteurl}static/images/loading.gif" data-original="http://i3.letvimg.com/lc01_isvrs/201501/21/10/24/717ef5ff-0734-4308-b816-4e8d51da5b12.jpg" alt=""> <span title="一万年以后">一万年以后</span> <b title="珠玛,易立,王翀">珠玛/易立/王翀</b> </a> </li>
        <li> <a href="{$siteurl}dianying/889505.html"> <img src="{$siteurl}static/images/loading.gif" data-original="http://i0.letvimg.com/lc02_isvrs/201505/22/14/22/71c919c5-9403-4b2d-9f07-48fc4e699984.jpg" alt=""> <span title="战狼宣传片">战狼宣传片</span> <b title="吴京,余男">吴京/余男</b> </a> </li>
        <li> <a href="{$siteurl}dianying/888479.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/22/funshion/dianying/6/27A3Jd0159k.jpg" alt=""> <span title="笼中之王">笼中之王</span> <b title="HectorEchavarria,KeithJardine,HeathHerring,RashadEvans">HectorEchavarria/KeithJardine/HeathHerring/RashadEvans</b> </a> </li>
        <li> <a href="{$siteurl}dianying/888261.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/22/tudou/dianying/9/1761U928JBD.jpg" alt=""> <span title="三不管">三不管</span> <b title="林家栋,连凯,田蕊妮,方皓玟,黄树棠,陈文清,王文成">林家栋/连凯/田蕊妮/方皓玟/黄树棠/陈文清/王文成</b> </a> </li>
        <li> <a href="{$siteurl}dianying/886901.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/21/youku/dianying/8/FcU9B8x1845.jpg" alt=""> <span title="第七子:降魔之战">第七子:降魔之战</span> <b title="杰夫·布里吉斯,本·巴恩斯,艾丽西卡·维坎德,基特·哈灵顿,奥莉维亚·威廉姆斯,安婕·特拉乌,杰拉德·普伦科特,贾森·斯科特·李,杰曼·翰苏,朱丽安·摩尔">杰夫·布里吉斯/本·巴恩斯/艾丽西卡·维坎德/基特·哈灵顿/奥莉维亚·威廉姆斯/安婕·特拉乌/杰拉德·普伦科特/贾森·斯科特·李/杰曼·翰苏/朱丽安·摩尔</b> </a> </li>
        <li> <a href="{$siteurl}dianying/879747.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/15/qy/dianying/4/41adJ209122.jpg" alt=""> <span title="复联接棒速7强力吸金">复联接棒速7强力吸金</span> <b title="小罗伯特·唐尼">小罗伯特·唐尼</b> </a> </li>
        <li> <a href="{$siteurl}dianying/879621.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/15/qy/dianying/1/69Wk2E01670.jpg" alt=""> <span title="烈火雄心（2004）">烈火雄心（2004）</span> <b title="华金·菲尼克斯">华金·菲尼克斯</b> </a> </li>
        <li> <a href="{$siteurl}dianying/878273.html"> <img src="{$siteurl}static/images/loading.gif" data-original="/img/2015/05/14/qy/dianying/9/207R6cC0354.jpg" alt=""> <span title="新片攻略：钢铁侠plus战绿巨人">新片攻略：钢铁侠plus战绿巨人</span> <b title="小罗伯特·唐尼">小罗伯特·唐尼</b> </a> </li>
      </ul>
      <div class="blank10"></div>
      <div class="blank10"></div>
      <div class="pageNum"><a class='current'>1</a> <a href='/dianying/6-0-0-2.html'>2</a> <a href='/dianying/6-0-0-3.html'>3</a> <a href='/dianying/6-0-0-4.html'>4</a> <a href='/dianying/6-0-0-5.html'>5</a> <a href='/dianying/6-0-0-6.html'>6</a> <a href='/dianying/6-0-0-2.html' class='nextPage'>下一页</a> </div>
    </div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="wdTuijuan">
      <div class="typeSearTitle clearfix">
        <dl class="clearfix">
          <dt><a href="javascript:">精彩推荐</a></dt>
        </dl>
      </div>
      <div class="tuijuanLink"> <a target="_blnak" href="{$siteurl}zt/dianying/zhouxingchi.html">周星驰电影全集</a> <a target="_blnak" href="{$siteurl}zt/dianying/sex.html">黄渤电影全集</a> <a target="_blnak" href="{$siteurl}mingxing-4368.html">周润发电影全集</a> <a target="_blnak" href="{$siteurl}zt/dianying/lunli.html">宋丹丹电视剧大全</a> <a target="_blnak" href="{$siteurl}dianshi/274-0-0.html">神话电视剧</a> <a target="_blnak" href="{$siteurl}zt/dianying/lixiaolong.html ">李小龙电影</a> <a target="_blnak" href="{$siteurl}zt/dianying/jiangshi.html">林正英僵尸电影全集</a> <a target="_blnak" href="{$siteurl}mingxing-4358.html">成龙电影全集</a> </div>
    </div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
  </div>
</div>
<div id="feedBack"><a href="javascript:;" onClick="divcenter()" title="意见反馈">意见反馈</a></div>
<include file="home:pp_footer" />
</body>
</html>
