<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="description" content="电影大全为您提供好看的动作片,动作电影在线观看及高清下载，在线看动作电影选择114la电影大全。" />
<meta name="keywords" content="动作电影,动作片" />
<title>最新动作电影_经典动作片_好看的动作电影大全-114la电影大全</title>
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet" />
<link href="{$tpl}/css/typeSear.css?v2013" rel="stylesheet" />
</head>
<body>
<php>

$list = js_mysql_vod("class_id:$class_id;year:$year;area:$area;page:$page;limit:24;order:vod_year DESC,vod_addtime desc");

</php>
<include file="home:pp_header" /> 
<include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="wrapper typeSear">
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="typeSearBox">
      <div class="typeSearTitle clearfix">
        <dl class="clearfix">
          <dt><a href="{$siteurl}{$list_dir}/0-0-0.html">全部{$list_name}</a></dt>
            <volist name="list_menu" id="menu" key="i">
                <if condition="$list_dir neq $menu['list_dir']">
                  <dd>|</dd>
                  <dd><a href="{$siteurl}{$menu['list_dir']}/0-0-0.html">全部{$menu['list_name']}</a></dd>
                </if>
            </volist>
        </dl>
      </div>
      <div class="typeSearList">
        <dl>
          <dt> <a href="{$siteurl}{$list_dir}/0-{$area}-{$year}.html" <if condition="empty($class_id)">class="searListHv"</if>>全部分类</a> </dt>
            <volist name="list_menu" id="menu" key="i">
                <if condition="$list_dir eq $menu['list_dir']">
                    <volist name="menu['son']" id="cat">
                        <dd><a <if condition="$class_id eq $cat['list_id']">class="searListHv"</if> href="{$siteurl}{$list_dir}/{$cat['list_id']}-{$area}-{$year}.html">{$cat['list_name']}</a> </dd>
                    </volist>
                    </if>
                </volist>
        </dl>
        <dl>
          <dt> <a href="{$siteurl}dianying/{$class_id}-{$area}-0.html" <if condition="empty($year)">class="searListHv"</if>>全部年份</a></dt>
            <php>for($i=0; $i<10; $i++){</php>
            <dd> <a <if condition="$year eq (date('Y')-$i)">class="searListHv"</if> href="{$siteurl}dianying/{$class_id}-{$area}-{:date('Y')-$i}.html">{:date("Y")-$i}</a> </dd>
            <php>}</php>
          <dd> <a <if condition="$year eq 1">class="searListHv"</if> href="{$siteurl}dianying/{$class_id}-{$area}-1.html">其他</a> </dd>
        </dl>
        <dl>
          <dt> <a href="{$siteurl}dianying/{$class_id}-0-{$year}.html" <if condition="empty($area)">class="searListHv"</if>>全部地区</a></dt>

            <volist name="list_area" id="arealist">
                <if condition="$list_id eq $arealist['list_id']">
                    <volist name="arealist['son']" id="var">
            <dd><a <if condition="$area eq $var['id']">class="searListHv"</if> href="{$siteurl}dianying/{$class_id}-{$var['id']}-{$year}.html">{$var['name']}</a></dd>
                    </volist>
                </if>
            </volist>
        </dl>
         <if condition="false">
        <dl class="reStart">
          <dt><strong>推荐明星</strong></dt>
          <dd><a href="{$siteurl}mingxing-4371.html">古天乐</a></dd>
        </dl></if>
      </div>
    </div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="typeMovieContent">
      <ul>
          <volist name="list" id="vod">
        <li> <a href="{$vod['vod_readurl']}"> <img src="{$siteurl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}"> <span title="{$vod['vod_name']}">{$vod['vod_name']}</span> <b title="{$vod['vod_actor']}">{$vod['vod_actor']}</b> </a> </li>
          </volist>
      </ul>
      <div class="blank10"></div>
      <div class="blank10"></div>
      <div class="pageNum">{$list[0]['page']}</div>
    </div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="wdTuijuan">
      <div class="typeSearTitle clearfix">
        <dl class="clearfix">
          <dt><a href="javascript:">精彩推荐</a></dt>
        </dl>
      </div>
      <div class="tuijuanLink"> <a target="_blnak" href="{$siteurl}zt/dianying/zhouxingchi.html">周星驰电影全集</a> <a target="_blnak" href="{$siteurl}zt/dianying/sex.html">黄渤电影全集</a> <a target="_blnak" href="{$siteurl}mingxing-4368.html">周润发电影全集</a> <a target="_blnak" href="{$siteurl}zt/dianying/lunli.html">宋丹丹电视剧大全</a> <a target="_blnak" href="{$siteurl}dianshi/274-0-0.html">神话电视剧</a> <a target="_blnak" href="{$siteurl}zt/dianying/lixiaolong.html ">李小龙电影</a> <a target="_blnak" href="{$siteurl}zt/dianying/jiangshi.html">林正英僵尸电影全集</a> <a target="_blnak" href="{$siteurl}mingxing-4358.html">成龙电影全集</a> </div>
    </div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
    <div class="blank10"></div>
  </div>
</div>
<div id="feedBack"><a href="javascript:;" onClick="divcenter()" title="意见反馈">意见反馈</a></div>
<include file="home:pp_footer" />
</body>
</html>
