<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>{$title}</title>
<meta name="keywords" content="{$keyword}">
<meta name="description" content="{$vod_content|strip_tags}">
<link href="{$tpl}css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}css/details.css" rel="stylesheet"/>
<link href="{$root}public/css/ico.css" rel="stylesheet"/>
</head>
<php>

</php>
<body channel="movie">
<include file="home:pp_header" /> <include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="moiveDetails">
    <div class="detailsTop">
      <p>您的当前位置：<a href="{$siteurl}">影视频道</a><i>></i><a href="{$siteurl}dianying/">电影</a><i>></i><em>{$vod_name}</em></p>
    </div>
    <!-- 影片介绍 -->
    <div class="movieDescription clearfix">
      <div class="movieDeLeft"> <img src="{$vod_picurl}" alt="{$vod_name}" title="{$vod_name}"  width="180" height="240" />
        <div class="collection"> <a href="javascript:" class="collect"><i></i><span>收藏</span></a> <a href="javascript:" class="cancel"><i></i><span>取消</span></a> </div>
      </div>
      <div class="movieDeCenter">
        <div class="movieDeCenterTop clearfix">
          <div class="movieTitle">
            <h1 title="{$vod_name}"> {$vod_name}<span>({$vod_year|default='未录入'})</span> </h1>
          </div>
          <div class="start">
            <dl>
              <dd class="fullStart"></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dt> <b>7.5</b> </dt>
            </dl>
          </div>
        </div>
        <div class="movieDeCenterCon">
          <p><span>导演：</span><notempty name="vod_director">{$vod_director|js_search_url}<else />未录入</notempty></p>
          <p><span>主演：</span><span class="v_dirRow_Wrap"><notempty name="vod_actor">{$vod_actor|js_search_url}<else />未录入</notempty></span></p>
          <p> <span>类型：</span><em class="textRight">{$vod_class_name}</em> <span>地区：</span><em>{$vod_area_name|default='未知'}</em></p>
            <if condition="!empty($vod_continu)">
            <p> <span>看点：</span><em class="textRight">{:str_replace('/',' ',$vod_continu)}</em></p>
            </if>
            <p> <span>片长：</span><em>124分钟</em> </p>
          <p class="textAbout"> <span class="movieFl">剧情：</span> <em class="movieFr textOmit"> {:js_content_url($vod_content,$Tag)}</em> </p>
        </div>
      </div>
      <div class="movieDeRight">
        <div class="evaluation clearfix">
          <ul>
            <li class="good"><a href="javascript:"></a><b>26</b></li>
            <li class="general"><a href="javascript:"></a><b>3</b></li>
            <li class="poor"><a href="javascript:"></a><b>3</b></li>
          </ul>
          <span class="link1">+1</span> </div>
        <div class="shard">
          <p>分享给小伙伴们：</p>
          <div class="bdsharebuttonbox" data-tag="share_1"> <a class="bds_qzone" data-cmd="qzone"></a> <a class="bds_tsina" data-cmd="tsina"></a> <a class="bds_tqq" data-cmd="tqq"></a> <a class="bds_weixin" data-cmd="weixin"></a> <a class="bds_renren" data-cmd="renren"></a> <a class="bds_count" data-cmd="count"></a> </div>
        </div>
      </div>
    </div>
    <div class="detailsCon clearfix">
      <div class="detailsMain">
        <!-- 立即播放 -->
        <div class="playUrl clearfix">
          <h2> <span class="feedBack"> <a href="javascript:" onClick="divcenter()">意见反馈</a> </span>
            <!-- 广告位：详情页320*30 -->
            <span style="margin-right:83px;">

            </span> <strong><span class="puTitle">《{$vod_name}》完整</span>播放地址</strong> </h2>


          <div class="playItem">
            <ul>
              <li><volist name="vod_playlist" id="pay" key="i">
                  <volist name="pay['son']" id="ppvodson" key="j">
                        <li data-value="{$i}"> <a href="{$siteurl}?s=vod-play-id-{$vod_id}&url={:urlencode($ppvodson['playpath'])}"  rel="nofollow" target="_blank" title="{$pay['playername']}"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']}</a>  <span class="triangle" style=' <if condition="$i eq 1">display:block</if>'> <b></b> </span></li>
                    </volist>
                </volist>
            </ul>
          </div>
        </div>
        <!-- 广告位：详情页640*60*2 -->
        BAIDU_CLB_fillSlot("864456");
        <div style="margin:10px 0px 20px 0px;">
          <!-- 广告位：详情页导量 -->
          BAIDU_CLB_fillSlot("918168")
        </div>
        <!-- 图片、片花预告、视频资讯、专题detailsType -->
        <div class="detailsType titleH3">
          <h2> <span class="frText"> <a href="http://www.fun.dianshi/subject/onepic/116610/s-poster.p-4895767/" rel="nofollow" target="_blank"> <strong>《暴走神探》</strong>海报2 </a> <s>|</s> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4909052/" rel="nofollow" target="_blank"> <strong>《暴走神探》</strong>剧照42 </a> </span> <a href="javascript:" class="titleHv"><strong>《暴走神探》</strong>图片</a><i>|</i> <a href="javascript:" class=""><strong>《暴走神探》</strong>片花预告</a><i>|</i> <a href="javascript:"  class=""><strong>《暴走神探》</strong>视频资讯</a><i>|</i> </h2>
          <ul class="deTypeUl">
            <!--剧照-->
            <li class="disPlay">
              <div class="picture clearfix">
                <ul class="bxslider">
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-poster.p-4895767/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/05/27/v114la/dianying/3/Lg9e4w3B158.jpg" title="暴走神探 海报" alt="暴走神探 海报" style="width:100px;height:90px;"> </a> </li>
                     <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760722/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/9/4x9130hd7m8_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                </ul>
                <span class="picLeft"><a href="javascript:"></a></span> <span class="picRight"><a href="javascript:"></a></span> </div>
            </li>
            <!--预告-->
            <li class="disNone">
              <div class="moduleTwo clearfix">
                <ul>
                  <li> <a href="{$siteurl}438814-211255-1.html" title="暴走神探 先行版预告片" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/1/78fN145vn54.jpg" alt="暴走神探 先行版预告片" title="暴走神探 先行版预告片"> <span>暴走神探 先行版预告片</span> </a> <em>01:02</em> </li>
                   </ul>
                <p class="page"><a href="javascript:" class="par">上一页</a><span class="pageNum"><i>1</i>/2</span><a href="javascript:" class="next">下一页</a></p>
              </div>
            </li>
            <!--视频资讯-->
            <li class="disNone">
              <div class="moduleItem videoInfor">
                <ul class="">
                  <li>
                    <div class="moduleTwo clearfix">
                      <ul>
                        <li> <a href="{$siteurl}438814-712697-2.html" title="《暴走神探》上海首映 阮经天杨洋“追”周冬雨" target="_self"> <img src="{$siteurl}img/2015/01/13/ct/dianying/6/22eBQT471w9.jpg" alt="《暴走神探》上海首映 阮经天杨洋“追”周冬雨"> <span>《暴走神探》上海首映 阮经天杨洋“追”周冬雨</span><b></b><i></i> </a> <em>01:40</em> </li>
                              </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- 相关影评 -->
        <div class="filmCritics titleH3">
          <h2> <a href="javascript:"  class="titleHv"><strong>《暴走神探》</strong>相关影评</a><i>|</i> </h2>
          <div class="filmCon">
            <div class="filmOne fitem disPlay movieSay">
              <div class="movieSayItem clearfix">
                <div class="sayName fl"> <strong title="u57157">u57157</strong> <em>2015-05-20</em> </div>
                <div class="sayCon fr"> <span class="angle AngleLeft"></span>
                  <p> <span class="textOmit"> 一部很令人意外的电影，不过很多熟脸还是很兴奋</span> <span class="textAll">一部很令人意外的电影，不过很多熟脸还是很兴奋</span></p>
                </div>
              </div>

              <p class="moreFilm"> <a href="http://www.m1905.com/mdb/film/2225760/review/" rel="nofollow" target="_blank">查看更多影评</a> </p>
            </div>
          </div>
        </div>
        <!-- 猜你喜欢 -->
        <div class="youLike titleH3">
          <h2> <a href="javascript:" class="titleHv"><strong>根据《{$vod_name}》</strong>猜你喜欢</a><i>|</i> <a href="javascript:" class=""><strong>《暴走神探》</strong>同主演作品</a><i>|</i> </h2>
          <div class="youLikeCon">
            <div class="youLikeItem disPlay">
              <ul>
                <li> <a href="{$siteurl}dianying/126716.html" title="暴力街区" target="_blank"> <img src="{$siteurl}img/2013/12/06/pps/dianying/6/Q54o54Pi2c6.jpg" alt="暴力街区" title="暴力街区"> <b>暴力街区</b> </a> <span>动作,外语</span> </li>
                  </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
                <li> <a href="{$siteurl}dianying/12010.html" title="love" target="_blank"> <img src="http://images.movie.xunlei.com/100x140/693/b58e72b2809cdb327f587dd1383f4d13.jpg" alt="love" title="love"> <b>love</b> </a> <span>剧情,爱情</span> </li>
                   </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div id="pagead">
          <!-- 广告位：详情页搜狗650*90 -->
         BAIDU_CLB_fillSlot("850361");
        </div>
      </div>
      <div class="detailsSidebar">
        <div class="theStart clearfix">
          <h3>相关明星</h3>
          <ul>
            <li> <a href="{$siteurl}mingxing-12807.html" title="罗卓瑶" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2014/01/22/v114la/dianying/8/1h0Hi6N4o50.jpg" alt="罗卓瑶" title="罗卓瑶"></div>
              <span>罗卓瑶</span> </a> </li>

          </ul>
        </div>
        <div style="width:300px;height:250px;">
          <!-- 广告位：详情页通用300*250 -->
          BAIDU_CLB_fillSlot("1005147");
        </div>
        <div class="news clearfix">
          <h3>新闻速递</h3>
          <ul>
            <li><a href="http://www.1905.com/news/20141204/829433.shtml" target="_blank" title="《暴走神探》发星座特辑 杨洋遭阮经天“狂虐”" rel="nofollow"><b></b>《暴走神探》发星座特辑 杨洋遭阮经天“狂虐”</a></li>
           </ul>
        </div>
        <div class="sideCont fr ingrep clearfix">
          <div class="inTitle">
            <h3 title="热门排行榜" style="margin-bottom:0px;"><a href="{$siteurl}top/movie.html" title="热门排行榜" target="_blank">热门排行榜</a></h3>
            <div class="contabs">
              <ul>
                <li class="current"><a href="javascript:;">最新</a></li>
                <li><a href="javascript:;">最热</a></li>
              </ul>
              <a href="{$siteurl}top/movie.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
          </div>
          <div class="ingrep-Cont" style="display:block;">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianying/909857.html" title="束爱" target="_blank">束爱</a> </li>
                      </ul>
          </div>
          <div class="ingrep-Cont">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianying/126716.html" title="暴力街区" target="_blank">暴力街区</a> </li>
                        </ul>
          </div>
        </div>
        <div class="theStart project clearfix">
          <h3><span><a href="{$siteurl}zt/dianying/">更多</a></span>精彩专题</h3>
          <ul>
            <li> <a href="{$siteurl}zt/dlamdy/index.htm" title="哆啦A梦：伴我同行"> <img src="{$siteurl}img/zt/2015/06/2015060111452467010.jpg" alt="哆啦A梦：伴我同行" title="哆啦A梦：伴我同行"> <span>哆啦A梦：伴我同行</span> </a> </li>
                    </ul>
        </div>
        <div style="width:300px;height:250px;margin-bottom:10px;">
         BAIDU_CLB_fillSlot("850365");
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" class="collectVid" value="438814">
<input type="hidden" class="videoClass" value="1">
<input type="hidden" class="videoUid" value="0">
<include file="home:pp_footer" />
</body>
</html>
