<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>{$title}</title>
<meta name="keywords" content="{$keyword}">
<meta name="description" content="{$vod_content|strip_tags}">
<link href="{$tpl}css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}css/details.css" rel="stylesheet"/>
<link href="{$root}public/css/ico.css" rel="stylesheet"/>
</head>
<body channel="movie">
<include file="home:pp_header" /> <include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="moiveDetails">
    <div class="detailsTop">
      <p>您的当前位置：<a href="{$siteurl}">影视频道</a><i>></i><a href="{$siteurl}dianying/">电影</a><i>></i><em>{$vod_name}</em></p>
    </div>
    <!-- 影片介绍 -->
    <div class="movieDescription clearfix">
      <div class="movieDeLeft"> <img src="{$vod_picurl}" alt="{$vod_name}" title="{$vod_name}"  width="180" height="240" />
        <div class="collection"> <a href="javascript:" class="collect"><i></i><span>收藏</span></a> <a href="javascript:" class="cancel"><i></i><span>取消</span></a> </div>
      </div>
      <div class="movieDeCenter">
        <div class="movieDeCenterTop clearfix">
          <div class="movieTitle">
            <h1 title="{$vod_name}"> {$vod_name}<span>({$vod_year|default='未录入'})</span> </h1>
          </div>
          <div class="start">
            <dl>
              <dd class="fullStart"></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dt> <b>7.5</b> </dt>
            </dl>
          </div>
        </div>
        <div class="movieDeCenterCon">
          <p><span>导演：</span><notempty name="vod_director">{$vod_director|js_search_url}<else />未录入</notempty></p>
          <p><span>主演：</span><span class="v_dirRow_Wrap"><notempty name="vod_actor">{$vod_actor|js_search_url}<else />未录入</notempty></span></p>
          <p> <span>类型：</span><em class="textRight">{$vod_class_name}</em> <span>地区：</span><em>{$vod_area_name|default='未知'}</em></p>
            <if condition="!empty($vod_continu)">
            <p> <span>类型：</span><em class="textRight">{$vod_continu}</em></p>
            </if>
            <p> <span>片长：</span><em>124分钟</em> </p>
          <p class="textAbout"> <span class="movieFl">剧情：</span> <em class="movieFr textOmit"> {:js_content_url($vod_content,$Tag)}</em> </p>
        </div>
      </div>
      <div class="movieDeRight">
        <div class="evaluation clearfix">
          <ul>
            <li class="good"><a href="javascript:"></a><b>26</b></li>
            <li class="general"><a href="javascript:"></a><b>3</b></li>
            <li class="poor"><a href="javascript:"></a><b>3</b></li>
          </ul>
          <span class="link1">+1</span> </div>
        <div class="shard">
          <p>分享给小伙伴们：</p>
          <div class="bdsharebuttonbox" data-tag="share_1"> <a class="bds_qzone" data-cmd="qzone"></a> <a class="bds_tsina" data-cmd="tsina"></a> <a class="bds_tqq" data-cmd="tqq"></a> <a class="bds_weixin" data-cmd="weixin"></a> <a class="bds_renren" data-cmd="renren"></a> <a class="bds_count" data-cmd="count"></a> </div>
        </div>
      </div>
    </div>
    <div class="detailsCon clearfix">
      <div class="detailsMain">
        <!-- 立即播放 -->
        <div class="playUrl clearfix">
          <h2> <span class="feedBack"> <a href="javascript:" onClick="divcenter()">意见反馈</a> </span>
            <!-- 广告位：详情页320*30 -->
            <span style="margin-right:83px;">
           BAIDU_CLB_fillSlot("875984");
            </span> <strong><span class="puTitle">《{$vod_name}》完整</span>播放地址</strong> </h2>
          <div class="playItem">
            <ul>
              <li><volist name="vod_playlist" id="pay" key="i">
                  <volist name="pay['son']" id="ppvodson" key="j">
                        <li data-value="{$i}"> <a href="{$siteurl}?s=vod-play-id-{$vod_id}&url={:urlencode($ppvodson['playpath'])}"  rel="nofollow" target="_blank" title="{$pay['playername']}"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']}</a>  <span class="triangle" style=' <if condition="$i eq 1">display:block</if>'> <b></b> </span></li>
                    </volist>
                </volist>
            </ul>
          </div>
        </div>
        <!-- 广告位：详情页640*60*2 -->
        BAIDU_CLB_fillSlot("864456");
        <div style="margin:10px 0px 20px 0px;">
          <!-- 广告位：详情页导量 -->
          BAIDU_CLB_fillSlot("918168")
        </div>
        <!-- 图片、片花预告、视频资讯、专题detailsType -->
        <div class="detailsType titleH3">
          <h2> <span class="frText"> <a href="http://www.fun.dianshi/subject/onepic/116610/s-poster.p-4895767/" rel="nofollow" target="_blank"> <strong>《暴走神探》</strong>海报2 </a> <s>|</s> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4909052/" rel="nofollow" target="_blank"> <strong>《暴走神探》</strong>剧照42 </a> </span> <a href="javascript:" class="titleHv"><strong>《暴走神探》</strong>图片</a><i>|</i> <a href="javascript:" class=""><strong>《暴走神探》</strong>片花预告</a><i>|</i> <a href="javascript:"  class=""><strong>《暴走神探》</strong>视频资讯</a><i>|</i> </h2>
          <ul class="deTypeUl">
            <!--剧照-->
            <li class="disPlay">
              <div class="picture clearfix">
                <ul class="bxslider">
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-poster.p-4895767/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/05/27/v114la/dianying/3/Lg9e4w3B158.jpg" title="暴走神探 海报" alt="暴走神探 海报" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4909052/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/06/01/v114la/dianying/5/7913f1is6X7.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016379/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/3/4oG5KF047J8_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016380/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/8/29dN21eY045_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016381/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/10/9M38v0D8p62_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016382/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/3/4US567662Y9_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016383/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/1/211Q1969tUZ_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016384/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/2/74wVL68w81Y_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016385/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/1/85J1S13589y_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4016386/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/9/q201tfa3y31_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760671/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/6/050l2016M06_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760672/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/9/61p9r8D34gh_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760673/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/6/K1726W2381l_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760674/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/7/a254U75I471_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760675/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/9/fp9700KM8y1_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760676/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/4/18q0799r32J_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760677/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/6/s29469iaML7_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760678/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/6/WS2v63I65Z4_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760679/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/10/128yZ0FV49B_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760684/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/9/5j3Y0b524nF_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760693/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/5/7k3R8Y33013_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760700/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/5/76nS3271j21_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760701/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/4/9R1725rM48A_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760702/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/5/103m1Pj83D5_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760703/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/8/70hLh1L9993_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760704/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/1/782O8ns3452_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760705/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/3/6A471Kkj73Y_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760706/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/10/j66d1i6K3P2_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760708/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/10/800E55W3q46_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760709/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/4/4k587bb7v97_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760710/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/7/5ns96Q802r0_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760711/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/4/92751O820V3_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760712/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/10/14e95Pa99mF_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760713/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/5/fe1E238l17P_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760714/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/10/1441dX15Q92_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760715/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/4/8V4a2H569N0_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760716/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/2/C734u5R4k3v_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760717/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/8/74w6dc1261X_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760718/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/1/66144Ln8Lm3_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760719/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/5/hTI534075S0_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760720/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/1/82K2k4E9707_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760721/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/4/2Pu1m22n712_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                  <li> <a href="http://www.fun.dianshi/subject/onepic/116610/s-still.p-4760722/" rel="nofollow" target="_blank"> <img src="{$siteurl}img/2015/03/27/v114la/dianying/9/4x9130hd7m8_v114la_100_90.jpg" title="暴走神探 剧照" alt="暴走神探 剧照" style="width:100px;height:90px;"> </a> </li>
                </ul>
                <span class="picLeft"><a href="javascript:"></a></span> <span class="picRight"><a href="javascript:"></a></span> </div>
            </li>
            <!--预告-->
            <li class="disNone">
              <div class="moduleTwo clearfix">
                <ul>
                  <li> <a href="{$siteurl}438814-211255-1.html" title="暴走神探 先行版预告片" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/1/78fN145vn54.jpg" alt="暴走神探 先行版预告片" title="暴走神探 先行版预告片"> <span>暴走神探 先行版预告片</span> </a> <em>01:02</em> </li>
                  <li> <a href="{$siteurl}438814-211253-1.html" title="暴走神探：征档视频 何时上映你来定" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/1/2yl36278y5t.jpg" alt="暴走神探：征档视频 何时上映你来定" title="暴走神探：征档视频 何时上映你来定"> <span>暴走神探：征档视频 何时上映你来定</span> </a> <em>01:31</em> </li>
                  <li> <a href="{$siteurl}438814-211251-1.html" title="【暴走神探】阮经天魔都查案洗冤屈 导演欲打造中国福尔摩斯" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/2/67295h7093q.jpg" alt="【暴走神探】阮经天魔都查案洗冤屈 导演欲打造中国福尔摩斯" title="【暴走神探】阮经天魔都查案洗冤屈 导演欲打造中国福尔摩斯"> <span>【暴走神探】阮经天魔都查案洗冤屈 导演欲打造</span> </a> <em>01:47</em> </li>
                  <li> <a href="{$siteurl}438814-211249-1.html" title="【暴走神探】盲女周冬雨百变毒舌压制阮经天" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/4/00dk99mLl13.jpg" alt="【暴走神探】盲女周冬雨百变毒舌压制阮经天" title="【暴走神探】盲女周冬雨百变毒舌压制阮经天"> <span>【暴走神探】盲女周冬雨百变毒舌压制阮经天</span> </a> <em>02:57</em> </li>
                  <li> <a href="{$siteurl}438814-211247-1.html" title="【暴走神探】美少年杨洋 霸道长官拍吻戏也害羞" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/5/Y54MJ58Hp93.jpg" alt="【暴走神探】美少年杨洋 霸道长官拍吻戏也害羞" title="【暴走神探】美少年杨洋 霸道长官拍吻戏也害羞"> <span>【暴走神探】美少年杨洋 霸道长官拍吻戏也害羞</span> </a> <em>01:58</em> </li>
                  <li> <a href="{$siteurl}438814-211245-1.html" title="【暴走神探】神秘女侠杨子姗文武双全迷晕阮经天" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/3/63162TW6QKt.jpg" alt="【暴走神探】神秘女侠杨子姗文武双全迷晕阮经天" title="【暴走神探】神秘女侠杨子姗文武双全迷晕阮经天"> <span>【暴走神探】神秘女侠杨子姗文武双全迷晕阮经天</span> </a> <em>03:42</em> </li>
                  <li> <a href="{$siteurl}438814-211243-1.html" title="【暴走神探】阮经天查案背书两不误看魔都万种风情" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/9/5H4621E75c6.jpg" alt="【暴走神探】阮经天查案背书两不误看魔都万种风情" title="【暴走神探】阮经天查案背书两不误看魔都万种风情"> <span>【暴走神探】阮经天查案背书两不误看魔都万种风</span> </a> <em>01:31</em> </li>
                  <li> <a href="{$siteurl}438814-211241-1.html" title="【暴走神探】特辑 主创大乱斗 阮经天虐待杨洋" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/8/430VBcy236d.jpg" alt="【暴走神探】特辑 主创大乱斗 阮经天虐待杨洋" title="【暴走神探】特辑 主创大乱斗 阮经天虐待杨洋"> <span>【暴走神探】特辑 主创大乱斗 阮经天虐待杨洋</span> </a> <em>02:30</em> </li>
                  <li> <a href="{$siteurl}438814-211239-1.html" title="【暴走神探】主题曲演绎重口味 好声音学员阚立文献唱" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/10/r1085yY6Q11.jpg" alt="【暴走神探】主题曲演绎重口味 好声音学员阚立文献唱" title="【暴走神探】主题曲演绎重口味 好声音学员阚立文献唱"> <span>【暴走神探】主题曲演绎重口味 好声音学员阚立</span> </a> <em>01:28</em> </li>
                  <li> <a href="{$siteurl}438814-211237-1.html" title="【暴走神探】导演特辑 阮经天称其疯狂 周冬雨大赞体力好" target="_self"> <img src="{$siteurl}img/2015/03/27/funshion_6/dianying/3/e21Fjn20j60.jpg" alt="【暴走神探】导演特辑 阮经天称其疯狂 周冬雨大赞体力好" title="【暴走神探】导演特辑 阮经天称其疯狂 周冬雨大赞体力好"> <span>【暴走神探】导演特辑 阮经天称其疯狂 周冬雨</span> </a> <em>03:48</em> </li>
                  <li> <a href="{$siteurl}438814-195715-1.html" title="《暴走神探》玩命黑马版预告 阮经天查案文艺背书" target="_self"> <img src="{$siteurl}img/2014/12/09/m1905_5/dianying/9/496ixDe1337.jpg" alt="《暴走神探》玩命黑马版预告 阮经天查案文艺背书" title="《暴走神探》玩命黑马版预告 阮经天查案文艺背书"> <span>《暴走神探》玩命黑马版预告 阮经天查案文艺背</span> </a> <em>01:31</em> </li>
                  <li> <a href="{$siteurl}438814-195257-1.html" title="《暴走神探》曝海报 阮经天左拥右抱惨不忍睹" target="_self"> <img src="{$siteurl}img/2014/12/07/m1905_5/dianying/6/Ydi080675G3.jpg" alt="《暴走神探》曝海报 阮经天左拥右抱惨不忍睹" title="《暴走神探》曝海报 阮经天左拥右抱惨不忍睹"> <span>《暴走神探》曝海报 阮经天左拥右抱惨不忍睹</span> </a> <em>00:13</em> </li>
                </ul>
                <p class="page"><a href="javascript:" class="par">上一页</a><span class="pageNum"><i>1</i>/2</span><a href="javascript:" class="next">下一页</a></p>
              </div>
            </li>
            <!--视频资讯-->
            <li class="disNone">
              <div class="moduleItem videoInfor">
                <ul class="">
                  <li>
                    <div class="moduleTwo clearfix">
                      <ul>
                        <li> <a href="{$siteurl}438814-712697-2.html" title="《暴走神探》上海首映 阮经天杨洋“追”周冬雨" target="_self"> <img src="{$siteurl}img/2015/01/13/ct/dianying/6/22eBQT471w9.jpg" alt="《暴走神探》上海首映 阮经天杨洋“追”周冬雨"> <span>《暴走神探》上海首映 阮经天杨洋“追”周冬雨</span><b></b><i></i> </a> <em>01:40</em> </li>
                        <li> <a href="{$siteurl}438814-659559-2.html" title="《暴走神探》主题曲MV" target="_self"> <img src="http://d.ifengimg.com/w200_h150/y0.ifengimg.com/pmop/2014/12/09/694e9607-57cf-4118-b2bb-698930bd9092.jpg" alt="《暴走神探》主题曲MV"> <span>《暴走神探》主题曲MV</span><b></b><i></i> </a> <em>01:28</em> </li>
                        <li> <a href="{$siteurl}438814-675839-2.html" title="《暴走神探》周冬雨杨子姗当众“欺负”阮经天" target="_self"> <img src="{$siteurl}img/2014/12/20/ct/dianying/10/4c78c5e9W41.jpg" alt="《暴走神探》周冬雨杨子姗当众“欺负”阮经天"> <span>《暴走神探》周冬雨杨子姗当众“欺负”阮经天</span><b></b><i></i> </a> <em>02:24</em> </li>
                        <li> <a href="{$siteurl}438814-354261-2.html" title="《暴走神探》杀青 阮经天周冬雨不来电" target="_self"> <img src="{$siteurl}img/2014/05/29/ct/dianying/3/We6927305zX.jpg" alt="《暴走神探》杀青 阮经天周冬雨不来电"> <span>《暴走神探》杀青 阮经天周冬雨不来电</span><b></b><i></i> </a> <em>01:42</em> </li>
                        <li> <a href="{$siteurl}438814-607871-2.html" title="《暴走神探》澳门宣传阮经天叫苦连连" target="_self"> <img src="{$siteurl}img/2014/11/05/ct/dianying/10/6m0I4992g7C.jpg" alt="《暴走神探》澳门宣传阮经天叫苦连连"> <span>《暴走神探》澳门宣传阮经天叫苦连连</span><b></b><i></i> </a> <em>01:56</em> </li>
                        <li> <a href="{$siteurl}438814-607819-2.html" title="《暴走神探》：周冬雨阮经天“有情况”" target="_self"> <img src="{$siteurl}img/2014/11/05/ct/dianying/9/g868w04Bp7y.jpg" alt="《暴走神探》：周冬雨阮经天“有情况”"> <span>《暴走神探》：周冬雨阮经天“有情况”</span><b></b><i></i> </a> <em>01:48</em> </li>
                        <li> <a href="{$siteurl}438814-613693-2.html" title="《暴走神探》：阮经天周冬雨有情况" target="_self"> <img src="{$siteurl}img/2014/11/09/ct/dianying/10/43Y6Y33ojp9.jpg" alt="《暴走神探》：阮经天周冬雨有情况"> <span>《暴走神探》：阮经天周冬雨有情况</span><b></b><i></i> </a> <em>01:47</em> </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- 相关影评 -->
        <div class="filmCritics titleH3">
          <h2> <a href="javascript:"  class="titleHv"><strong>《暴走神探》</strong>相关影评</a><i>|</i> </h2>
          <div class="filmCon">
            <div class="filmOne fitem disPlay movieSay">
              <div class="movieSayItem clearfix">
                <div class="sayName fl"> <strong title="u57157">u57157</strong> <em>2015-05-20</em> </div>
                <div class="sayCon fr"> <span class="angle AngleLeft"></span>
                  <p> <span class="textOmit"> 一部很令人意外的电影，不过很多熟脸还是很兴奋</span> <span class="textAll">一部很令人意外的电影，不过很多熟脸还是很兴奋</span></p>
                </div>
              </div>
              <div class="movieSayItem clearfix">
                <div class="sayName fr"> <strong title="u57157">u57157</strong> <em>2015-04-15</em> </div>
                <div class="sayCon fl"> <span class="angle AngleRight"></span>
                  <p> <span class="textOmit"> 一个平淡的故事，用了很多角度去描写，感觉一般</span> <span class="textAll">一个平淡的故事，用了很多角度去描写，感觉一般</span></p>
                </div>
              </div>
              <div class="movieSayItem clearfix">
                <div class="sayName fl"> <strong title="如果Love1001">如果Love1001</strong> <em>2015-02-23</em> </div>
                <div class="sayCon fr"> <span class="angle AngleLeft"></span>
                  <p> <span class="textOmit"> 全片和男主的港台腔一样执拗古怪，上下透着一股不和谐：想走复古范的商业路线，结果风格更像一部黑色侦探片，虽然加入不少戏谑和反讽，对醉生梦死的魔都细致还原到位；但缺乏悬疑感和紧凑剧情失...<a href="javascript:" class="textMore" >[更多]</a></span> <span class="textAll">全片和男主的港台腔一样执拗古怪，上下透着一股不和谐：想走复古范的商业路线，结果风格更像一部黑色侦探片，虽然加入不少戏谑和反讽，对醉生梦死的魔都细致还原到位；但缺乏悬疑感和紧凑剧情失分不少，阮经天依然木讷如一，杨子珊的狮吼骂印象深刻！<a href="javascript:" class="packUp" >[收起]</a></span></p>
                </div>
              </div>
              <div class="movieSayItem clearfix">
                <div class="sayName fr"> <strong title="dywy">dywy</strong> <em>2015-02-14</em> </div>
                <div class="sayCon fl"> <span class="angle AngleRight"></span>
                  <p> <span class="textOmit"> 收到那个复古小挎包了，很喜欢，上下班背着也很时尚简约，感谢电影网，感谢@电影暴走神探！</span> <span class="textAll">收到那个复古小挎包了，很喜欢，上下班背着也很时尚简约，感谢电影网，感谢@电影暴走神探！</span></p>
                </div>
              </div>
              <div class="movieSayItem clearfix">
                <div class="sayName fl"> <strong title="felix007">felix007</strong> <em>2015-02-07</em> </div>
                <div class="sayCon fr"> <span class="angle AngleLeft"></span>
                  <p> <span class="textOmit"> 收到运动臂带了，健身的时候方便了，感谢叮叮</span> <span class="textAll">收到运动臂带了，健身的时候方便了，感谢叮叮</span></p>
                </div>
              </div>
              <p class="moreFilm"> <a href="http://www.m1905.com/mdb/film/2225760/review/" rel="nofollow" target="_blank">查看更多影评</a> </p>
            </div>
          </div>
        </div>
        <!-- 猜你喜欢 -->
        <div class="youLike titleH3">
          <h2> <a href="javascript:" class="titleHv"><strong>根据《暴走神探》</strong>猜你喜欢</a><i>|</i> <a href="javascript:" class=""><strong>《暴走神探》</strong>同主演作品</a><i>|</i> </h2>
          <div class="youLikeCon">
            <div class="youLikeItem disPlay">
              <ul>
                <li> <a href="{$siteurl}dianying/126716.html" title="暴力街区" target="_blank"> <img src="{$siteurl}img/2013/12/06/pps/dianying/6/Q54o54Pi2c6.jpg" alt="暴力街区" title="暴力街区"> <b>暴力街区</b> </a> <span>动作,外语</span> </li>
                <li> <a href="{$siteurl}dianying/4410.html" title="白发魔女传" target="_blank"> <img src="{$siteurl}img/2013/07/17/m1905/dianying/4/EK26126s65S.jpg" alt="白发魔女传" title="白发魔女传"> <b>白发魔女传</b> </a> <span>动作,爱情,剧情,奇幻,古装</span> </li>
                <li> <a href="{$siteurl}dianying/72926.html" title="雇佣军" target="_blank"> <img src="http://images.movie.xunlei.com/100x140/1040/89cee3905dcdbedd4896bcf74dbfcc7e.jpg" alt="雇佣军" title="雇佣军"> <b>雇佣军</b> </a> <span>动作,剧情</span> </li>
                <li> <a href="{$siteurl}dianying/188.html" title="超级女特工" target="_blank"> <img src="{$siteurl}img/2013/12/24/youku/dianying/9/516klgM306a.jpg" alt="超级女特工" title="超级女特工"> <b>超级女特工</b> </a> <span>惊悚,历史,战争,动作,剧情</span> </li>
                <li> <a href="{$siteurl}dianying/11779.html" title="变形金刚3" target="_blank"> <img src="http://images.movie.xunlei.com/100x140/590/578ed2d7dcb2e3dbe01a2f076855d826.jpg" alt="变形金刚3" title="变形金刚3"> <b>变形金刚3</b> </a> <span>动作,科幻</span> </li>
                <li> <a href="{$siteurl}dianying/20470.html" title="新天龙八部" target="_blank"> <img src="http://image11.m1905.cn/uploadfile/2013/0301/thumb_1_160_230_20130301033431384.jpg" alt="新天龙八部" title="新天龙八部"> <b>新天龙八部</b> </a> <span>动作,武侠,古装</span> </li>
                <li> <a href="{$siteurl}dianying/260.html" title="画壁" target="_blank"> <img src="{$siteurl}img/2013/07/17/m1905/dianying/5/945Zpm685J3.jpg" alt="画壁" title="画壁"> <b>画壁</b> </a> <span>爱情,动作</span> </li>
                <li> <a href="{$siteurl}dianying/107200.html" title="富贵列车" target="_blank"> <img src="{$siteurl}img/2013/11/20/xl/dianying/9/h485354o01l.jpg" alt="富贵列车" title="富贵列车"> <b>富贵列车</b> </a> <span>动作,喜剧</span> </li>
                <li> <a href="{$siteurl}dianying/12169.html" title="绝色武器" target="_blank"> <img src="http://pic1.qiyipic.com/thumb/20130619/a219573u4_180_236.jpg" alt="绝色武器" title="绝色武器"> <b>绝色武器</b> </a> <span>动作,剧情,悬疑,爱情</span> </li>
                <li> <a href="{$siteurl}dianying/122.html" title="邻家特工" target="_blank"> <img src="{$siteurl}img/2013/07/17/m1905/dianying/1/7s65ex03L4p.jpg" alt="邻家特工" title="邻家特工"> <b>邻家特工</b> </a> <span>动作,喜剧</span> </li>
              </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
                <li> <a href="{$siteurl}dianying/12010.html" title="love" target="_blank"> <img src="http://images.movie.xunlei.com/100x140/693/b58e72b2809cdb327f587dd1383f4d13.jpg" alt="love" title="love"> <b>love</b> </a> <span>剧情,爱情</span> </li>
                <li> <a href="{$siteurl}dianying/61537.html" title="男生贾里新传" target="_blank"> <img src="{$siteurl}img/2013/12/06/pps/dianying/6/04W97Ds37fh.jpg" alt="男生贾里新传" title="男生贾里新传"> <b>男生贾里新传</b> </a> <span>王成阳,阮经天,陈辰,李威,剧情片,青春</span> </li>
                <li> <a href="{$siteurl}dianying/29981.html" title="艋舺" target="_blank"> <img src="http://i0.letvimg.com/vrs/201301/24/65fcb5f1cd834f00ad9b7cebf197f700.jpg" alt="艋舺" title="艋舺"> <b>艋舺</b> </a> <span>剧情</span> </li>
                <li> <a href="{$siteurl}dianying/61792.html" title="六号出口" target="_blank"> <img src="{$siteurl}img/2013/12/24/youku/dianying/4/B8Gw6u1020e.jpg" alt="六号出口" title="六号出口"> <b>六号出口</b> </a> <span>彭于晏,阮经天,刘荷娜,林育贤,剧情片,青春,生活</span> </li>
                <li> <a href="{$siteurl}dianying/438764.html" title="心花路放" target="_blank"> <img src="{$siteurl}img/up_img/201407/140601811326022.jpg" alt="心花路放" title="心花路放"> <b>心花路放</b> </a> <span>喜剧</span> </li>
                <li> <a href="{$siteurl}dianying/307849.html" title="同桌的妳" target="_blank"> <img src="{$siteurl}img/2014/04/29/pps/dianying/10/2wl88i7w57X.jpg" alt="同桌的妳" title="同桌的妳"> <b>同桌的妳</b> </a> <span>剧情,爱情,国语</span> </li>
                <li> <a href="{$siteurl}dianying/54584.html" title="宫锁沉香" target="_blank"> <img src="http://pic5.qiyipic.com/image/20130930/v_50700895_m_601_m3_180_236.jpg" alt="宫锁沉香" title="宫锁沉香"> <b>宫锁沉香</b> </a> <span>电影,爱情,剧情</span> </li>
                <li> <a href="{$siteurl}dianying/4094.html" title="湘江北去" target="_blank"> <img src="{$siteurl}img/2013/07/17/m1905/dianying/3/90530uE36Pl.jpg" alt="湘江北去" title="湘江北去"> <b>湘江北去</b> </a> <span>剧情,战争,历史</span> </li>
                <li> <a href="{$siteurl}dianying/327962.html" title="《同桌的你》预告" target="_blank"> <img src="{$siteurl}img/up_img/201405/139989307283000.jpg" alt="《同桌的你》预告" title="《同桌的你》预告"> <b>《同桌的你》预告</b> </a> <span>爱情 剧情</span> </li>
                <li> <a href="{$siteurl}dianying/856567.html" title="致敬不朽青春" target="_blank"> <img src="{$siteurl}img/2015/04/29/xl/dianying/2/i1142d714M7.jpg" alt="致敬不朽青春" title="致敬不朽青春"> <b>致敬不朽青春</b> </a> <span>剧情,爱情</span> </li>
              </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div id="pagead">
          <!-- 广告位：详情页搜狗650*90 -->
         BAIDU_CLB_fillSlot("850361");
        </div>
      </div>
      <div class="detailsSidebar">
        <div class="theStart clearfix">
          <h3>相关明星</h3>
          <ul>
            <li> <a href="{$siteurl}mingxing-12807.html" title="罗卓瑶" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2014/01/22/v114la/dianying/8/1h0Hi6N4o50.jpg" alt="罗卓瑶" title="罗卓瑶"></div>
              <span>罗卓瑶</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-4384.html" title="阮经天" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/9/8A440BG2m63.jpg" alt="阮经天" title="阮经天"></div>
              <span>阮经天</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-5036.html" title="周冬雨" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/8/3F77BL9W2h4.jpg" alt="周冬雨" title="周冬雨"></div>
              <span>周冬雨</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-915.html" title="杨子姗" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/1/236v89061SB.jpg" alt="杨子姗" title="杨子姗"></div>
              <span>杨子姗</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-5692.html" title="杨洋" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/6/A5GTw737g91.jpg" alt="杨洋" title="杨洋"></div>
              <span>杨洋</span> </a> </li>
          </ul>
        </div>
        <div style="width:300px;height:250px;">
          <!-- 广告位：详情页通用300*250 -->
          BAIDU_CLB_fillSlot("1005147");
        </div>
        <div class="news clearfix">
          <h3>新闻速递</h3>
          <ul>
            <li><a href="http://www.1905.com/news/20141204/829433.shtml" target="_blank" title="《暴走神探》发星座特辑 杨洋遭阮经天“狂虐”" rel="nofollow"><b></b>《暴走神探》发星座特辑 杨洋遭阮经天“狂虐”</a></li>
            <li><a href="http://www.1905.com/news/20141117/821800.shtml" target="_blank" title="《暴走神探》曝预告 定档12.19战《一步之遥》" rel="nofollow"><b></b>《暴走神探》曝预告 定档12.19战《一步之遥》</a></li>
            <li><a href="http://www.1905.com/news/20141127/826384.shtml" target="_blank" title="《暴走神探》预告海报双发 阮经天变身文艺逗比" rel="nofollow"><b></b>《暴走神探》预告海报双发 阮经天变身文艺逗比</a></li>
            <li><a href="http://www.1905.com/news/20141125/825246.shtml" target="_blank" title="《暴走神探》曝新特辑 阮经天遭“酷刑”蹂躏" rel="nofollow"><b></b>《暴走神探》曝新特辑 阮经天遭“酷刑”蹂躏</a></li>
            <li><a href="http://www.1905.com/news/20141121/823868.shtml" target="_blank" title="《暴走神探》曝香艳版剧照 阮经天扮演风骚女人" rel="nofollow"><b></b>《暴走神探》曝香艳版剧照 阮经天扮演风骚女人</a></li>
            <li><a href="http://www.1905.com/news/20141114/820785.shtml" target="_blank" title="《暴走神探》定档12.19 与《一步之遥》正面PK" rel="nofollow"><b></b>《暴走神探》定档12.19 与《一步之遥》正面PK</a></li>
          </ul>
        </div>
        <div class="sideCont fr ingrep clearfix">
          <div class="inTitle">
            <h3 title="热门排行榜" style="margin-bottom:0px;"><a href="{$siteurl}top/movie.html" title="热门排行榜" target="_blank">热门排行榜</a></h3>
            <div class="contabs">
              <ul>
                <li class="current"><a href="javascript:;">最新</a></li>
                <li><a href="javascript:;">最热</a></li>
              </ul>
              <a href="{$siteurl}top/movie.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
          </div>
          <div class="ingrep-Cont" style="display:block;">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianying/909857.html" title="束爱" target="_blank">束爱</a> </li>
              <li > <em>2</em> <a href="{$siteurl}dianying/908703.html" title="喂喂,未来" target="_blank">喂喂,未来</a> </li>
              <li > <em>3</em> <a href="{$siteurl}dianying/908319.html" title="末日崩塌强森独秀" target="_blank">末日崩塌强森独</a> </li>
              <li > <em>4</em> <a href="{$siteurl}dianying/908187.html" title="爱奇艺爱电影：末日崩塌大天灾" target="_blank">爱奇艺爱电影：</a> </li>
              <li > <em>5</em> <a href="{$siteurl}dianying/908151.html" title="《多啦》虐《复联》夺冠" target="_blank">《多啦》虐《复</a> </li>
              <li > <em>6</em> <a href="{$siteurl}dianying/907267.html" title="神针" target="_blank">神针</a> </li>
              <li > <em>7</em> <a href="{$siteurl}dianying/906715.html" title="拥抱明天" target="_blank">拥抱明天</a> </li>
              <li > <em>8</em> <a href="{$siteurl}dianying/906707.html" title="龙斌大话电影：木星上行" target="_blank">龙斌大话电影：</a> </li>
              <li > <em>9</em> <a href="{$siteurl}dianying/906566.html" title="解救吾先生" target="_blank">解救吾先生</a> </li>
              <li > <em>10</em> <a href="{$siteurl}dianying/906564.html" title="华丽上班族" target="_blank">华丽上班族</a> </li>
            </ul>
          </div>
          <div class="ingrep-Cont">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianying/126716.html" title="暴力街区" target="_blank">暴力街区</a> </li>
              <li > <em>2</em> <a href="{$siteurl}dianying/4501.html" title="敢死队" target="_blank">敢死队</a> </li>
              <li > <em>3</em> <a href="{$siteurl}dianying/559805.html" title="京城81号" target="_blank">京城81号</a> </li>
              <li > <em>4</em> <a href="{$siteurl}dianying/4371.html" title="内衣少女" target="_blank">内衣少女</a> </li>
              <li > <em>5</em> <a href="{$siteurl}dianying/654897.html" title="越空魔龙" target="_blank">越空魔龙</a> </li>
              <li > <em>6</em> <a href="{$siteurl}dianying/438648.html" title="后会无期" target="_blank">后会无期</a> </li>
              <li > <em>7</em> <a href="{$siteurl}dianying/438652.html" title="闺蜜" target="_blank">闺蜜</a> </li>
              <li > <em>8</em> <a href="{$siteurl}dianying/10.html" title="婚前试爱" target="_blank">婚前试爱</a> </li>
              <li > <em>9</em> <a href="{$siteurl}dianying/594599.html" title="老男孩猛龙过江" target="_blank">老男孩猛龙过江</a> </li>
              <li > <em>10</em> <a href="{$siteurl}dianying/125405.html" title="监视者们" target="_blank">监视者们</a> </li>
            </ul>
          </div>
        </div>
        <div class="theStart project clearfix">
          <h3><span><a href="{$siteurl}zt/dianying/">更多</a></span>精彩专题</h3>
          <ul>
            <li> <a href="{$siteurl}zt/dlamdy/index.htm" title="哆啦A梦：伴我同行"> <img src="{$siteurl}img/zt/2015/06/2015060111452467010.jpg" alt="哆啦A梦：伴我同行" title="哆啦A梦：伴我同行"> <span>哆啦A梦：伴我同行</span> </a> </li>
            <li> <a href="{$siteurl}zt/hys/wydy.htm" title="5月必看电影"> <img src="{$siteurl}img/zt/2015/05/2015052013082337015.jpg" alt="5月必看电影" title="5月必看电影"> <span>5月必看电影</span> </a> </li>
            <li> <a href="{$siteurl}zt/hys/index.htm" title="何以笙箫默"> <img src="{$siteurl}img/zt/2015/05/2015051817483780108.jpg" alt="何以笙箫默" title="何以笙箫默"> <span>何以笙箫默</span> </a> </li>
            <li> <a href="/zt/dianying/fl2.html?0" title="复仇者联盟2"> <img src="{$siteurl}img/zt/2015/05/2015051309334166694.jpg" alt="复仇者联盟2" title="复仇者联盟2"> <span>复仇者联盟2</span> </a> </li>
          </ul>
        </div>
        <div style="width:300px;height:250px;margin-bottom:10px;">
         BAIDU_CLB_fillSlot("850365");
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" class="collectVid" value="438814">
<input type="hidden" class="videoClass" value="1">
<input type="hidden" class="videoUid" value="0">
<include file="home:pp_footer" />
</body>
</html>
