<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>《{$vod_name}》电视剧全集 - 高清在线观看 - {$sitename}</title>
<meta name="keywords" content="{$vod_name},{$vod_name}电视剧,{$vod_name}全集,{$vod_name}在线观看,{$vod_name}下载">
    <meta name="description" content="{$vod_name}电视剧,{$vod_name}全集在线观看,{$vod_name}由{$vod_actor}等倾情演绎,主要讲述{:mb_substr(strip_tags($vod_content),0,80,'utf-8')}">
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}css/details.css" rel="stylesheet"/>
<link href="{$root}public/css/ico.css" rel="stylesheet"/>
</head>
<body channel="movie">
<include file="home:pp_header" />
<include file="home:pp_nav" />
<div class="wrap clearfix">
 <iframe src="/music/music.htm" accesskey="" width="100%" height="650px" scrolling="NO" border="0" frameborder="NO" ></iframe>
</div>

  <include file="home:pp_footer" />
<script language="javascript" src="{$tpl}/js/home.js"></script>

</body>
</html>
