<span >{$tongji}</span>
<script type="text/javascript">
    var vod_id="{$vod_id}";
</script>
<div id="feedBack"><a href="javascript:;" onClick="divcenter()" title="意见反馈">意见反馈</a></div>
<script type="text/javascript" src="{$tpl}js/feedBack.js"></script>
<script src="/public/jquery/jquery-1.7.2.min.js"></script>
<script src="/public/jquery/jquery.autocomplete-1.1.js"></script>
<script type="text/javascript" src="{$tpl}/js/webSeo.js"></script>
<div id="gotop"><a href="javascript:;" title="回顶部">回顶部</a></div>
<script src="{$tpl}/js/common.source.js"></script>