<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>2015好看的电影排行榜_最新电视剧大全_免费在线观看电影电视剧 - {$sitename}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="电影排行榜,最新电视剧,快看影视,2015最新电影,好看的电影,最新电视剧大全,免费在线观看" />
    <meta name="description" content="快看影视为您提供2015最新电影排行榜，最新电视剧大全，好看的电影，经典动漫推荐，综艺娱乐，好看的微电影大全等免费高清影视在线观看。我们第一时间每天更新上百部最新电影电视剧，致力打造最全的影视资源网站!" />
    <link href="{$tpl}/css/style.css" rel="stylesheet" />
</head>
<body>

<php>
    $vod_tv_hot = js_mysql_vod('cid:2;isfilm:3;limit:6;order:vod_uptime DESC, sort DESC');
    // 推荐电视剧
    $vod_tv_re_hot = js_mysql_vod('cid:2;limit:7;order:vod_uptime DESC, sort DESC');
    $vod_tv_re_news = js_mysql_vod('cid:2;limit:8;order:vod_uptime DESC,vod_addtime desc');
    $vod_tv_re_neidi = js_mysql_vod('cid:2;area:1;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_tv_re_tvb = js_mysql_vod('cid:2;area:3;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_tv_re_hanju = js_mysql_vod('cid:2;area:5;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_tv_re_meiju = js_mysql_vod('cid:2;area:8;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_tv_re_taiju = js_mysql_vod('cid:2;area:4;limit:8;order:vod_uptime DESC, sort DESC');

    $vod_tv_top = js_mysql_vod('cid:2;limit:10;order:vod_uptime DESC, vod_hits DESC');
    $vod_tv_top_hanju = js_mysql_vod('cid:2;area:5;limit:10;vod_uptime DESC,vod_hits DESC');
    $vod_tv_top_meiju = js_mysql_vod('cid:2;area:8;limit:10;order:vod_uptime DESC, vod_hits DESC');

    // 推荐电影
    $vod_mv_re_hot = js_mysql_vod('cid:1;limit:7;order:vod_uptime DESC, sort DESC, hot_sort desc');
    $vod_mv_re_meiju = js_mysql_vod('cid:1;area:11;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_mv_re_dongzuo = js_mysql_vod('cid:1;class_id:10;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_mv_re_xiju = js_mysql_vod('cid:1;class_id:8;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_mv_re_zhanzheng = js_mysql_vod('cid:1;class_id:39;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_mv_re_kongbu = js_mysql_vod('cid:1;class_id:11;limit:8;order:vod_uptime DESC, sort DESC');

    $vod_mv_top = js_mysql_vod('cid:1;limit:10;order: vod_uptime DESC,vod_hits desc');
    $vod_mv_top_xiju = js_mysql_vod('cid:1;class_id:8;limit:10;order:vod_uptime DESC,vod_hits DESC');
    $vod_mv_top_kehuan = js_mysql_vod('cid:1;class_id:12;limit:10;order:vod_uptime DESC,vod_hits DESC');

    // 动漫
    $vod_dm_re_hot = js_mysql_vod('cid:3;limit:7;order:re_sort desc, hot_sort desc');
    $vod_dm_re_riben = js_mysql_vod('cid:3;area:22;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_dm_re_guochan = js_mysql_vod('cid:3;area:24;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_dm_re_meiguo = js_mysql_vod('cid:3;area:23;limit:8;order:vod_uptime DESC, sort DESC');

    $vod_dm_top = js_mysql_vod('cid:3;limit:10;order: vod_uptime DESC,vod_hits desc');
    $vod_dm_top_riben = js_mysql_vod('cid:3;area:22;limit:10;order:vod_uptime DESC, vod_hits DESC');
    $vod_dm_top_guochan = js_mysql_vod('cid:3;area:24;limit:10;order:vod_uptime DESC,vod_hits DESC');

    // 综艺
    $vod_zy_re_hot = js_mysql_vod('cid:4;limit:7;order:vod_uptime DESC, sort DESC, hot_sort desc');
    $vod_zy_re_shishang = js_mysql_vod('cid:4;class_id:93;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_zy_re_xuanxiu = js_mysql_vod('cid:4;class_id:85;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_zy_re_qinggan = js_mysql_vod('cid:4;class_id:88;limit:8;order:vod_uptime DESC, sort DESC');
    $vod_zy_re_fangtan = js_mysql_vod('cid:4;class_id:87;limit:8;order:vod_uptime DESC, sort DESC');

    $vod_zy_top = js_mysql_vod('cid:4;limit:10;order:vod_uptime DESC');
    $vod_zy_top_xuanxiu = js_mysql_vod('cid:4;class_id:85;limit:10;order:vod_uptime DESC, vod_hits DESC');
    $vod_zy_top_fangtan = js_mysql_vod('cid:4;class_id:87;limit:10;order:vod_uptime DESC,vod_hits DESC');

    // 专题

</php>
<include file="home:pp_header" />
<include file="home:pp_nav" />
<include file="home:pp_index_slider" />

<div class="wrapper" id="dexCol">
<dl class="siteLink">
</dl>
<div class="comwrap topare">
    <div class="comTitle inTitle">
        <h2 title="卫视热播"><a href="{$siteurl}live/" target="_blank" title="卫视热播" class="wsrb">卫视热播</a></h2>
    </div>

    <div class="newarrive-wrap">
        <ul class="comcaseRow clearfix">
            <volist name="vod_tv_hot" id="vod">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}"><img src="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:strip_tags($vod['vod_continu'])}</p>
            </li>
            </volist>
        </ul>
    </div>
</div>
<div>{:getadsurl('index_1')}</div>
<div class="comwrap clearfix">
<div class="leftSide fl ingrep">
<dl class="inTitle">
    <dt>
    <h2 title="推荐电视剧"><a href="{$siteurl}dianshi/" target="_blank" title="推荐电视剧" target="_blank">推荐电视剧</a></h2>
    </dt>
    <dd class="contabs">
        <ul>
            <li class="current"><a href="javascript:;">最热</a></li>
            <li><a href="javascript:;">最新</a></li>
            <li><a href="javascript:;">内地</a></li>
            <li><a href="javascript:;">TVB</a></li>
            <li><a href="javascript:;">韩剧</a></li>
            <li><a href="javascript:;">美剧</a></li>
            <li><a href="javascript:;">台剧</a></li>
        </ul>
        <a href="{$siteurl}dianshi/" class="more" target="_blank">更多>></a></dd>
</dl>
<div class="ingrep-Cont" style="display:block;">
    <div class="clearfix rowleft">
        <volist name="vod_tv_re_hot" id="vod" offset="0" length="1">
        <div class="bgsummar fl"><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite><strong>{$vod['vod_name']}</strong>{:strip_tags($vod['vod_golder'])}</cite></a>
            <p>{:mb_substr(strip_tags($vod['vod_content']),0,100,'utf-8')}<em></em></p>
        </div>
            </volist>
        <ul class="sumgroup fr clearfix">
            <volist name="vod_tv_re_hot" id="vod" key="i">
                <if condition="$i gt 1">
            <li class=""><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:strip_tags($vod['vod_continu'])}</p>
            </li>
                </if>
            </volist>
        </ul>
    </div>
</div>

<div class="ingrep-Cont">
    <ul class="sumgroup entire clearfix">
        <volist name="vod_tv_re_news" id="vod" key="i">
        <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
            <p>{:strip_tags($vod['vod_continu'])}</p>
        </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="sumgroup entire clearfix">
        <volist name="vod_tv_re_neidi" id="vod" key="i">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:strip_tags($vod['vod_continu'])}</p>
            </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="sumgroup entire clearfix">
        <volist name="vod_tv_re_tvb" id="vod" key="i">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:strip_tags($vod['vod_continu'])}</p>
            </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="sumgroup entire clearfix">
        <volist name="vod_tv_re_hanju" id="vod" key="i">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:strip_tags($vod['vod_continu'])}</p>
            </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="sumgroup entire clearfix">
        <volist name="vod_tv_re_meiju" id="vod" key="i">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:strip_tags($vod['vod_continu'])}</p>
            </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="sumgroup entire clearfix">
        <volist name="vod_tv_re_taiju" id="vod" key="i">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}/images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:strip_tags($vod['vod_continu'])}</p>
            </li>
        </volist>
    </ul>
</div>
</div>
<div class="sideCont fr ingrep">
    <div class="inTitle">
        <h3 title="电视剧排行榜"><a href="{$siteurl}top/dianshi.html" title="电视剧排行榜" target="_blank">电视剧排行榜</a></h3>
        <div class="contabs">
            <ul>
                <li class="current"><a href="javascript:;">全部</a></li>
                <li><a href="javascript:;">韩剧</a></li>
                <li><a href="javascript:;">美剧</a></li>
            </ul>
            <a href="{$siteurl}top/dianshi.html" class="more" target="_blank">更多&gt;&gt;</a></div>
    </div>
    <div class="ingrep-Cont" style="display:block;">
        <ul class="foldlist guid-col2list">
            <volist name="vod_tv_top" id="vod" key="i">
            <li <if condition="$i eq 1"> class="hover"</if>> <em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a></li>
            </volist>

        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="foldlist guid-col2list">
            <volist name="vod_tv_top_hanju" id="vod" key="i">
                <li <if condition="$i eq 1"> class="hover"</if>> <em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a></li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="foldlist guid-col2list">
            <volist name="vod_tv_top_meiju" id="vod" key="i">
                <li <if condition="$i eq 1"> class="hover"</if>> <em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a></li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-adblock">
        {:getadsurl('index_2')}
    </div>
</div>
</div>
<div class="comwrap clearfix">
<div class="leftSide fl ingrep">
    <dl class="inTitle">
        <dt>
        <h2 title="推荐电影"><a href="{$siteurl}dianying/" target="_blank" title="推荐电影">推荐电影</a></h2>
        </dt>
        <dd class="contabs">
            <ul>
                <li class="current"><a href="javascript:;">最热</a></li>
                <li><a href="javascript:;">美国</a></li>
                <li><a href="javascript:;">动作</a></li>
                <li><a href="javascript:;">喜剧</a></li>
                <li><a href="javascript:;">战争</a></li>
                <li><a href="javascript:;">恐怖</a></li>
            </ul>
            <a href="{$siteurl}dianying/" class="more" target="_blank">更多>></a></dd>
    </dl>
    <div class="ingrep-Cont" style="display:block;">
        <div class="clearfix rowleft">
            <volist name="vod_mv_re_hot" id="vod" key="i">
                <if condition="$i lt 2">
            <div class="bgsummar fl"><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite><strong>{$vod['vod_name']}</strong>{:str_replace('/',' ',$vod_continu)}</cite></a>
                <p>{:mb_substr(strip_tags($vod['vod_content']),0,100,'utf-8')}<em></em></p>
            </div>
                </if>
                </volist>
            <ul class="sumgroup fr clearfix">
                <volist name="vod_mv_re_hot" id="vod" key="i">
                    <if condition="$i gt 1">
                <li class=""><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                    <p>{:str_replace('/',' ',$vod['vod_continu'])}</p>
                </li>
                    </if>
                </volist>
            </ul>
        </div>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_mv_re_meiju" id="vod">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_mv_re_dongzuo" id="vod">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>{:str_replace('/',' ',$vod['vod_continu'])}</p>
            </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_mv_re_xiju" id="vod">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_mv_re_zhanzheng" id="vod">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_mv_re_kongbu" id="vod">
            <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
            </volist>
        </ul>
    </div>
</div>
<div class="sideCont fr ingrep">
<div class="inTitle">
    <h3 title="电影排行榜"><a href="{$siteurl}top/dianying.html" title="电影排行榜" target="_blank">电影排行榜</a></h3>
    <div class="contabs">
        <ul>
            <li class="current"><a href="javascript:;">全部</a></li>
            <li><a href="javascript:;">喜剧</a></li>
            <li><a href="javascript:;">科幻</a></li>
        </ul>
        <a href="{$siteurl}top/dianying.html" class="more" target="_blank">更多&gt;&gt;</a></div>
</div>
<div class="ingrep-Cont" style="display:block;">
    <ul class="foldlist">
        <volist name="vod_mv_top" id="vod" key="i">
        <li class="<if condition='$i eq 1'>hover</if>">
            <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                <div class="imr">
                    <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                    <p>类型：{$vod['vod_class_name']}</p>
                    <p>主演：{$vod['vod_actor']}</p>
                    <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
            </div>
            <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
        </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="foldlist">
        <volist name="vod_mv_top_xiju" id="vod" key="i">
        <li class="<if condition='$i eq 1'>hover</if>">
            <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                <div class="imr">
                    <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                    <p>类型：{$vod['vod_class_name']}</p>
                    <p>主演：{$vod['vod_actor']}</p>
                    <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
            </div>
            <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
        </li>
        </volist>

    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="foldlist">
        <volist name="vod_mv_top_kehuan" id="vod" key="i">
        <li class="<if condition='$i eq 1'>hover</if>">
            <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                <div class="imr">
                    <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                    <p>类型：{$vod['vod_class_name']}</p>
                    <p>主演：{$vod['vod_actor']}</p>
                    <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
            </div>
            <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
        </li>
        </volist>
    </ul>
</div>
</div>
</div>
<div class="comwrap clearfix">
<div class="leftSide fl ingrep">
    <dl class="inTitle">
        <dt>
        <h2 title="热播动漫"><a href="{$siteurl}dongman/" target="_blank" title="热播动漫">热播动漫</a></h2>
        </dt>
        <dd class="contabs">
            <ul>
                <li class="current"><a href="javascript:;">最热</a></li>
                <li><a href="javascript:;">日本</a></li>
                <li><a href="javascript:;">国产</a></li>
                <li><a href="javascript:;">美国</a></li>
            </ul>
            <a href="{$siteurl}dongman/" class="more" target="_blank">更多>></a></dd>
    </dl>
    <div class="ingrep-Cont" style="display:block;">
        <div class="clearfix rowleft">
            <volist name="vod_dm_re_hot" id="vod" key="i">
                <if condition="$i lt 2">
                    <div class="bgsummar fl"><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite><strong>{$vod['vod_name']}</strong>{:str_replace('/',' ',$vod_continu)}</cite></a>
                        <p>{:mb_substr(strip_tags($vod['vod_content']),0,100,'utf-8')}<em></em></p>
                    </div>
                </if>
            </volist>
            <ul class="sumgroup fr clearfix">
                <volist name="vod_dm_re_hot" id="vod" key="i">
                    <if condition="$i gt 1">
                        <li class=""><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                            <p>{:str_replace('/',' ',$vod['vod_continu'])}</p>
                        </li>
                    </if>
                </volist>
            </ul>
        </div>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_dm_re_riben" id="vod">
                <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                    <p>{:str_replace('/',' ',$vod['vod_continu'])}</p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_dm_re_guochan" id="vod">
                <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                    <p>{:str_replace('/',' ',$vod['vod_continu'])}</p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_dm_re_meiguo" id="vod">
                <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>
                    <p>{:str_replace('/',' ',$vod['vod_continu'])}</p>
                </li>
            </volist>

        </ul>
    </div>
</div>
<div class="sideCont fr ingrep">
<div class="inTitle">
    <h3 title="动漫排行榜"><a href="{$siteurl}top/dongman.html" title="动漫排行榜" target="_blank">动漫排行榜</a></h3>
    <div class="contabs">
        <ul>
            <li class="current"><a href="javascript:;">全部</a></li>
            <li><a href="javascript:;">日本</a></li>
            <li><a href="javascript:;">国产</a></li>
        </ul>
        <a href="{$siteurl}top/dongman.html" class="more" target="_blank">更多&gt;&gt;</a></div>
</div>
<div class="ingrep-Cont" style="display:block;">
    <ul class="foldlist">
        <volist name="vod_dm_top" id="vod" key="i">
            <li class="<if condition='$i eq 1'>hover</if>">
                <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                    <div class="imr">
                        <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                        <p>类型：{$vod['vod_class_name']}</p>
                        <p>{:mb_substr(strip_tags($vod['vod_content']),0,40,'utf-8')}</p>
                        <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
                </div>
                <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
            </li>
        </volist>

    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="foldlist">
        <volist name="vod_dm_top_riben" id="vod" key="i">
            <li class="<if condition='$i eq 1'>hover</if>">
                <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                    <div class="imr">
                        <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                        <p>类型：{$vod['vod_class_name']}</p>
                        <p>{:mb_substr (strip_tags($vod['vod_content']),0,40,'utf-8')}</p>
                        <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
                </div>
                <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
            </li>
        </volist>

    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="foldlist">
        <volist name="vod_dm_top_guochan" id="vod" key="i">
            <li class="<if condition='$i eq 1'>hover</if>">
                <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                    <div class="imr">
                        <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                        <p>类型：{$vod['vod_class_name']}</p>
                        <p>{:mb_substr (strip_tags($vod['vod_content']),0,40,'utf-8')}}</p>
                        <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
                </div>
                <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
            </li>
        </volist>
    </ul>
</div>
</div>
</div>
<div id="bde">
    {:getadsurl('index_3')}
</div>
<div class="comwrap clearfix">
<div class="leftSide fl ingrep">
    <dl class="inTitle">
        <dt>
        <h2 title="综艺节目"><a href="{$siteurl}zongyi/" target="_blank" title="综艺节目">综艺节目</a></h2>
        </dt>
        <dd class="contabs">
            <ul>
                <li class="current"><a href="javascript:;">最热</a></li>
                <li><a href="javascript:;">时尚</a></li>
                <li><a href="javascript:;">选秀</a></li>
                <li><a href="javascript:;">情感</a></li>
                <li><a href="javascript:;">访谈</a></li>
            </ul>
            <a href="{$siteurl}zongyi/" class="more" target="_blank">更多>></a></dd>
    </dl>
    <div class="ingrep-Cont" style="display:block;">
        <div class="clearfix rowleft">

            <volist name="vod_zy_re_hot" id="vod" key="i">
                <if condition="$i lt 2">
            <div class="bgsummar fl"><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite><strong>{$vod['vod_name']}</strong>最新20150604期</cite></a>
                <p>{:mb_substr($vod['vod_content'],0,20,'utf-8')}<em></em></p>
            </div>
                    </if>
                </volist>     <ul class="sumgroup fr clearfix">
            <volist name="vod_zy_re_hot" id="vod" key="i">
                <if condition="$i gt 1">
                <li class=""><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><cite>{$vod['vod_name']}</cite><em></em></a></li>
                  </if>
                </volist>     </ul>
        </div>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_shishang" id="vod">
                <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>

                </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_xuanxiu" id="vod">
                <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>

                </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_qinggan" id="vod">
                <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>

                </li>
            </volist>
        </ul>
    </div>
    <div class="ingrep-Cont">
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_fangtan" id="vod">
                <li><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" /><cite>{$vod['vod_name']}</cite><em></em></a>

                </li>
            </volist>
        </ul>
    </div>
</div>
<div class="sideCont fr ingrep">
<div class="inTitle">
    <h3 title="综艺排行榜"><a href="{$siteurl}top/zongyi.html" title="综艺排行榜" target="_blank">综艺排行榜</a></h3>
    <div class="contabs">
        <ul>
            <li class="current"><a href="javascript:;">全部</a></li>
            <li><a href="javascript:;">选秀</a></li>
            <li><a href="javascript:;">访谈</a></li>
        </ul>
        <a href="{$siteurl}top/zongyi.html" class="more" target="_blank">更多&gt;&gt;</a></div>
</div>
<div class="ingrep-Cont" style="display:block;">
    <ul class="foldlist">
        <volist name="vod_zy_top" id="vod" key="i">
            <li class="<if condition='$i eq 1'>hover</if>">
                <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                    <div class="imr">
                        <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                        <p>类型：{$vod['vod_class_name']}</p>
                        <p>主演：{$vod['vod_actor']}</p>
                        <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
                </div>
                <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
            </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="foldlist">
        <volist name="vod_zy_top_xuanxiu" id="vod" key="i">
            <li class="<if condition='$i eq 1'>hover</if>">
                <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                    <div class="imr">
                        <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                        <p>类型：{$vod['vod_class_name']}</p>
                        <p>主演：{$vod['vod_actor']}</p>
                        <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
                </div>
                <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
            </li>
        </volist>
    </ul>
</div>
<div class="ingrep-Cont">
    <ul class="foldlist">
        <volist name="vod_zy_top_fangtan" id="vod" key="i">
            <li class="<if condition='$i eq 1'>hover</if>">
                <div class="hisus"><a href="{$vod['vod_readurl']}" class="img" target="_blank"><img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /><b>{$i}</b></a>
                    <div class="imr">
                        <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                        <p>类型：{$vod['vod_class_name']}</p>
                        <p>主演：{$vod['vod_actor']}</p>
                        <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a></div>
                </div>
                <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
            </li>
        </volist>
    </ul>
</div>
</div>
</div>

<div class="linead">
    <img src="{$tpl}/images/a/i_ls4.png">
</div>

<include file="home:pp_footer_nav" />
<dl class="flink">
    <dt class="comTitle">
    <h6>友情链接</h6>
    </dt>
    <dd><volist name="list_link" id="link"><a href="{$link['link_url']}" target="_blank">{$link['link_name']}</a></volist></dd>
</dl>
</div>

<include file="home:pp_footer" />
</body>
</html>
