<div id="navis">
    <ul>
        <li class="active"><a href="{$siteurl}" title="首页">首页<i></i></a></li>
        <li><a href="{$siteurl}movie/" title="电影">电影<i></i></a></li>
        <li><a href="{$siteurl}tv/" title="电视剧">电视剧<i></i></a></li>
        <li><a href="{$siteurl}anime/" title="动漫">动漫<i></i></a></li>
        <li><a href="{$siteurl}zongyi/" title="综艺">综艺<i></i></a></li>
        <li><a href="{$siteurl}live/bjws.html" title="直播">直播</a></li>
        <li><a href="{$siteurl}weidianying/" title="微电影">微电影</a></li>
        <li><a href="{$siteurl}news/" title="资讯">资讯</a></li>
        <li><a href="{$siteurl}zt/" title="专题">专题</a></li>
        <li class="more" style="margin-right: 0px"><span><a href="{$siteurl}game/" title="游戏">游戏<em style="top:-10px">NEW</em></a></span><span><a target="_blank" href="/mm/" title="美女" >美女</a></span><span><a target="_blank" href="{$siteurl}show/" title="秀场" >秀场</a></span><span><a href="{$siteurl}yule/" title="娱乐" >娱乐</a></span><span><a href="{$siteurl}top/" title="排行榜" >排行榜</a></span><span><a href="{$siteurl}website/" title="影视网址" >影视网址</a></span></li>
    </ul>
</div>