<div id="slider">
    <div class="sliCont" id="indexSlide">
        <ul>
            <volist name="list_slide" id="slide">
                <if condition="$slide['slide_cid'] eq 2">
                    <li style="background:#d3f3fe url('{$slide.slide_pic}') no-repeat center center;"><a href="{$slide['slide_url']}" rel="nofollow" target="_blank" title="{$slide['slide_name']}"><img src="{$slide['slide_pic']}" alt="{$slide['slide_url']}" /></a>
                        <div class="summary"><i><a href="{$slide['slide_url']}" rel="nofollow" target="_blank" title="{$slide['slide_name']}"></a></i>
                            <h3><a href="{$slide['slide_url']}" rel="nofollow" target="_blank" title="{$slide['slide_name']}">{$slide['slide_name']}</a></h3>
                            <p>{$slide['slide_content']}</p>
                        </div>
                    </li>
                </if>
            </volist>
        </ul>
        <div class="snum">
            <volist name="list_slide" id="slide">
                <if condition="$slide['slide_cid'] eq 2">
                    <a href="{$slide['slide_url']}"  target="_blank" title="{$slide['slide_name']}"><img src="{$slide['slide_logo']}" width='58' height="38" alt="{$slide['slide_name']}" /></a>
                </if>
            </volist>
        </div>
        <div class="inSlide-mouse"><a href="javascript:;" class="tk-left"></a><a href="javascript:;" class="tk-right"></a></div>
    </div>
</div>