<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>【{$search_wd}】高清视频_【{$search_wd}】影视在线观看-{$sitename}</title>
    <meta name="keywords" content="{$search_wd}" />
    <meta name="description" content="114la影视导航为你提供【{$search_wd}】高清视频，为您提供最新最全的【{$search_wd}】相关视频的搜索结果和【{$search_wd}】视频在线观看服务。看高清视频尽在114啦影视导航。" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="{$tpl}/css/style.css" rel="stylesheet" />
    <link href="{$tpl}/css/start.css" rel="stylesheet" />
</head>
<body>
<include file="home:pp_header" />
<include file="home:pp_nav" />
<php>$vod_list = js_mysql_vod('wd:'.$search_wd.';actor:'.$search_actor.';year:'.$search_year.';language:'.$search_language.';area:'.$search_area.';letter:'.$search_letter.';limit:8;page:true;order:vod_addtime desc');$page = $vod_list[0]['page'];</php>

<div class="wrap clearfix"  style="background:#fff;">
    <div class="wrapper clearfix">
        <!-- 内容区域 -->
        <div class="searchContent">
            <div class="searchType clearfix">
                <p class="firstLine">搜索"<strong>{$search_wd}</strong>"共找到<i>{$vod_list[0][count]}</i>个资源</p>
            </div>
            <div class="searchEndList clearfix">
                <ul class="disBlock">
                    <gt name="vod_list.0.count" value="0">
                        <volist name="vod_list" id="vod">

                            <li>
                                <div class="movieListPic" >
                                    <a href="{$vod['vod_readurl']}">
                                        <img src="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" onerror="this.src='static/images/no.jpg'"  />
                                    </a>
                                </div>
                                <div class="movieListCon">
                                    <php>
                                    $class = list_search( F('_ppvod/list'), "list_id=".$vod['vod_cid']);
                                    </php>
                                    <h2><i>[{$class[0]['list_name']}]</i><a href="{$vod['vod_readurl']}">{$vod['vod_name']}</a>
                                        <b>({$vod['vod_year']})</b>
                                    </h2>
                                    <p><b>导演：</b>{$vod['vod_director']}</p>
                                    <p><b>主演：</b>{$vod['vod_actor']}</p>
                                    <p><b>类型：</b>{$vod['vod_class_name']}&nbsp;&nbsp;&nbsp;&nbsp;<b>地区：</b>{$vod['vod_area_name']}</p>
                                    <p><b>简介：</b>
                                        <span class="stOmit">{$vod['vod_content']}</span>
                                    </p>
                                    <p class="immediatelyBtn"><a href="{$vod['vod_readurl']}"></a></p>
                                </div>
                            </li>
                 </volist>
                        <div class="pages">{$page}</div>
                        </gt>
                </ul>
            </div>

        </div>


<include file="home:pp_footer_nav" />
</div>
<include file="home:pp_footer" />
</html>