<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>【{$kw}】高清视频_【{$kw}】影视在线观看-{$sitename}</title>
    <meta name="keywords" content="罗龙镇女人" />
    <meta name="description" content="114la影视导航为你提供【{$kw}】高清视频，为您提供最新最全的【{$kw}】相关视频的搜索结果和【{$kw}】视频在线观看服务。看高清视频尽在114啦影视导航。" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="{$tpl}/css/style.css" rel="stylesheet" />
</head>
<body>
<include file="home:pp_header" />
<include file="home:pp_nav" />

<div class="wrap clearfix"  style="background:#fff;">
    <div class="wrapper clearfix">
        <!-- 内容区域 -->
        <div class="searchContent">
            <div class="searchType clearfix">
                <p class="firstLine">搜索"<strong>罗龙镇女人</strong>"共找到<i>2</i>个资源</p>
                <ul class="clearfix">
                    <li class="seTypeLi"><a href="http://v.114la.com/sech-%E7%BD%97%E9%BE%99%E9%95%87%E5%A5%B3%E4%BA%BA.html" class="seTypeA">全部（2）</a></li>
                    <li><a href="http://v.114la.com/sech-2-%E7%BD%97%E9%BE%99%E9%95%87%E5%A5%B3%E4%BA%BA.html">电视剧（2）</a></li>
                </ul>
            </div>
            <div class="searchEndList clearfix">
                <ul class="disBlock">
                    <li>
                        <div class="movieListPic" >
                            <a href="http://v.114la.com/tv/336451.html">
                                <img src="/img/up_img/201506/143554719443663.jpg" alt="罗龙镇女人" onerror="this.src='static/images/no.jpg'"  />
                                <span>更新至41集</span>
                            </a>
                        </div>
                        <div class="movieListCon">
                            <h2><i>[电视剧]</i><a href="http://v.114la.com/tv/336451.html"><em style="color:red">罗</em><em style="color:red">龙镇</em><em style="color:red">女人</em></a>
                                <b>(2015)</b>
                            </h2>
                            <p><b>导演：</b><a href="http://v.114la.com/sech-%E9%BB%84%E5%BB%BA%E5%8B%8B.html" title="查看黄建勋的影视资料">黄建勋</a></p>
                            <p><b>主演：</b><a href="http://v.114la.com/sech-%E9%BB%84%E7%BB%B4%E5%BE%B7.html" title="查看黄维德的影视资料">黄维德</a><a href="http://v.114la.com/sech-%E8%8B%97%E5%9C%83.html" title="查看苗圃的影视资料">苗圃</a><a href="http://v.114la.com/sech-%E8%B5%AB%E5%AD%90%E9%93%AD.html" title="查看赫子铭的影视资料">赫子铭</a><a href="http://v.114la.com/sech-%E6%9D%8E%E5%AD%90%E9%9B%84.html" title="查看李子雄的影视资料">李子雄</a><a href="http://v.114la.com/sech-%E6%9D%8E%E8%82%96%E5%AE%81.html" title="查看李肖宁的影视资料">李肖宁</a></p>
                            <p><b>类型：</b>抗战,战争&nbsp;&nbsp;&nbsp;&nbsp;<b>地区：</b>内地</p>
                            <p><b>简介：</b>
                                <span class="stOmit">　1935年初。<em style="color:red">罗</em><em style="color:red">龙镇</em>的杨春兰、杨夏荷姐妹无意中被卷入当地大户文家和土匪虎帮的混战中，并因表现出色被文太公相中，成为文氏宗族的媳妇候选人。其时，田田早已与青梅竹马的冉天放心意相同，二人历尽艰辛后终能厮守终身，未料翻山越境时遭匪，冉天放为护田田中枪摔下山崖。田田痛不欲生，幸而文家大少爷文孝礼……<a href="javascript:" class="unfold">[展开]</a></span>
                                <span class="stAll">　1935年初。<em style="color:red">罗</em><em style="color:red">龙镇</em>的杨春兰、杨夏荷姐妹无意中被卷入当地大户文家和土匪虎帮的混战中，并因表现出色被文太公相中，成为文氏宗族的媳妇候选人。其时，田田早已与青梅竹马的冉天放心意相同，二人历尽艰辛后终能厮守终身，未料翻山越境时遭匪，冉天放为护田田中枪摔下山崖。田田痛不欲生，幸而文家大少爷文孝礼用深情将她从痛苦中拉回。婚后，田田忠心尽责将文家治理得井然有序，却不知兰兰仍为冉天放的死怀恨于她，姐妹二人隔阂日深。岁月动荡，田田不得已当上了“女匪首”，带领一群受压迫的姐妹奋起反抗，而兰兰却成为特派剿匪的国军军官，与姐姐数次生死对峙。然而当抗日战争爆发，姐妹俩却放下了所有个人恩怨，高举民族大义之旗，率领众姐妹前仆后继，浴血杀敌，最终为保护家园而战死沙场。</span>
                            </p>
                            <p class="immediatelyBtn"><a href="http://v.114la.com/tv/336451.html"></a></p>
                        </div>
                    </li>
                    <li>
                        <div class="movieListPic" >
                            <a href="http://v.114la.com/tv/943577.html">
                                <img src="http://img36.pplive.cn/2015/06/27/15354964275_230X306.jpg" alt="罗龙镇女人预告合集" onerror="this.src='static/images/no.jpg'"  />
                                <span>更新至1集</span>
                            </a>
                        </div>
                        <div class="movieListCon">
                            <h2><i>[电视剧]</i><a href="http://v.114la.com/tv/943577.html"><em style="color:red">罗</em><em style="color:red">龙镇</em><em style="color:red">女人</em>预告合集</a>
                                <b>(2015)</b>
                            </h2>
                            <p><b>导演：</b><a href="http://v.114la.com/sech-%E9%BB%84%E5%BB%BA%E5%8B%8B.html" title="查看黄建勋的影视资料">黄建勋</a></p>
                            <p><b>主演：</b><a href="http://v.114la.com/sech-%E9%BB%84%E7%BB%B4%E5%BE%B7.html" title="查看黄维德的影视资料">黄维德</a><a href="http://v.114la.com/sech-%E8%8B%97%E5%9C%83.html" title="查看苗圃的影视资料">苗圃</a><a href="http://v.114la.com/sech-%E8%B5%AB%E5%AD%90%E9%93%AD.html" title="查看赫子铭的影视资料">赫子铭</a><a href="http://v.114la.com/sech-%E6%9D%8E%E5%AD%90%E9%9B%84%EF%BC%88%E9%A6%99%E6%B8%AF%EF%BC%89.html" title="查看李子雄（香港）的影视资料">李子雄（香港）</a></p>
                            <p><b>类型：</b>预告&剧八卦&nbsp;&nbsp;&nbsp;&nbsp;<b>地区：</b>大陆</p>
                            <p><b>简介：</b>
                                <span class="stOmit">1935年初。<em style="color:red">罗</em><em style="color:red">龙镇</em>的杨春兰、杨夏荷姐妹无意中被卷入当地大户文家和土匪虎帮的混战中，并因表现出色被文太公相中，成为文氏宗族的媳妇候选人。其时，田田早已与青梅竹马的冉天放心意相同，二人历尽艰辛后终能厮守终身，未料翻山越境时遭匪，冉天放为护田田中枪摔下山崖。田田痛不欲生，幸而文家大少爷文孝礼用……<a href="javascript:" class="unfold">[展开]</a></span>
                                <span class="stAll">1935年初。<em style="color:red">罗</em><em style="color:red">龙镇</em>的杨春兰、杨夏荷姐妹无意中被卷入当地大户文家和土匪虎帮的混战中，并因表现出色被文太公相中，成为文氏宗族的媳妇候选人。其时，田田早已与青梅竹马的冉天放心意相同，二人历尽艰辛后终能厮守终身，未料翻山越境时遭匪，冉天放为护田田中枪摔下山崖。田田痛不欲生，幸而文家大少爷文孝礼用深情将她从痛苦中拉回。婚后，田田忠心尽责将文家治理得井然有序，却不知兰兰仍为冉天放的死怀恨于她，姐妹二人隔阂日深。岁月动荡，田田不得已当上了“女匪首”，带领一群受压迫的姐妹奋起反抗，而兰兰却成为特派剿匪的国军军官，与姐姐数次生死对峙。然而当抗日战争爆发，姐妹俩却放下了所有个人恩怨，高举民族大义之旗，率领众姐妹前仆后继，浴血杀敌，最终为保护家园而战死沙场。</span>
                            </p>
                            <p class="immediatelyBtn"><a href="http://v.114la.com/tv/943577.html"></a></p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="searchType clearfix seBtLine">
            <p class="firstLine"><a href="http://v.114la.com/sech-8-%E7%BD%97%E9%BE%99%E9%95%87%E5%A5%B3%E4%BA%BA.html">更多>></a>搜索"<strong>罗龙镇女人</strong>"共找到<i>2</i>个资源</p>
        </div>
        <div class="startModule startModuleVideo" id="searchEndVideo">
            <ul>
                <li>
                    <a href="http://v.114la.com/news/737101.html"><img src="/img/2015/01/28/ct/movie/9/30q9aY23Ij5.jpg" onerror="this.src='static/images/no.jpg'" alt="抢我女人和你拼了 恶搞C罗怒摔强森怒吼解气" /></a>
                    <strong><a href="http://v.114la.com/news/737101.html">抢我<em style="color:red">女人</em>和你拼了 恶搞C<em style="color:red">罗</em>怒摔强森怒吼解气</a></strong>
                    <span><i>00:58</i></span>
                </li>
                <li>
                    <a href="http://v.114la.com/news/734911.html"><img src="/img/2015/01/27/ct/movie/7/ky4x2363GR1.jpg" onerror="this.src='static/images/no.jpg'" alt="神恶搞：都强森惹的祸 c罗染红因女人被抢" /></a>
                    <strong><a href="http://v.114la.com/news/734911.html">神恶搞：都强森惹的祸 c<em style="color:red">罗</em>染红因<em style="color:red">女人</em>被抢</a></strong>
                    <span><i>00:21</i></span>
                </li>
                <li>
                    <a href="http://v.114la.com/news/702259.html"><img src="/img/2015/01/06/ct/movie/8/37d082wNW47.jpg" onerror="this.src='static/images/no.jpg'" alt="足坛女神top10：C罗女友压群芳 卡西女人进三甲" /></a>
                    <strong><a href="http://v.114la.com/news/702259.html">足坛女神top10：C<em style="color:red">罗</em>女友压群芳 卡西<em style="color:red">女人</em>进三甲</a></strong>
                    <span><i>02:24</i></span>
                </li>
                <li>
                    <a href="http://v.114la.com/news/74957.html"><img src="/img/2013/11/07/ct/movie/6/T4W40877L45.jpg" onerror="this.src='static/images/no.jpg'" alt="ATP总决赛波特罗险过关 逆转加斯奎特取开门红" /></a>
                    <strong><a href="http://v.114la.com/news/74957.html">ATP总决赛波特<em style="color:red">罗</em>险过关 逆转加斯奎特取开门红</a></strong>
                    <span><i>00:54</i></span>
                </li>
                <li>
                    <a href="http://v.114la.com/news/74950.html"><img src="/img/2013/11/07/ct/movie/1/696C8P3105L.jpg" onerror="this.src='static/images/no.jpg'" alt="C罗传射贝尔破门 略伦特建功尤文欧冠2-2平皇马" /></a>
                    <strong><a href="http://v.114la.com/news/74950.html">C<em style="color:red">罗</em>传射贝尔破门 略伦特建功尤文欧冠2-2平皇马</a></strong>
                    <span><i>01:44</i></span>
                </li>
                <li>
                    <a href="http://v.114la.com/news/74939.html"><img src="/static/images/no.jpg" onerror="this.src='static/images/no.jpg'" alt="欧冠-阿圭罗2射锋霸帽子戏法 曼城5-2首次出线" /></a>
                    <strong><a href="http://v.114la.com/news/74939.html">欧冠-阿圭<em style="color:red">罗</em>2射锋霸帽子戏法 曼城5-2首次出线</a></strong>
                    <span><i>00:00</i></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="feedBack"><a href="javascript:;" onclick="divcenter()" title="意见反馈">意见反馈</a></div>
<script type="text/javascript">
    var cid = 16;
    //$("#header .search input").focus();
</script>
<script type="text/javascript" src="http://fankui.114la.com/static/js/feedBack.js"></script>
<div style="display:none">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F883d579322a459f2b528fa3c951e1005' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script src="http://s22.cnzz.com/stat.php?id=5862944&web_id=5862944" language="JavaScript"></script>
    <script src="http://v1.cnzz.com/z_stat.php?id=1000435925&web_id=1000435925" language="JavaScript"></script>
</div>
<script src="http://v.114la.com/static/js/jquery.min.js"></script>
<script type="text/javascript" src="http://v.114la.com/static/js/webSeo.js"></script>

<script language="javascript" src="http://api.analytic.tjj.com/mjs?asid=E69ADC58D4CB8E3D"></script>
<script type="text/javascript" src="http://www.114la.com/static/js/tjj_click.js"></script>
<script type="text/javascript" src="http://www.114la.com/static/js/stat_click.js"></script>
<div id="gotop"><a href="javascript:;" title="回顶部">回顶部</a></div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.source.js"></script>
<script type="text/javascript" src="/static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/static/js/start.js"></script>
</html>