<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>最新好看【{$cat['list_name']}{$cate['list_name']}排行榜】排行榜-{$sitename}</title>

    <meta name="keywords" content="【{$cat['list_name']}{$cate['list_name']}排行榜】" />
    <meta name="description" content="{$sitename}最新【{$cat['list_name']}{$cate['list_name']}排行榜】排行榜，电视剧排行榜，综艺节目排行榜，动漫排行榜，MV排行榜推荐，提供时下热门的各类娱乐影视排行榜信息。" />
    <link rel="icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
   <link href="{$tpl}/css/style.css" rel="stylesheet" />
</head>
<body>
<include file="home:pp_header" />
<include file="home:pp_nav" />
<div class="wrapper">
<div class="brecam">您的当前位置：<a href="/">{$sitename}</a><i>&gt;</i><a href="/top/">排行榜</a><i>&gt;</i>{$cat['list_name']}{$cate['list_name']}排行榜</div>
<div class="comwrap clearfix">
<div class="leftSide fl">
    <div class="inTitle">
        <h6>{$cat['list_name']}{$cate['list_name']}排行榜</h6>
        <a class="more" href="http://v.114la.com/top/">更多榜单&gt;&gt;</a>
    </div>
    <ul class="tdlistDetail">
            <php>
                $cid = $cate['list_id'];
                $class_id = $cat['list_id'];
                $list=js_mysql_vod("cid:$cid;class_id:$class_id; limit:50;order:vod_hits DESC");</php>
        <volist name="list" id="vod" key="i">
            <if condition="$i lt 4">
        <li>
            <p class="tdlistShow"><em class="t0{$i}">{$i}</em><a title="{$vod['vod_name']}" href="{$vod['vod_readurl']}">{$vod['vod_name']}</a><span></span></p>
            <div class="tdlistSumm">
                <a title="{$vod['vod_name']}" href="{$vod['vod_readurl']}">
                    <img alt="{$vod['vod_name']}" data-original="{$vod['vod_picurl']}" src="{$vod['vod_picurl']}" style="display: inline;">
                </a>
                <p>{$vod['vod_content']}</p>
            </div>
        </li>
    <else/>
        <li>
            <p class="tdlistShow"><em>{$i}</em><a title="{$vod['vod_name']}" href="{$vod['vod_readurl']}">{$vod['vod_name']}</a><span></span></p>
        </li>
            </if>
        </volist>
    </ul>
</div>
<ul class="trendNavi fr">
    <li ><a title="全部榜单" href="/top/">影视排行榜</a></li>
    <li <if condition="$list_dir eq 'dianying'">class="active"</if>>
    <a title="电影榜单" href="/top/dianying.html">电影排行榜<em></em></a>
    <ol>
        <volist name="list_menu" id="list">
            <if condition="$list['list_id'] eq 1">
                <volist name="list['son']" id="cat" key="i">
                    <if condition="$i gt 6"><php>break;</php></if>
                    <li><a href="/top/{$list['list_dir']}-{$cat['list_dir']}.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                </volist>
            </if>
        </volist>

    </ol>
    </li>
    <li  <if condition="$list_dir eq 'dianshi'">class="active"</if>>
    <a title="电视剧榜单" href="/top/dianshi.html">电视剧排行榜<em></em></a>
    <ol>
        <volist name="list_menu" id="list">
            <if condition="$list['list_id'] eq 2">
                <volist name="list['son']" id="cat" key="i">
                    <if condition="$i gt 6"><php>break;</php></if>
                    <li><a href="/top/{$list['list_dir']}-{$cat['list_dir']}.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                </volist>
            </if>
        </volist>

    </ol>
    </li>
    <li  <if condition="$list_dir eq 'dongman'">class="active"</if>>
    <a title="动漫榜单" href="/top/dongman.html">动漫排行榜<em></em></a>
    <ol>
        <volist name="list_menu" id="list">
            <if condition="$list['list_id'] eq 3">
                <volist name="list['son']" id="cat" key="i">
                    <if condition="$i gt 6"><php>break;</php></if>
                    <li><a href="/top/{$list['list_dir']}-{$cat['list_dir']}.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                </volist>
            </if>
        </volist>

    </ol>
    </li>
    <li <if condition="$list_dir eq 'zongyi'">class="active"</if>>
    <a title="综艺榜单" href="/top/zongyi.html">综艺排行榜<em></em></a>
    <ol>
        <volist name="list_menu" id="list">
            <if condition="$list['list_id'] eq 4">
                <volist name="list['son']" id="cat" key="i">
                    <if condition="$i gt 6"><php>break;</php></if>
                    <li><a href="/top/{$list['list_dir']}-{$cat['list_dir']}.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
                </volist>
            </if>
        </volist>

    </ol>
    </li>

</ul>
	</div>
</div>
<include file="home:pp_footer" />
</body>
</html>
