<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>2015{$cate['list_name']}大全-最新-好看的{$cate['list_name']}-{$cate['list_name']}排行榜-{$sitename}</title>
    <link rel="icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{$siteurl}favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="{$cate['list_name']}大全，最新{$cate['list_name']}，好看的{$cate['list_name']}，{$cate['list_name']}排行榜" />
    <meta name="description" content="{$sitename}为您提供2015{$cate['list_name']}大全，最新{$cate['list_name']}，好看的{$cate['list_name']}全集，{$cate['list_name']}排行榜，经典{$cate['list_name']}，热播{$cate['list_name']}等高清免费在线观看。" />
    <link href="{$tpl}/css/style.css" rel="stylesheet" />
</head>
<body>
<include file="home:pp_header" />
<include file="home:pp_nav" />
<div class="wrapper">
<div class="brecam">您的当前位置：<a href="/">{$sitename}首页</a><i>&gt;</i><a href="/top/">排行榜</a></div>
<div class="comwrap clearfix">
<div class="leftSide fl">
<div class="inTitle">
    <h6>影视排行榜</h6>
    <a class="more" href="/top/">更多榜单&gt;&gt;</a>
</div>
<div class="trendList clearfix">
            <volist name="cate['son']" id="cat" key="j">
                <if condition="$j gt 6"><php>break;</php></if>
<div class="sideCont">
    <div class="inTitle">
        <h6> &nbsp;<a title="{$cat['list_name']}{$cate['list_name']}排行榜" href="/top/{$cate.list_dir}-{$cat['list_dir']}.html"> {$cat['list_name']}{$cate['list_name']}排行榜</a></h6>
        <a title="{$cat['list_name']}{$cate['list_name']}排行榜" class="more" href="/top/{$cate.list_dir}-{$cat['list_dir']}.html">更多榜单&gt;&gt;</a>
    </div>
    <ul class="foldlist">
        <php>
            $cid = $cate['list_id'];
            $class_id = $cat['list_id'];
            $list=js_mysql_vod("cid:$cid;class_id:$class_id; limit:10;order:vod_hits DESC");</php>
        <volist name="list" id="vod" key="i">
        <li class="<if condition='$i eq 1'>hover</if>">
            <div class="hisus">
                <a class="img" href="{$vod['vod_readurl']}">
                    <img alt="{$vod['vod_name']}" src="{$vod['vod_picurl']}">
                    <b>{$i}</b>
                </a>
                <div class="imr">
                    <h4>{$vod['vod_name']}</h4>
                    <p>类型：{$vod['vod_class_name']}</p>
                    <p>主演：{$vod['vod_actor']}</p>
                    <a class="p" href="{$vod['vod_readurl']}">立即播放</a>
                </div>
            </div>
            <p><em>{$i}</em><a href="{$vod['vod_readurl']}">{$vod['vod_name']}</a><span></span></p>
        </li>
        </volist>
    </ul>
</div> </volist>
</div>
</div>
<ul class="trendNavi fr">
    <li ><a title="全部榜单" href="/top/">影视排行榜</a></li>
    <volist name="list_menu" id="list">
        <li <if condition="$list_dir eq $list['list_dir']">class="active"</if>>
        <a title="{$list.list_name}榜单" href="/top/{$list.list_dir}.html">{$list.list_name}排行榜<em></em></a>
        <ol>
            <volist name="list['son']" id="cat" key="i">
                <if condition="$i gt 6"><php>break;</php></if>
                <li><a href="/top/{$list['list_dir']}-{$cat['list_dir']}.html" title="{$cat['list_name']}">{$cat['list_name']}</a></li>
            </volist>

        </ol>
        </li>

    </volist>


</ul>
</div>
</div>
<include file="home:pp_footer" />
</body>
</html>
