<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>{$title}</title>
<meta name="keywords" content="{$vod_name}">
<meta name="description" content="牙医周东风，离异多年，经营着一家口腔诊所，并独自抚养女儿黛黛。黛黛体谅父亲艰辛，不想让父亲孤身一人，希望撮合杂志社女编辑苏简和父亲组成家庭。这时，周东风的前妻、黛黛的亲妈程春红从海外归国创业，使周东风和苏简的生活掀起波澜。同时，苏简的前男友黄凯迪虽然对苏简旧情难舍，却不得不面对家庭的安排与艾莉小姐交往。女艺人文雅偶遇周东风后，也一见倾心，奋力追求。世事难料，在一次突发事故中程春红舍身挽救了女儿黛黛，自己病重入院，苏简、文雅纷纷伸出援助之手，情意温暖人间。程春红、苏简、文雅三个女人以各自不同的面孔出现在周东风的生活之中，使他的人生异彩纷呈，而周黛黛也幸福的拥有了一个老爸和亲妈、后妈、干妈这三个妈的全新生活。">
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}css/details.css" rel="stylesheet"/>
    <link href="{$root}public/css/ico.css" rel="stylesheet"/>
</head>
<body channel="movie">
<include file="home:pp_header" />
<include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="moiveDetails">
    <div class="detailsTop">
      <p>您的当前位置：<a href="{$siteurl}">影视频道</a><i>></i><a href="{$siteurl}dianshi/">电视剧</a><i>></i><em>{$vod_name}</em></p>
    </div>
    <!-- 影片介绍 -->
    <div class="movieDescription clearfix">
      <div class="movieDeLeft"> <img src="{$vod_picurl}" alt="{$vod_name}" title="{$vod_name}"  width="180" height="240" />
        <div class="collection"> <a href="javascript:" class="collect"><i></i><span>收藏</span></a> <a href="javascript:" class="cancel"><i></i><span>取消</span></a> </div>
      </div>
      <div class="movieDeCenter">
        <div class="movieDeCenterTop clearfix">
          <div class="movieTitle">
            <h1 title="{$vod_name}">{$vod_name}<span>({$vod_year|default='未录入'})</span> </h1>
          </div>
          <div class="start">
            <dl>
              <dd class="fullStart"></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dt> <b>7.</b>3 </dt>
            </dl>
          </div>
        </div>
        <div class="movieDeCenterCon">
          <p><span>导演：</span><notempty name="vod_director">{$vod_director|js_search_url}<else />未录入</notempty></p>
          <p><span>主演：</span><span class="v_dirRow_Wrap"><notempty name="vod_actor">{$vod_actor|js_search_url}<else />未录入</notempty></span></p>
          <p><span>类型：</span><em class="textRight">{$vod_class_name}</em></p>
          <p><span>地区：</span><em>{$vod_area_name|default='未知'}</em></p>
          <p><span>状态：</span><em class="textBd">{$vod_continu|strip_tags}</em></p>
          <p class="textAbout"> <span class="movieFl">剧情：</span> <em class="movieFr textOmit"> {:js_content_url($vod_content,$Tag)}</em>  </p>
        </div>
      </div>
      <div class="movieDeRight">

        <div class="evaluation clearfix">
          <ul>
            <li class="good"><a href="javascript:"></a><b>18</b></li>
            <li class="general"><a href="javascript:"></a><b>1</b></li>
            <li class="poor"><a href="javascript:"></a><b>2</b></li>
          </ul>
          <span class="link1">+1</span> </div>
        <div class="shard">
          <p>分享给小伙伴们：</p>
          <div class="bdsharebuttonbox" data-tag="share_1"> <a class="bds_qzone" data-cmd="qzone"></a> <a class="bds_tsina" data-cmd="tsina"></a> <a class="bds_tqq" data-cmd="tqq"></a> <a class="bds_weixin" data-cmd="weixin"></a> <a class="bds_renren" data-cmd="renren"></a> <a class="bds_count" data-cmd="count"></a> </div>
        </div>
      </div>
    </div>
    <div class="detailsCon clearfix">
      <div class="detailsMain">
        <!-- 立即播放 -->
        <div class="playUrl clearfix" id="teleplay">
          <h2> <span class="feedBack"> <a href="javascript:" onClick="divcenter()">意见反馈</a> </span>
            <!-- 广告位：详情页320*30 -->
            <span style="margin-right:83px;">
            <script type="text/javascript">BAIDU_CLB_fillSlot("875984");</script>
            </span> <strong><span class="puTitle">《{$vod_name}》完整</span>播放地址</strong> </h2>
          <div class="playItem clearfix">
            <ul>
                <volist name="vod_playlist" id="pay" key="i">
                    <if condition="$i lt 6">
                  <li data-value="{$i}"> <a href="javascript:;" class="<if condition='$i lt 2'>plHv</if> cp_{$i}_name" title="{$pay['playername']}"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']}</a>  <span class="triangle" style=' <if condition="$i eq 1">display:block</if>'> <b></b> </span></li>
                    </if>
                </volist>
                </ul>
              <if condition="count($vod_playlist) gt 6">
                  <div class="fishSelect movieLine"> <span data-value='x'></span>
                <ul>
                    <volist name="vod_playlist" id="pay" key="i">
                        <if condition="$i gt 6">
                <li data-value="{$i}"> <a href="javascript:;" class="cp_{$i}_name"> <i><img src="{$siteurl}public/images/i_qy.png" alt="{$pay['playername']}"></i>{$pay['playername']} </a> </li>
            </if>
                    </volist>
              </ul>
            </div>
                  </if>
          </div>
            <volist name="vod_playlist" id="pay" key="i">
          <div class="movieListCon cp_{$i}_content" style="<if condition='$i gt 1'>display: none</if>">
            <!-- 数字列表 正序-->
            <div class="movieListNum clearfix list_zhengxu" style="display:block">
              <ul class="pages_1">
                  <volist name="pay['son']" id="ppvodson" key="j">
                <li> <a href="{$siteurl}?s=vod-play-id-{$vod_id}&url={:urlencode($ppvodson['playpath'])}" rel="nofollow" title="{$ppvodson.playname}" target="_blank">{$ppvodson.playname}</a> </li>
            </volist>     </ul>
            </div>
          </div>
        </volist>
        <!-- 广告位：详情页640*60*2 -->
       BAIDU_CLB_fillSlot("864456");
        <div style="margin:10px 0px 20px 0px;">
          <!-- 广告位：详情页导量 -->
         BAIDU_CLB_fillSlot("918168");
        </div>
            </div>

        <!-- 相关影评 -->

        <!-- 猜你喜欢 -->
        <div class="youLike titleH3">
          <h2> <a href="javascript:" class="titleHv"><strong>根据《待嫁老爸》</strong>猜你喜欢</a><i>|</i> <a href="javascript:" class=""><strong>《待嫁老爸》</strong>同主演作品</a><i>|</i> </h2>
          <div class="youLikeCon">
            <div class="youLikeItem disPlay">
              <ul>
                <li> <a href="{$siteurl}dianshi/814239.html" title="妻子的谎言未删减版" target="_blank"> <img src="{$siteurl}img/2015/03/30/qy/tvs/9/9kRe1207J15.jpg" alt="妻子的谎言未删减版" title="妻子的谎言未删减版"> <b>妻子的谎言未删减版</b> </a> <span>电视剧,言情剧,都市</span> </li>
                <li> <a href="{$siteurl}dianshi/592321.html" title="地狱神探第1季" target="_blank"> <img src="{$siteurl}img/2014/10/25/qy/tvs/7/0P652k0V82m.jpg" alt="地狱神探第1季" title="地狱神探第1季"> <b>地狱神探第1季</b> </a> <span>电视剧,罪案剧,剧情,超自然,科幻剧</span> </li>
                <li> <a href="{$siteurl}dianshi/879091.html" title="玩转APP" target="_blank"> <img src="{$siteurl}img/2015/05/15/qy/tvs/6/Zu02h796ZS3.jpg" alt="玩转APP" title="玩转APP"> <b>玩转APP</b> </a> <span>电视剧,喜剧,网络剧</span> </li>
                <li> <a href="{$siteurl}dianshi/1936.html" title="亲爱的回家" target="_blank"> <img src="{$siteurl}img/2013/07/18/qy/tvs/4/m7gC418B627.jpg" alt="亲爱的回家" title="亲爱的回家"> <b>亲爱的回家</b> </a> <span>家庭剧,言情剧,都市剧,剧情</span> </li>
                <li> <a href="{$siteurl}dianshi/12642.html" title="白狼" target="_blank"> <img src="{$siteurl}img/2013/11/27/huashu/tvs/8/ivYY77f1572.jpg" alt="白狼" title="白狼"> <b>白狼</b> </a> <span>言情剧,军旅</span> </li>
                <li> <a href="{$siteurl}dianshi/2158.html" title="牵挂" target="_blank"> <img src="{$siteurl}img/2013/07/18/ct/tvs/10/96i77lH9b65.jpg" alt="牵挂" title="牵挂"> <b>牵挂</b> </a> <span>年代剧,家庭剧,言情剧</span> </li>
                <li> <a href="{$siteurl}dianshi/1867.html" title="理发师" target="_blank"> <img src="http://i1.letvimg.com/vrs/201305/28/ac43c06b3a2448928eaa93ef6feba490.jpg" alt="理发师" title="理发师"> <b>理发师</b> </a> <span>历史剧,年代剧,言情剧,剧情</span> </li>
                <li> <a href="{$siteurl}dianshi/1858.html" title="May Queen" target="_blank"> <img src="{$siteurl}img/2013/07/18/qy/tvs/10/1q83rR69l21.jpg" alt="May Queen" title="May Queen"> <b>May Queen</b> </a> <span>言情剧,都市剧</span> </li>
                <li> <a href="{$siteurl}dianshi/72077.html" title="未婚妻" target="_blank"> <img src="http://pic5.qiyipic.com/image/20131023/a_100000798_m_601_180_236.jpg" alt="未婚妻" title="未婚妻"> <b>未婚妻</b> </a> <span>偶像剧,家庭剧,言情剧,都市剧,,高清</span> </li>
                <li> <a href="{$siteurl}dianshi/889679.html" title="婚姻时差" target="_blank"> <img src="{$siteurl}img/2015/05/23/qy/tvs/6/99452O5CU4L.jpg" alt="婚姻时差" title="婚姻时差"> <b>婚姻时差</b> </a> <span>电视剧,言情剧,家庭剧,都市,剧情</span> </li>
              </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
                <li> <a href="{$siteurl}dianshi/8702.html" title="东边日出西边雨" target="_blank"> <img src="http://img36.pplive.cn/2011/10/09/14223337289_230X306.jpg" alt="东边日出西边雨" title="东边日出西边雨"> <b>东边日出西边雨</b> </a> <span>爱情</span> </li>
                <li> <a href="{$siteurl}dianshi/7899.html" title="天之云地之雾" target="_blank"> <img src="http://img36.pplive.cn/2008/10/27/18092051223_230X306.jpg" alt="天之云地之雾" title="天之云地之雾"> <b>天之云地之雾</b> </a> <span>剧情</span> </li>
                <li> <a href="{$siteurl}dianshi/144559.html" title="黑雾" target="_blank"> <img src="{$siteurl}img/2013/12/17/funshion/tvs/5/C4Aax559882.jpg" alt="黑雾" title="黑雾"> <b>黑雾</b> </a> <span>其它</span> </li>
                <li> <a href="{$siteurl}dianshi/2063.html" title="人到四十" target="_blank"> <img src="http://i1.letvimg.com/vrs/201307/12/b03678b4b7f24db4a9e7531bdb901185.jpg" alt="人到四十" title="人到四十"> <b>人到四十</b> </a> <span>家庭剧,都市剧,言情剧,剧情</span> </li>
                <li> <a href="{$siteurl}dianshi/151341.html" title="宽恕" target="_blank"> <img src="{$siteurl}img/2013/12/24/youku/tvs/9/C524c1lK5r9.jpg" alt="宽恕" title="宽恕"> <b>宽恕</b> </a> <span>都市,时装</span> </li>
                <li> <a href="{$siteurl}dianshi/129767.html" title="谁为你作证" target="_blank"> <img src="{$siteurl}img/2013/12/06/pps/tvs/10/Q9d6V7f891F.jpg" alt="谁为你作证" title="谁为你作证"> <b>谁为你作证</b> </a> <span>警匪,悬疑,国语</span> </li>
                <li> <a href="{$siteurl}dianshi/771993.html" title="好大一个家未删减版" target="_blank"> <img src="http://img36.pplive.cn/2014/08/19/16160203420_230X306.jpg" alt="好大一个家未删减版" title="好大一个家未删减版"> <b>好大一个家未删减版</b> </a> <span>喜剧</span> </li>
                <li> <a href="{$siteurl}dianshi/17463.html" title="大人物李德林" target="_blank"> <img src="{$siteurl}img/2013/07/18/qy/tvs/3/0a9848A41Yw.jpg" alt="大人物李德林" title="大人物李德林"> <b>大人物李德林</b> </a> <span>农村剧</span> </li>
                <li> <a href="{$siteurl}dianshi/175887.html" title="国色天娇" target="_blank"> <img src="http://p2.img.cctvpic.com/fmspic/vms/image/2014/01/22/VSET_1390374750115381.jpg" alt="国色天娇" title="国色天娇"> <b>国色天娇</b> </a> <span>国色天娇</span> </li>
                <li> <a href="{$siteurl}dianshi/151658.html" title="艾米加油 DVD版" target="_blank"> <img src="{$siteurl}img/2013/12/25/youku/tvs/8/51eQ21e13Y0.jpg" alt="艾米加油 DVD版" title="艾米加油 DVD版"> <b>艾米加油 DVD版</b> </a> <span>都市,偶像,言情,时装</span> </li>
              </ul>
            </div>

          </div>
        </div>
        <div id="pagead">
          <!-- 广告位：详情页搜狗650*90 -->
          <script type="text/javascript">BAIDU_CLB_fillSlot("850361");</script>
        </div>
      </div>
      <div class="detailsSidebar">
        <div class="theStart clearfix">
          <h3>相关明星</h3>
          <ul>
            <li> <a href="{$siteurl}mingxing-5411.html" title="王志文" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/4/7z9cA5xt886.jpg" alt="王志文" title="王志文"></div>
              <span>王志文</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-4710.html" title="朱丹" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/3/59i4902o0j3.jpg" alt="朱丹" title="朱丹"></div>
              <span>朱丹</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-4524.html" title="陈好" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/6/i4Z6z2R874r.jpg" alt="陈好" title="陈好"></div>
              <span>陈好</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-5767.html" title="刘蓓" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/2/Oc0g60l83s6.jpg" alt="刘蓓" title="刘蓓"></div>
              <span>刘蓓</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-2727.html" title="白卉子" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/3/3368d8D55v9.jpg" alt="白卉子" title="白卉子"></div>
              <span>白卉子</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-812.html" title="邓伦" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/5/3482939aq38.jpg" alt="邓伦" title="邓伦"></div>
              <span>邓伦</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-1837.html" title="刘恩佑" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/1/92m1Zy1U712.jpg" alt="刘恩佑" title="刘恩佑"></div>
              <span>刘恩佑</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-15866.html" title="周采诗" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2014/01/22/v114la/dianying/9/Fw7292B893d.jpg" alt="周采诗" title="周采诗"></div>
              <span>周采诗</span> </a> </li>
            <li> <a href="{$siteurl}mingxing-6622.html" title="雷诺儿" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2014/01/21/v114la/dianying/7/935G6koA393.jpg" alt="雷诺儿" title="雷诺儿"></div>
              <span>雷诺儿</span> </a> </li>
          </ul>
        </div>
        <div style="width:300px;height:250px;">
          <!-- 广告位：详情页通用300*250 -->
          <script type="text/javascript">BAIDU_CLB_fillSlot("1005147");</script>
        </div>
        <div class="sideCont fr ingrep clearfix">
          <div class="inTitle">
            <h3 title="热门排行榜" style="margin-bottom:0px;"><a href="{$siteurl}top/tv.html" title="热门排行榜" target="_blank">热门排行榜</a></h3>
            <div class="contabs">
              <ul>
                <li class="current"><a href="javascript:;">最新</a></li>
                <li><a href="javascript:;">最热</a></li>
              </ul>
              <a href="{$siteurl}top/tv.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
          </div>
          <div class="ingrep-Cont" style="display:block;">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianshi/120283.html" title="杜拉拉之似水年华 番外篇" target="_blank">杜拉拉之似水年</a> </li>
              <li > <em>2</em> <a href="{$siteurl}dianshi/909545.html" title="我的爸爸是超人" target="_blank">我的爸爸是超人</a> </li>
              <li > <em>3</em> <a href="{$siteurl}dianshi/909071.html" title="太囧济公" target="_blank">太囧济公</a> </li>
              <li > <em>4</em> <a href="{$siteurl}dianshi/908719.html" title="新东方在线为高考加油" target="_blank">新东方在线为高</a> </li>
              <li > <em>5</em> <a href="{$siteurl}dianshi/908491.html" title="还珠格格2015" target="_blank">还珠格格201</a> </li>
              <li > <em>6</em> <a href="{$siteurl}dianshi/908489.html" title="讲究人" target="_blank">讲究人</a> </li>
              <li > <em>7</em> <a href="{$siteurl}dianshi/908487.html" title="超级同桌" target="_blank">超级同桌</a> </li>
              <li > <em>8</em> <a href="{$siteurl}dianshi/908479.html" title="迷魂谷" target="_blank">迷魂谷</a> </li>
              <li > <em>9</em> <a href="{$siteurl}dianshi/908477.html" title="怪咖chuachuachua" target="_blank">怪咖chuac</a> </li>
              <li > <em>10</em> <a href="{$siteurl}dianshi/907127.html" title="笑能当饭吃" target="_blank">笑能当饭吃</a> </li>
            </ul>
          </div>
          <div class="ingrep-Cont">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianshi/677029.html" title="武媚娘传奇" target="_blank">武媚娘传奇</a> </li>
              <li > <em>2</em> <a href="{$siteurl}dianshi/511943.html" title="古剑奇谭(TV版)" target="_blank">古剑奇谭(TV</a> </li>
              <li > <em>3</em> <a href="{$siteurl}dianshi/26575.html" title="我是特种兵2" target="_blank">我是特种兵2</a> </li>
              <li > <em>4</em> <a href="{$siteurl}dianshi/1488.html" title="天天有喜" target="_blank">天天有喜</a> </li>
              <li > <em>5</em> <a href="{$siteurl}dianshi/70707.html" title="我是特种兵之火凤凰" target="_blank">我是特种兵之火</a> </li>
              <li > <em>6</em> <a href="{$siteurl}dianshi/490415.html" title="卫子夫" target="_blank">卫子夫</a> </li>
              <li > <em>7</em> <a href="{$siteurl}dianshi/509937.html" title="勇敢的心未删减版" target="_blank">勇敢的心未删减</a> </li>
              <li > <em>8</em> <a href="{$siteurl}dianshi/853035.html" title="特警力量" target="_blank">特警力量</a> </li>
              <li > <em>9</em> <a href="{$siteurl}dianshi/755589.html" title="隋唐英雄(未删减版)" target="_blank">隋唐英雄(未删</a> </li>
              <li > <em>10</em> <a href="{$siteurl}dianshi/12519.html" title="三国" target="_blank">三国</a> </li>
            </ul>
          </div>
        </div>
        <div class="theStart project clearfix">
          <h3><span><a href="{$siteurl}zt/dianshi/">更多</a></span>精彩专题</h3>
          <ul>
            <li> <a href="{$siteurl}zt/zhuju/index.htm" title="最新电视剧大全"> <img src="{$siteurl}img/zt/2015/06/2015060415004489990.jpg" alt="最新电视剧大全" title="最新电视剧大全"> <span>最新电视剧大全</span> </a> </li>
            <li> <a href="{$siteurl}zt/dmbj/index.htm" title="盗墓笔记"> <img src="{$siteurl}img/zt/2015/05/2015052915570380003.jpg" alt="盗墓笔记" title="盗墓笔记"> <span>盗墓笔记</span> </a> </li>
            <li> <a href="{$siteurl}zt/zzchdnr/index.htm" title="抓住彩虹的男人"> <img src="{$siteurl}img/zt/2015/05/2015052515232335644.jpg" alt="抓住彩虹的男人" title="抓住彩虹的男人"> <span>抓住彩虹的男人</span> </a> </li>
            <li> <a href="/zt/dianshi/nvsms.html?0" title="承包男神的女主们"> <img src="{$siteurl}img/zt/2015/01/2015011917135760155.jpg" alt="承包男神的女主们" title="承包男神的女主们"> <span>承包男神的女主们</span> </a> </li>
          </ul>
        </div>
        <div style="width:300px;height:250px;margin-bottom:10px;">
          BAIDU_CLB_fillSlot("850365");
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" class="collectVid" value="895057">
<input type="hidden" class="videoClass" value="2">
<input type="hidden" class="videoUid" value="0">
  <include file="home:pp_footer" />

  <script type="text/javascript">
      $('.playItem li').click(function(){
          $('.playItem li a').removeClass('plHv');
          $(this).find('a').addClass('plHv');
          $('div.movieListCon').hide();
          $('.playItem .triangle').hide();
          $('div.cp_'+$(this).attr('data-value')+'_content').show();
          $(this).find('.triangle').show();
      });
  </script>
</body>
</html>
