<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>《{$vod_name}》电视剧全集 - 高清在线观看 - {$sitename}</title>
<meta name="keywords" content="{$vod_name},{$vod_name}电视剧,{$vod_name}全集,{$vod_name}在线观看,{$vod_name}下载">
    <meta name="description" content="{$vod_name}电视剧,{$vod_name}全集在线观看,{$vod_name}由{$vod_actor}等倾情演绎,主要讲述{:mb_substr(strip_tags($vod_content),0,80,'utf-8')}">
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}css/details.css" rel="stylesheet"/>
<link href="{$root}public/css/ico.css" rel="stylesheet"/>
</head>
<body channel="movie">
<include file="home:pp_header" />
<include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="moiveDetails">
    <div class="detailsTop">
      <p>您的当前位置：<a href="{$siteurl}">影视频道</a><i>></i><a href="{$siteurl}dianshi/">电视剧</a><i>></i><em>{$vod_name}</em></p>
    </div>
    <!-- 影片介绍 -->
    <div class="movieDescription clearfix">
      <div class="movieDeLeft"> <img src="{$vod_picurl}" alt="{$vod_name}" title="{$vod_name}"  width="180" height="240" />
        <div class="collection"> <a href="javascript:" class="collect"><i></i><span>收藏</span></a> <a href="javascript:" class="cancel"><i></i><span>取消</span></a> </div>
      </div>
      <div class="movieDeCenter">
        <div class="movieDeCenterTop clearfix">
          <div class="movieTitle">
            <h1 title="{$vod_name}">{$vod_name}<span>({$vod_year|default='未录入'})</span> </h1>
          </div>
          <div class="start">
            <dl>
              <dd class="fullStart"></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dt> <b>{$vod_gold}</b></dt>
            </dl>
          </div>
        </div>
        <div class="movieDeCenterCon">
          <p><span>导演：</span><notempty name="vod_director">{$vod_director|js_search_url}<else />未录入</notempty></p>
          <p><span>主演：</span><span class="v_dirRow_Wrap"><notempty name="vod_actor">{$vod_actor|js_search_url}<else />未录入</notempty></span></p>
          <p><span>类型：</span><em class="textRight">{$vod_class_name}</em></p>
          <p><span>地区：</span><em>{$vod_area_name|default='未知'}</em></p>
          <p><span>状态：</span><em class="textBd">{$vod_continu|strip_tags}</em></p>
          <p class="textAbout"> <span class="movieFl">剧情：</span> <em class="movieFr textOmit"> {:js_content_url($vod_content,$Tag)}</em>  </p>
        </div>
      </div>
      <div class="movieDeRight">

        <div class="evaluation clearfix">
            <ul class="">
                <li class="good Up"><a href="javascript:"></a><b>{$vod_up}</b></li>
                <li class="general General"><a href="javascript:"></a><b>{$vod_general}</b></li>
                <li class="poor Down"><a href="javascript:"></a><b>{$vod_down}</b></li>
            </ul>
          <span class="link1">+1</span> </div>
        <div class="shard">
          <p>分享给小伙伴们：</p>
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
        </div>
      </div>
    </div>
    <div class="detailsCon clearfix">
      <div class="detailsMain">
        <!-- 立即播放 -->
        <div class="playUrl clearfix" id="teleplay">
          <h2> <span class="feedBack"> <a href="javascript:" onClick="divcenter()">意见反馈</a> </span>
            <!-- 广告位：详情页320*30 -->
            <span style="margin-right:83px;">
            </span> <strong><span class="puTitle">《{$vod_name}》完整</span>播放地址</strong> </h2>
          <div class="playItem clearfix">
            <ul>
                <volist name="vod_playlist" id="pay" key="i">
                    <if condition="$i lt 6">
                  <li data-value="{$i}"> <a href="javascript:;" class="<if condition='$i lt 2'>plHv</if> cp_{$i}_name" title="{$pay['playername']}"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']}</a>  <span class="triangle" style=' <if condition="$i eq 1">display:block</if>'> <b></b> </span></li>
                    </if>
                </volist>
                </ul>
              <if condition="count($vod_playlist) gt 6">
                  <div class="fishSelect movieLine"> <span data-value='x'></span>
                <ul>
                    <volist name="vod_playlist" id="pay" key="i">
                        <if condition="$i gt 6">
                <li data-value="{$i}"> <a href="javascript:;" class="cp_{$i}_name"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']} </a> </li>
            </if>
                    </volist>
              </ul>
            </div>
                  </if>
          </div>
            <volist name="vod_playlist" id="pay" key="i">
          <div class="movieListCon cp_{$i}_content" style="<if condition='$i gt 1'>display: none</if>">
            <!-- 数字列表 正序-->
            <div class="movieListNum clearfix list_zhengxu" style="display:block">
              <ul class="pages_1">
                  <volist name="pay['son']" id="ppvodson" key="j">
                <li> <a href="{$siteurl}play.html?id={$vod_id}&url={:urlencode($ppvodson['playpath'])}" rel="nofollow" title="{$ppvodson.playname}" target="_blank">{$ppvodson.playname}</a> </li>
            </volist>     </ul>
            </div>
          </div>
        </volist>
            </div>

        <!-- 相关影评 -->
          <div class="playUrl clearfix">
              <h2 style="margin-bottom: 0px;"><strong>评论</strong> </h2>

          <div id="Comment" class="Comment" style="width: 636px">

          </div>
              </div>
        <!-- 猜你喜欢 -->
        <div class="youLike titleH3">
          <h2> <a href="javascript:" class="titleHv"><strong>根据《{$vod_name}》</strong>猜你喜欢</a><i></h2>
          <div class="youLikeCon">
            <div class="youLikeItem disPlay">
                <php>
                    if ($vod_class){
                    $cids = str_replace('/',',',$vod_class);//explode('/', $vod_class);
                    $list  = js_mysql_vod("cid:2;class_id:$cids;limit:11;order:vod_addtime desc");
                    }else{
                    $list  = js_mysql_vod("cid:2;limit:11;order:order:vod_hits desc,vod_addtime desc");
                    }
                </php>
                <ul>
                    <php>$j=0;</php>
                    <volist name="list" id="vod" >
                        <if condition="$vod['vod_id'] neq $vod_id">
                            <php> $j++;
                                if($j>10){break;}
                            </php>
                            <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" title="{$vod['vod_name']}"> <b>{$vod['vod_name']}</b> </a> <span>{$vod['vod_class_name']}</span> </li>
                        </if>
                    </volist>
                </ul>
            </div>


          </div>
        </div>
        <div id="pagead">
          <!-- 广告位：详情页搜狗650*90 -->
        </div>
      </div>
      <div class="detailsSidebar">

        <div style="width:300px;height:250px;">
          <!-- 广告位：详情页通用300*250 -->
            <img src="{$tpl}images/a/i_ls2.png">
        </div>
        <div class="sideCont fr ingrep clearfix">
          <div class="inTitle">
              <php>
                  if ($vod_class){
                  $cids = str_replace('/',',',$vod_class);//explode('/', $vod_class);
                  $class_id = end($cids);
                  $news  = js_mysql_vod("cid:2;class_id:$class_id;limit:10;order: vod_addtime desc");
                  $top  = js_mysql_vod("cid:2;class_id:$class_id;limit:10;order:vod_hits desc,  vod_addtime desc");
                  }else{

                  $news  = js_mysql_vod("cid:2;limit:10;order: vod_addtime desc");
                  $top  = js_mysql_vod("cid:2;limit:10;order:vod_hits desc,  vod_addtime desc");
                  }
              </php>
            <h3 title="热门排行榜" style="margin-bottom:0px;"><a href="{$siteurl}top/tv.html" title="热门排行榜" target="_blank">热门排行榜</a></h3>
            <div class="contabs">
              <ul>
                <li class="current"><a href="javascript:;">最新</a></li>
                <li><a href="javascript:;">最热</a></li>
              </ul>
              <a href="{$siteurl}top/tv.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
          </div>
          <div class="ingrep-Cont" style="display:block;">
            <ul class="foldlist  guid-col2list">
                <volist name="news" id="vod" key="i">
                    <li class="<if condition='$i eq 1'>hover</if>"> <em>{$i}</em> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a> </li>
                </volist>
            </ul>
          </div>
          <div class="ingrep-Cont">
            <ul class="foldlist  guid-col2list">
                <volist name="news" id="vod" key="i">
                    <li class="<if condition='$i eq 1'>hover</if>"> <em>{$i}</em> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a> </li>
                </volist>
            </ul>
          </div>
        </div>

        <div style="width:300px;height:250px;margin-bottom:10px;">
        </div>
      </div>
    </div>
  </div>
</div>

  <include file="home:pp_footer" />

  <script type="text/javascript">
      $('.playItem li').click(function(){
          $('.playItem li a').removeClass('plHv');
          $(this).find('a').addClass('plHv');
          $('div.movieListCon').hide();
          $('.playItem .triangle').hide();
          $('div.cp_'+$(this).attr('data-value')+'_content').show();
          $(this).find('.triangle').show();
      });
  </script>

<script language="javascript" src="{$tpl}/js/home.js"></script>
<script language="javascript">FF.History.Insert('{$vod_name}','{$vod_readurl}',10,7,'','');</script>
{$vod_hits_insert}
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>    </div>

</body>
</html>
