<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<title>{$title}</title>
<meta name="keywords" content="{$keyword}">
<meta name="description" content="{$vod_content|strip_tags}">
<link href="{$tpl}/css/style.css?v2013" rel="stylesheet"/>
<link href="{$tpl}css/details.css" rel="stylesheet"/>
<link href="{$root}public/css/ico.css" rel="stylesheet"/>
</head>
<body channel="movie">
<include file="home:pp_header" />
<include file="home:pp_nav" />
<div class="wrap clearfix">
  <div class="moiveDetails">
    <div class="detailsTop">
      <p>您的当前位置：<a href="{$siteurl}">影视频道</a><i>></i><a href="{$siteurl}dianshi/">电视剧</a><i>></i><em>{$vod_name}</em></p>
    </div>
    <!-- 影片介绍 -->
    <div class="movieDescription clearfix">
      <div class="movieDeLeft"> <img src="{$vod_picurl}" alt="{$vod_name}" title="{$vod_name}"  width="180" height="240" />
        <div class="collection"> <a href="javascript:" class="collect"><i></i><span>收藏</span></a> <a href="javascript:" class="cancel"><i></i><span>取消</span></a> </div>
      </div>
      <div class="movieDeCenter">
        <div class="movieDeCenterTop clearfix">
          <div class="movieTitle">
            <h1 title="{$vod_name}">{$vod_name}<span>({$vod_year|default='未录入'})</span> </h1>
          </div>
          <div class="start">
            <dl>
              <dd class="fullStart"></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dd></dd>
              <dt> <b>7.</b>3 </dt>
            </dl>
          </div>
        </div>
        <div class="movieDeCenterCon">
          <p><span>导演：</span><notempty name="vod_director">{$vod_director|js_search_url}<else />未录入</notempty></p>
          <p><span>主演：</span><span class="v_dirRow_Wrap"><notempty name="vod_actor">{$vod_actor|js_search_url}<else />未录入</notempty></span></p>
          <p><span>类型：</span><em class="textRight">{$vod_class_name}</em></p>
          <p><span>地区：</span><em>{$vod_area_name|default='未知'}</em></p>
          <p><span>状态：</span><em class="textBd">{$vod_continu|strip_tags}</em></p>
          <p class="textAbout"> <span class="movieFl">剧情：</span> <em class="movieFr textOmit"> {:js_content_url($vod_content,$Tag)}</em>  </p>
        </div>
      </div>
      <div class="movieDeRight">

        <div class="evaluation clearfix">
          <ul>
            <li class="good"><a href="javascript:"></a><b>18</b></li>
            <li class="general"><a href="javascript:"></a><b>1</b></li>
            <li class="poor"><a href="javascript:"></a><b>2</b></li>
          </ul>
          <span class="link1">+1</span> </div>
        <div class="shard">
          <p>分享给小伙伴们：</p>
          <div class="bdsharebuttonbox" data-tag="share_1"> <a class="bds_qzone" data-cmd="qzone"></a> <a class="bds_tsina" data-cmd="tsina"></a> <a class="bds_tqq" data-cmd="tqq"></a> <a class="bds_weixin" data-cmd="weixin"></a> <a class="bds_renren" data-cmd="renren"></a> <a class="bds_count" data-cmd="count"></a> </div>
        </div>
      </div>
    </div>
    <div class="detailsCon clearfix">
      <div class="detailsMain">
        <!-- 立即播放 -->
        <div class="playUrl clearfix" id="teleplay">
          <h2> <span class="feedBack"> <a href="javascript:" onClick="divcenter()">意见反馈</a> </span>
            <!-- 广告位：详情页320*30 -->
            <span style="margin-right:83px;">
           BAIDU_CLB_fillSlot("875984");
            </span> <strong><span class="puTitle">《{$vod_name}》完整</span>播放地址</strong> </h2>
          <div class="playItem clearfix">
            <ul>
                <volist name="vod_playlist" id="pay" key="i">
                    <if condition="$i lt 6">
                  <li data-value="{$i}"> <a href="javascript:;" class="<if condition='$i lt 2'>plHv</if> cp_{$i}_name" title="{$pay['playername']}"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']}</a>  <span class="triangle" style=' <if condition="$i eq 1">display:block</if>'> <b></b> </span></li>
                    </if>
                </volist>
                </ul>
              <if condition="count($vod_playlist) gt 6">
                  <div class="fishSelect movieLine"> <span data-value='x'></span>
                <ul>
                    <volist name="vod_playlist" id="pay" key="i">
                        <if condition="$i gt 6">
                <li data-value="{$i}"> <a href="javascript:;" class="cp_{$i}_name"> <i class="gico-site gico-{$pay['playname']}"></i>{$pay['playername']} </a> </li>
            </if>
                    </volist>
              </ul>
            </div>
                  </if>
          </div>
            <volist name="vod_playlist" id="pay" key="i">
          <div class="movieListCon cp_{$i}_content" style="<if condition='$i gt 1'>display: none</if>">
            <!-- 数字列表 正序-->
            <div class="movieListNum clearfix list_zhengxu" style="display:block">
              <ul class="pages_1">
                  <volist name="pay['son']" id="ppvodson" key="j">
                <li> <a href="{$siteurl}?s=vod-play-id-{$vod_id}&url={:urlencode($ppvodson['playpath'])}" rel="nofollow" title="{$ppvodson.playname}" target="_blank">{$ppvodson.playname}</a> </li>
            </volist>     </ul>
            </div>
          </div>
        </volist>
            </div>

        <!-- 相关影评 -->
        <!-- 猜你喜欢 -->
        <div class="youLike titleH3">
          <h2> <a href="javascript:" class="titleHv"><strong>根据《待嫁老爸》</strong>猜你喜欢</a><i>|</i> <a href="javascript:" class=""><strong>《待嫁老爸》</strong>同主演作品</a><i>|</i> </h2>
          <div class="youLikeCon">
            <div class="youLikeItem disPlay">
              <ul>
                <li> <a href="{$siteurl}dianshi/814239.html" title="妻子的谎言未删减版" target="_blank"> <img src="{$siteurl}img/2015/03/30/qy/tvs/9/9kRe1207J15.jpg" alt="妻子的谎言未删减版" title="妻子的谎言未删减版"> <b>妻子的谎言未删减版</b> </a> <span>电视剧,言情剧,都市</span> </li>
          </ul>
            </div>
            <div class="youLikeItem ">
              <ul>
                <li> <a href="{$siteurl}dianshi/8702.html" title="东边日出西边雨" target="_blank"> <img src="http://img36.pplive.cn/2011/10/09/14223337289_230X306.jpg" alt="东边日出西边雨" title="东边日出西边雨"> <b>东边日出西边雨</b> </a> <span>爱情</span> </li>
         </ul>
            </div>

          </div>
        </div>
        <div id="pagead">
          <!-- 广告位：详情页搜狗650*90 -->
          <script type="text/javascript">BAIDU_CLB_fillSlot("850361");</script>
        </div>
      </div>
      <div class="detailsSidebar">
        <div class="theStart clearfix">
          <h3>相关明星</h3>
          <ul>
            <li> <a href="{$siteurl}mingxing-5411.html" title="王志文" target="_blank">
              <div style="overflow: hidden; height: 80px;"><img src="{$siteurl}img/2013/11/19/v114la/dianying/4/7z9cA5xt886.jpg" alt="王志文" title="王志文"></div>
              <span>王志文</span> </a> </li>

          </ul>
        </div>
        <div style="width:300px;height:250px;">
          <!-- 广告位：详情页通用300*250 -->
          <script type="text/javascript">BAIDU_CLB_fillSlot("1005147");</script>
        </div>
        <div class="sideCont fr ingrep clearfix">
          <div class="inTitle">
            <h3 title="热门排行榜" style="margin-bottom:0px;"><a href="{$siteurl}top/tv.html" title="热门排行榜" target="_blank">热门排行榜</a></h3>
            <div class="contabs">
              <ul>
                <li class="current"><a href="javascript:;">最新</a></li>
                <li><a href="javascript:;">最热</a></li>
              </ul>
              <a href="{$siteurl}top/tv.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
          </div>
          <div class="ingrep-Cont" style="display:block;">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianshi/120283.html" title="杜拉拉之似水年华 番外篇" target="_blank">杜拉拉之似水年</a> </li>

            </ul>
          </div>
          <div class="ingrep-Cont">
            <ul class="foldlist  guid-col2list">
              <li class="hover"> <em>1</em> <a href="{$siteurl}dianshi/677029.html" title="武媚娘传奇" target="_blank">武媚娘传奇</a> </li>

            </ul>
          </div>
        </div>
        <div class="theStart project clearfix">
          <h3><span><a href="{$siteurl}zt/dianshi/">更多</a></span>精彩专题</h3>
          <ul>
            <li> <a href="{$siteurl}zt/zhuju/index.htm" title="最新电视剧大全"> <img src="{$siteurl}img/zt/2015/06/2015060415004489990.jpg" alt="最新电视剧大全" title="最新电视剧大全"> <span>最新电视剧大全</span> </a> </li>
                    </ul>
        </div>
        <div style="width:300px;height:250px;margin-bottom:10px;">
          BAIDU_CLB_fillSlot("850365");
        </div>
      </div>
    </div>
  </div>
</div>

  <include file="home:pp_footer" />

  <script type="text/javascript">
      $('.playItem li').click(function(){
          $('.playItem li a').removeClass('plHv');
          $(this).find('a').addClass('plHv');
          $('div.movieListCon').hide();
          $('.playItem .triangle').hide();
          $('div.cp_'+$(this).attr('data-value')+'_content').show();
          $(this).find('.triangle').show();
      });
  </script>
</body>
</html>
