<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>2015综艺节目大全-热门综艺节目排行榜-{$sitename}</title>
    <link rel="icon" href="{$siteurl}/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{$siteurl}/favicon.ico" type="image/x-icon" />
    <meta name="keywords" content="综艺节目大全，热门综艺节目，综艺节目排行榜" />
    <meta name="description" content="{$sitename}导航为您提供2015综艺节目大全，热门综艺节目，综艺节目排行榜，选秀节目、访谈节目、内地、港台、情感、音乐等综艺娱乐节目高清免费在线观看。" />
    <link href="{$tpl}/css/style.css?v2015" rel="stylesheet" />
</head>
<body>
<php>
    $vod_zy_re_xuanxiu = js_mysql_vod('cid:4;class_id:85;limit:8;order:vod_uptime desc,sort desc');
    $vod_zy_top_xuanxiu = js_mysql_vod('cid:4;class_id:85;limit:10;order:vod_uptime desc,vod_hits desc');

    $vod_zy_re_fangtan = js_mysql_vod('cid:4;class_id:87;limit:8;order:vod_uptime desc,sort desc');
    $vod_zy_top_fangtan = js_mysql_vod('cid:4;class_id:87;limit:10;order:vod_uptime desc,vod_hits desc');

    $vod_zy_re_shishang = js_mysql_vod('cid:4;class_id:93;limit:6;order:vod_uptime desc,sort desc');

    $vod_zy_re_neidi = js_mysql_vod('cid:4;area:26;limit:8;order:vod_uptime desc,sort desc');
    $vod_zy_top_neidi = js_mysql_vod('cid:4;area:26;limit:10;order:vod_uptime desc,vod_hits desc');

    $vod_zy_re_taiwan = js_mysql_vod('cid:4;area:27;limit:8;order:vod_uptime desc,sort desc');
    $vod_zy_top_taiwan= js_mysql_vod('cid:4;area:27;limit:10;order:vod_uptime desc,vod_hits desc');

    $vod_zy_re_yinyue = js_mysql_vod('cid:4;class_id:92;limit:6;order:vod_uptime desc,sort desc');

    $vod_zy_re_qinggan = js_mysql_vod('cid:4;class_id:88;limit:8;order:vod_uptime desc,sort desc');
    $vod_zy_top_qinggan = js_mysql_vod('cid:4;class_id:88;limit:10;order:vod_uptime desc,vod_hits desc');
</php>

<include file="home:pp_header" />
<include file="home:pp_nav" />
<include file="home:pp_zongyi_slider" />

<div class="wrapper" id="balance">
<dl class="subCateOli">
    <dt>筛选列表</dt>
    <dd>
        <ul class="clearfix">
            <li> <a href="{$siteurl}zongyi/0-0-0.html" class="current">全部</a> <a href="{$siteurl}zongyi/91-0-0.html" >搞笑</a> <a href="{$siteurl}zongyi/85-0-0.html" >选秀</a> <a href="{$siteurl}zongyi/88-0-0.html" >感情</a> <a href="{$siteurl}zongyi/87-0-0.html" >访谈</a> <a href="{$siteurl}zongyi/103-0-0.html" >播报</a> <a href="{$siteurl}zongyi/89-0-0.html" >生活</a> <a href="{$siteurl}zongyi/92-0-0.html" >音乐</a> <a href="{$siteurl}zongyi/98-0-0.html" >科教</a> <a href="{$siteurl}zongyi/97-0-0.html" >纪实</a> </li>
            <li> <a href="{$siteurl}zongyi/0-0-0.html" class="current">全部</a> <a href="{$siteurl}zongyi/0-26-0.html" >内地</a> <a href="{$siteurl}zongyi/0-27-0.html" >台湾</a> <a href="{$siteurl}zongyi/0-31-0.html" >香港</a> <a href="{$siteurl}zongyi/0-28-0.html" >韩国</a> <a href="{$siteurl}zongyi/0-29-0.html" >日本</a> <a href="{$siteurl}zongyi/0-30-0.html" >欧美</a> </li>
            <li class="mo"> <a href="{$siteurl}zongyi/0-0-0.html" class="current">全部</a> <a href="{$siteurl}zongyi/0-0-2015.html" >2015</a> <a href="{$siteurl}zongyi/0-0-2014.html" >2014</a> <a href="{$siteurl}zongyi/0-0-2013.html" >2013</a> <a href="{$siteurl}zongyi/0-0-2012.html" >2012</a> <a href="{$siteurl}zongyi/0-0-2011.html" >2011</a> <a href="{$siteurl}zongyi/0-0-2010.html" >2010</a> <a href="{$siteurl}zongyi/0-0-2009.html" >2009</a> <a href="{$siteurl}zongyi/0-0-2008.html" >2008</a> <a href="{$siteurl}zongyi/0-0-2007.html" >2007</a> </li>
        </ul>
    </dd>
</dl>
<!-- 广告位：影视首页热搜词 -->
<div class="comwrap topare">
    <div class="comTitle inTitle">
        <h2 title="卫视热播"><a href="{$siteurl}live/" title="卫视热播" target="_blank">卫视热播</a></h2>
    </div>
    <div class="channelist clearfix">
        <dl>
            <dt> <img src="/public/images/z01.jpg" /> <em>湖南卫视</em> </dt>
            <dd>
                <p><i></i><a href="http://www.iqiyi.com/zongyi/kldby.html" target="_blnak" rel="nofollow">快乐大本营</a></p>
                <p><i></i><a href="http://www.iqiyi.com/zongyi/ttxs.html" target="_blnak" rel="nofollow">天天向上</a></p>
                <p><i></i><a href="http://www.iqiyi.com/a_19rrguecul.html#vfrm=2-3-0-1" target="_blnak" rel="nofollow">Running Man</a></p>
            </dd>
        </dl>
        <dl>
            <dt> <img src="/public/images/z02.jpg" /> <em>东方卫视</em> </dt>
            <dd>
                <p><i></i><a href="http://www.iqiyi.com/zongyi/blty.html" target="_blnak" rel="nofollow">百里挑一</a></p>
                <p><i></i><a href="http://www.iqiyi.com/lib/m_205278114.html" target="_blnak" rel="nofollow">中国梦之声</a></p>
                <p><i></i><a href="http://www.iqiyi.com/a_19rrgue74x.html#vfrm=2-3-0-1" target="_blnak" rel="nofollow">今晚80后脱口秀</a></p>
            </dd>
        </dl>
        <dl>
            <dt> <img src="/public/images/z03.jpg" /> <em>浙江卫视</em> </dt>
            <dd>
                <p><i></i><a href="http://www.iqiyi.com/a_19rrhc0alp.html" target="_blnak" rel="nofollow">奔跑吧兄弟</a></p>
                <p><i></i><a href="http://www.letv.com/zongyi/10006111.html" target="_blnak" rel="nofollow">我不是明星</a></p>
                <p><i></i><a href="http://www.iqiyi.com/lib/m_200074514.html" target="_blnak" rel="nofollow">壹周立波秀</a></p>
            </dd>
        </dl>
        <dl>
            <dt> <img src="/public/images/z04.jpg" /> <em>天津卫视</em> </dt>
            <dd>
                <p><i></i><a href="http://www.iqiyi.com/zongyi/fnms.html" target="_blnak" rel="nofollow">非你莫属</a></p>
                <p><i></i><a href="http://www.iqiyi.com/zongyi/aqbwz.html" target="_blnak" rel="nofollow">爱情保卫战</a></p>
                <p><i></i><a href="http://www.iqiyi.com/a_19rrgja2kp.html" target="_blnak" rel="nofollow">英俊秀</a></p>
            </dd>
        </dl>
        <dl>
            <dt> <img src="/public/images/z05.jpg" /> <em>江苏卫视</em> </dt>
            <dd>
                <p><i></i><a href="http://www.iqiyi.com/lib/m_200051414.html" target="_blnak" rel="nofollow">非诚勿扰</a></p>
                <p><i></i><a href="http://www.pptv.com/page/220923.html?set_id=969732" target="_blnak" rel="nofollow">一站到底</a></p>
                <p><i></i><a href="http://www.iqiyi.com/zongyi/zlzw.html" target="_blnak" rel="nofollow">职来职往</a></p>
            </dd>
        </dl>
        <dl class="last">
            <dt> <img src="/public/images/z06.jpg" /> <em>安徽卫视</em> </dt>
            <dd>
                <p><i></i><a href="http://www.iqiyi.com/a_19rrgibgax.html#vfrm=2-3-0-1" target="_blnak" rel="nofollow">大牌驾到</a></p>
                <p><i></i><a href="http://www.iqiyi.com/zongyi/fcjjl.html" target="_blnak" rel="nofollow">非常静距离</a></p>
                <p><i></i><a href="http://www.iqiyi.com/lib/m_204863614.html" target="_blnak" rel="nofollow">说出你的故事</a></p>
            </dd>
        </dl>
    </div>
</div>
<div class="comwrap clearfix">
    <div class="leftSide fl">
        <div class="inTitle">
            <h2 title="选秀节目" pos="p01"><a href="{$siteurl}zongyi/85-0-0.html" title="选秀节目" target="_blank">选秀节目</a></h2>
            <a href="{$siteurl}zongyi/85-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_xuanxiu" id="vod">
                <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                    <p>主演：{$vod['vod_actor']}</p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="sideCont fr">
        <div class="inTitle">
            <h3 title="选秀节目排行榜"><a href="{$siteurl}top/zongyi-xuanxiu.html" title="选秀节目排行榜" target="_blank">选秀节目排行榜</a></h3>
            <a href="{$siteurl}top/zongyi-xuanxiu.html" class="more" target="_blank">完整榜单>></a> </div>
        <ul class="foldlist">
            <volist name="vod_zy_top_xuanxiu" id="vod" key="i">
                <li class="<if condition='$i eq 1'>hover</if>">
                    <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                        <div class="imr">
                            <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                            <p>类型：{$vod['vod_class_name']}</p>
                            <p>主演：{$vod['vod_actor']}</p>
                            <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                    </div>
                    <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
                </li>
            </volist>
        </ul>
    </div>
</div>
<div id="bde">
    {:getadsurl('zongyi_1')}
</div>
<div class="comwrap clearfix">
    <div class="leftSide fl">
        <div class="inTitle">
            <h2 title="访谈节目" pos="p02"><a href="{$siteurl}zongyi/87-0-0.html" title="访谈节目" target="_blank">访谈节目</a></h2>
            <a href="{$siteurl}zongyi/87-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_fangtan" id="vod">
                <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                    <p>主演：{$vod['vod_actor']}</p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="sideCont fr">
        <div class="inTitle">
            <h3 title="访谈节目排行榜"><a href="{$siteurl}top/zongyi-fangtan.html" title="访谈节目排行榜" target="_blank">访谈节目排行榜</a></h3>
            <a href="{$siteurl}top/zongyi-fangtan.html" class="more" target="_blank">完整榜单>></a> </div>
        <ul class="foldlist">
            <volist name="vod_zy_top_fangtan" id="vod" key="i">
                <li class="<if condition='$i eq 1'>hover</if>">
                    <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                        <div class="imr">
                            <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                            <p>类型：{$vod['vod_class_name']}</p>
                            <p>主演：{$vod['vod_actor']}</p>
                            <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                    </div>
                    <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
                </li>
            </volist>
        </ul>
    </div>
</div>
<!-- 广告位：影视首页文字链 -->
<div id="bad">
    <div class="linead">
        {:getadsurl('zongyi_2')}
    </div>
</div>
<div class="banComlist clearfix">
    <div class="inTitle">
        <h2 title="时尚生活专区" pos="p03"><a href="{$siteurl}zongyi/93-0-0.html" title="时尚生活专区" target="_blank">时尚生活专区</a></h2>
        <a href="{$siteurl}zongyi/93-0-0.html" class="more"  target="_blank">更多&gt;&gt;</a> </div>
    <ul class="sumgroup oneRow clearfix">
        <volist name="vod_zy_re_shishang" id="vod">
            <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
        </volist>
    </ul>
</div>
<div class="comwrap clearfix">
    <div class="leftSide fl">
        <div class="inTitle">
            <h2 title="内地节目" pos="p04"><a href="{$siteurl}zongyi/0-26-0.html" title="内地节目" target="_blank">内地节目</a></h2>
            <a href="{$siteurl}zongyi/0-26-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_neidi" id="vod">
                <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                    <p>主演：{$vod['vod_actor']}</p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="sideCont fr">
        <div class="inTitle">
            <h3 title="内地节目排行榜"><a href="{$siteurl}top/zongyi.html" title="内地节目排行榜" target="_blank">内地节目排行榜</a></h3>
            <a href="{$siteurl}top/zongyi.html" class="more" target="_blank">完整榜单>></a> </div>
        <ul class="foldlist">
            <volist name="vod_zy_top_neidi" id="vod" key="i">
                <li class="<if condition='$i eq 1'>hover</if>">
                    <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                        <div class="imr">
                            <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                            <p>类型：{$vod['vod_class_name']}</p>
                            <p>主演：{$vod['vod_actor']}</p>
                            <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                    </div>
                    <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
                </li>
            </volist>
        </ul>
    </div>
</div>
<div class="comwrap clearfix">
    <div class="leftSide fl">
        <div class="inTitle">
            <h2 pos="p05" title="台湾节目"><a href="{$siteurl}zongyi/0-27-0.html" title="台湾节目" target="_blank">台湾节目</a></h2>
            <a href="{$siteurl}zongyi/0-27-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_taiwan" id="vod">
                <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                    <p>主演：{$vod['vod_actor']}</p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="sideCont fr">
        <div class="inTitle">
            <h3 title="台湾节目排行榜"><a href="{$siteurl}top/zongyi.html" title="台湾节目排行榜" target="_blank">台湾节目排行榜</a></h3>
            <a href="{$siteurl}top/zongyi.html" class="more" target="_blank">完整榜单>></a> </div>
        <ul class="foldlist">
            <volist name="vod_zy_top_taiwan" id="vod" key="i">
                <li class="<if condition='$i eq 1'>hover</if>">
                    <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                        <div class="imr">
                            <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                            <p>类型：{$vod['vod_class_name']}</p>
                            <p>主演：{$vod['vod_actor']}</p>
                            <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                    </div>
                    <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
                </li>
            </volist>
        </ul>
    </div>
</div>
<div class="banComlist clearfix">
    <div class="inTitle">
        <h2 title="音乐专区"><a href="{$siteurl}zongyi/92-0-0.html" title="音乐专区" target="_blank">音乐专区</a></h2>
        <a href="{$siteurl}zongyi/92-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
    <ul class="sumgroup oneRow clearfix">
        <volist name="vod_zy_re_yinyue" id="vod">
            <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                <p>主演：{$vod['vod_actor']}</p>
            </li>
        </volist>
    </ul>
</div>
<div class="comwrap clearfix">
    <div class="leftSide fl">
        <div class="inTitle">
            <h2 pos="p07" title="情感节目"><a href="{$siteurl}zongyi/88-0-0.html" title="情感节目" target="_blank">情感节目</a></h2>
            <a href="{$siteurl}zongyi/88-0-0.html" class="more" target="_blank">更多&gt;&gt;</a> </div>
        <ul class="sumgroup entire clearfix">
            <volist name="vod_zy_re_qinggan" id="vod">
                <li> <a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <cite>{$vod['vod_name']}</cite> <em></em> </a>
                    <p>主演：{$vod['vod_actor']}</p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="sideCont fr">
        <div class="inTitle">
            <h3 title="情感节目排行榜"><a href="{$siteurl}top/zongyi-qinggan.html" title="情感节目排行榜" target="_blank">情感节目排行榜</a></h3>
            <a href="{$siteurl}top/zongyi-qinggan.html" class="more" target="_blank">完整榜单>></a> </div>
        <ul class="foldlist">
            <volist name="vod_zy_top_qinggan" id="vod" key="i">
                <li class="<if condition='$i eq 1'>hover</if>">
                    <div class="hisus"> <a href="{$vod['vod_readurl']}" class="img" target="_blank"> <img src="{$tpl}images/loading.gif" data-original="{$vod['vod_picurl']}" alt="{$vod['vod_name']}" /> <b>{$i}</b> </a>
                        <div class="imr">
                            <h4><a href="{$vod['vod_readurl']}" title="{$vod['vod_name']}" target="_blank">{$vod['vod_name']}</a></h4>
                            <p>类型：{$vod['vod_class_name']}</p>
                            <p>主演：{$vod['vod_actor']}</p>
                            <a href="{$vod['vod_readurl']}" class="p" target="_blank">立即播放</a> </div>
                    </div>
                    <p><em>{$i}</em><a href="{$vod['vod_readurl']}" target="_blank">{$vod['vod_name']}</a><span></span></p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="cls">&nbsp;</div>
</div>
<include file="home:pp_footer_nav" />
</div>
<include file="home:pp_footer" />
</body>
</html>
